﻿@{
    Layout = null;
}


<head>
    <meta charset="utf-8" />
</head>


<div ng-show="ShowPdfButton" id="invoice">

    <div id="accordion" style="margin:3px;">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h4 class="mb-0">
                    <button class="btn btn-info btn-block seta-btn" style="text-align:left; font-size:16px; padding:0 10px 10px 10px;" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Dados do condutor
                    </button>
                </h4>
            </div>
            <div id="collapseOne" class="collapse in" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td width="25%" align="right"><b>Nome</b> </td>
                                <td width="20%" align="left">{{CondutorData.NOME || '-'}}</td>
                                <td width="20%" align="right"><b>CPF</b> </td>
                                <td width="30%" align="left">{{CondutorData.CPF || '-'}}</td>
                            </tr>
                            <tr>
                                <td width="25%" align="right"><b>Data de nascimento</b> </td>
                                <td width="20%" align="left">{{CondutorData.DATA_NASCIMENTO || '-'}} </td>
                                <td width="20%" align="right"><b>UF</b> </td>
                                <td width="30%" align="left">{{CondutorData.UF || '-'}}</td>
                            </tr>
                            <tr>
                                <td width="25%" align="right"><b>Nome do pai</b> </td>
                                <td width="20%" align="left">{{CondutorData.NOME_PAI || '-'}}</td>
                                <td width="20%" align="right"><b>Nome da mãe</b> </td>
                                <td width="30%" align="left">{{CondutorData.NOME_MAE || '-'}} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="accordion1" style="margin:3px;">
        <div class="card">
            <div class="card-header" id="headingOne1">
                <h4 class="mb-0">
                    <button class="btn btn-info btn-block seta-btn" style="text-align:left; font-size:16px; padding:0 10px 10px 10px;" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse">
                        Dados da CNH
                    </button>
                </h4>
            </div>
            <div id="collapse1" class="collapse in" aria-labelledby="headingOne" data-parent="#accordion1">
                <div class="card-body">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td width="25%" align="right"><b>Renach</b> </td>
                                <td width="20%" align="left">{{CnhData.NUMERO_RENACH || '-'}}</td>
                                <td width="20%" align="right"><b>Número do registro</b> </td>
                                <td width="30%" align="left">{{CnhData.NUMERO_REGISTRO || '-'}} </td>
                            </tr>
                            <tr>
                                <td width="25%" align="right"><b>Categoria</b> </td>
                                <td width="20%" align="left">{{CnhData.CATEGORIA || '-'}}</td>
                                <td width="20%" align="right"><b>Data da emissão</b> </td>
                                <td width="30%" align="left">{{CnhData.DATA_EMISSAO || '-'}} </td>
                            </tr>
                            <tr>
                                <td width="25%" align="right"><b>Data de validade</b> </td>
                                <td width="20%" align="left">{{CnhData.DATA_VALIDADE || '-'}}</td>
                                <td width="20%" align="right"><b>Data da primeira habilitação</b> </td>
                                <td width="30%" align="left">{{CnhData.DATA_1_HABILITACACAO || '-'}} </td>
                            </tr>
                            <tr>
                                <td width="25%" align="right"><b>Impedimento</b> </td>
                                <td width="20%" align="left">{{CnhData.IMPEDIMENTO || '-'}}</td>
                                <td width="20%" align="right"><b>Portaria</b> </td>
                                <td width="30%" align="left">{{CnhData.PORTARIA || '-'}}</td>
                            </tr>
                            <tr>
                                <td width="25%" align="right"><b>Observação</b> </td>
                                <td width="75%" align="left" colspan="4">{{CnhData.OBSERVACAO || '-'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="accordion2" style="margin:3px;">
        <div class="card">
            <div class="card-header" id="headingOne2">
                <h4 class="mb-0">
                    <button class="btn btn-info btn-block seta-btn" style="text-align:left; font-size:16px; padding:0 10px 10px 10px;" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse">
                        Pontuação
                    </button>
                </h4>
            </div>
            <div id="collapse2" class="collapse in" aria-labelledby="headingOne" data-parent="#accordion2">
                <div class="card-body">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td width="25%" align="right"><b>Efeito suspensivo</b> </td>
                                <td width="20%" align="left">{{PontuacaoData.EFEITO_SUSPENSIVO || '-'}}</td>
                                <td width="20%" align="right"><b>Efeito suspensivo judicial</b> </td>
                                <td width="30%" align="left">{{PontuacaoData.EFEITO_SUSPENSIVO_JUD || '-'}}</td>
                            </tr>
                            <tr>
                                <td width="25%" align="right"><b>Recurso penal</b> </td>
                                <td width="20%" align="left">{{PontuacaoData.RECURSO_PENAL || '-'}}</td>
                                <td width="20%" align="right"><b>Prazo de defeza</b> </td>
                                <td width="30%" align="left">{{PontuacaoData.PRAZO_DEFESA || '-'}}</td>
                            </tr>
                            <tr>
                                <td width="25%" align="right"><b>Informações pontuáveis últimos 5 anos</b> </td>
                                <td width="20%" align="left">{{PontuacaoData.INFRACOES_PONTUAVEIS_ULTIMOS_5_ANOS || '-'}}</td>
                                <td width="20%" align="right"><b>Informações pontuáveis últimos 12 meses</b> </td>
                                <td width="30%" align="left">{{PontuacaoData.INFRACOES_PONTUAVEIS_ULTIMOS_12_MESES || '-'}}</td>
                            </tr>
                            <tr>
                                <td width="25%" align="right"><b>Informações mandatorias últimos 12 meses</b> </td>
                                <td width="20%" align="left">{{PontuacaoData.INFRACOES_MANDATORIA_ULTIMOS_12_MESES || '-'}}</td>
                                <td width="20%" align="right"><b>Informações mandatorias últimos 5 anos</b> </td>
                                <td width="30%" align="left">{{PontuacaoData.INFRACOES_MANDATORIA_ULTIMOS_5_ANOS || '-'}}</td>
                            </tr>
                            <tr>
                                <td width="25%" align="right"><b>Total de pontos</b> </td>
                                <td width="75%" align="left" colspan="4">{{PontuacaoData.TOTAL_PONTO || '-'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div id="ShowExame" ng-show="ShowExame">
        <div id="accordion3" style="margin:3px;">
            <div class="card">
                <div class="card-header" id="headingOne3">
                    <h4 class="mb-0">
                        <button class="btn btn-info btn-block seta-btn" style="text-align:left; font-size:16px; padding:0 10px 10px 10px;" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse">
                            Exames
                        </button>
                    </h4>
                </div>
                <div id="collapse3" class="collapse in" aria-labelledby="headingOne" data-parent="#accordion3">
                    <div class="remove-columns">
                        <table class="table table-bordered  table-condensed cf">
                            <thead class="cf">
                                <tr>
                                    <th>Descrição</th>
                                    <th>Cat. pretendida</th>
                                    <th>Cat. permitida</th>
                                    <th>CNPJ ent. credenciada</th>
                                    <th>CPF profissional</th>
                                    <th>Data exame</th>
                                    <th>Data validade</th>
                                    <th>Municipio exame</th>
                                    <th>Observação</th>
                                    <th>Restrições</th>
                                    <th>Resultado</th>
                                    <th>Tipo atualização</th>
                                </tr>
                            </thead>

                            <tbody ng-repeat="x in ExamesData">
                                <tr>
                                    <td data-title="Descrição">{{x.DESCEXAME || '-'}}</td>
                                    <td data-title="Catergoria pretendida">{{x.CATEGORIA_PRETENDIDA || '-'}}</td>
                                    <td data-title="Catergoria permitida">{{x.CATEGORIA_PERMITIDA || '-'}}</td>
                                    <td data-title="CNPJ Entidade credênciada">{{x.CNPJ_ENTIDADE_CREDENCIADA || '-'}}</td>
                                    <td data-title="CPF profissional">{{x.CPF_PROFISSIONAL_1 || '-'}}</td>
                                    <td data-title="Data do exame">{{x.DATA_EXAME || '-'}}</td>
                                    <td data-title="Data de validade">{{x.DATA_VALIDADE || '-'}}</td>
                                    <td data-title="Municipio do exame">{{x.MUNICIPIO_EXAME || '-'}}</td>
                                    <td data-title="Observação">{{x.OBSERVACAO || '-'}}</td>
                                    <td data-title="Restrições">{{x.RESTRICOES_X_TEXTO || '-'}}</td>
                                    <td data-title="Resultado">{{x.RESULTADO || '-'}}</td>
                                    <td data-title="Tipo de atualização">{{x.TIPO_DE_ATUALIZACAO || '-'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="ShowCurso" ng-show="ShowCurso">
        <div id="accordion4" style="margin:3px;">
            <div class="card">
                <div class="card-header" id="headingOne4">
                    <h4 class="mb-0">
                        <button class="btn btn-info btn-block seta-btn" style="text-align:left; font-size:16px; padding:0 10px 10px 10px;" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapse">
                            Cursos
                        </button>
                    </h4>
                </div>
                <div id="collapse4" class="collapse in" aria-labelledby="headingOne" data-parent="#accordion4">
                    <div class="remove-columns">
                        <table class="table table-bordered  table-condensed cf">
                            <thead class="cf">
                                <tr>
                                    <th>Descrição</th>
                                    <th>Carga horária</th>
                                    <th>Catergoria</th>
                                    <th>CNPJ Entidade credênciada</th>
                                    <th>CPF profissional</th>
                                    <th>Data do inicio do curso</th>
                                    <th>Data fim do curso</th>
                                    <th>Data de validade</th>
                                    <th>Modalidade</th>
                                    <th>Municipio do curso</th>
                                    <th>Número do certificado</th>
                                    <th>UF</th>
                                    <th>Tipo de atualização</th>
                                </tr>
                            </thead>

                            <tbody ng-repeat="x in CursosData">
                                <tr>
                                    <td data-title="Descrição">{{x.CURSODESC || '-'}} </td>
                                    <td data-title="Carga horária">{{x.CARGA_HORARIA || '-'}}</td>
                                    <td data-title="Catergoria">{{x.CATEGORIA || '-'}}</td>
                                    <td data-title="CNPJ Entidade credênciada">{{x.CNPJ_ENTIDADE_CREDENCIADA || '-'}}</td>
                                    <td data-title="CPF profissional">{{x.CPF_PROFISSIONAL || '-'}}</td>
                                    <td data-title="Data do inicio do curso">{{x.DATA_INICIO_CURSO || '-'}}</td>
                                    <td data-title="Data fim do curso">{{x.DATA_FIM_CURSO || '-'}}</td>
                                    <td data-title="Data de validade">{{x.DATA_VALIDADE || '-'}}</td>
                                    <td data-title="Modalidade">{{x.MODALIDADE || '-'}}</td>
                                    <td data-title="Municipio do curso">{{x.MUNICIPIO_CURSO || '-'}}</td>
                                    <td data-title="Número do certificado">{{x.NUMERO_CERTIFICADO || '-'}}</td>
                                    <td data-title="UF">{{x.UF_CURSO || '-'}}</td>
                                    <td data-title="Tipo de atualização">{{x.TIPO_DE_ATUALIZACAO || '-'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="ShowInfracao" ng-show="ShowInfracao">
        <div id="accordion5" style="margin:3px;">
            <div class="card">
                <div class="card-header" id="headingOne5">
                    <h4 class="mb-0">
                        <button class="btn btn-info btn-block seta-btn" style="text-align:left; font-size:16px; padding:0 10px 10px 10px;" data-toggle="collapse" data-target="#collapse5" aria-expanded="true" aria-controls="collapse">
                            Infrações
                        </button>
                    </h4>
                </div>
                <div id="collapse5" class="collapse in" aria-labelledby="headingOne" data-parent="#accordion5">
                    <div class="remove-columns">
                        <table class="table table-bordered table-condensed cf">
                            <thead class="cf">
                                <tr>
                                    <th>Descrição</th>
                                    <th>Número do auto</th>
                                    <th>Orgão autuador</th>
                                    <th>Valor</th>
                                    <th>Data da infração</th>
                                    <th>Placa</th>
                                    <th>Local</th>
                                    <th>Pontuação</th>
                                    <th>Numero da multa</th>
                                    <th>Processo</th>
                                    <th>Situação</th>
                                    <th>Responsável pelos pontos</th>
                                </tr>
                            </thead>

                            <tbody ng-repeat="x in InfracoesData">
                                <tr>
                                    <td data-title="Descrição">{{x.DESCRICAO || '-'}}</td>
                                    <td data-title="Número do auto">{{x.NUMERO_AUTO || '-'}}</td>
                                    <td data-title="Orgão autuador">{{x.ORGAO_AUTUADOR || '-'}}</td>
                                    <td data-title="Valor">{{x.VALOR || '-'}}</td>
                                    <td data-title="Data da infração">{{x.DATA_INFRACAO || '-'}}</td>
                                    <td data-title="Placa">{{x.PLACA || '-'}}</td>
                                    <td data-title="Local">{{x.LOCAL || '-'}}</td>
                                    <td data-title="Pontuação">{{x.PONTUACAO || '-'}}</td>
                                    <td data-title="Numero da multa">{{x.NUMERO_MULTA || '-'}}</td>
                                    <td data-title="Processo">{{x.PROCESSO || '-'}}</td>
                                    <td data-title="Situação">{{x.SITUACAO || '-'}}</td>
                                    <td data-title="Responsável pelos pontos">{{x.RESPONSAVEL_PONTOS || '-'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="ShowBloqueio" ng-show="ShowBloqueio">
        <div id="accordion6" style="margin:3px;">
            <div class="card">
                <div class="card-header" id="headingOne6">
                    <h4 class="mb-0">
                        <button class="btn btn-info btn-block seta-btn" style="text-align:left; font-size:16px; padding:0 10px 10px 10px;" data-toggle="collapse" data-target="#collapse6" aria-expanded="true" aria-controls="collapse">
                            Bloqueios
                        </button>
                    </h4>
                </div>
                <div id="collapse6" class="collapse in" aria-labelledby="headingOne" data-parent="#accordion6">
                    <div class="remove-columns">
                        <table class="table table-bordered table-condensed cf">
                            <thead class="cf">
                                <tr>
                                    <th>Descrição</th>
                                    <th>Inicio do bloqueio</th>
                                    <th>Fim do bloqueio</th>
                                    <th>Data do bloqueio</th>
                                    <th>Data da liberação do bloqueio</th>
                                    <th>Doc. gerador da liberação</th>
                                    <th>Doc. gerador do bloqueio</th>
                                    <th>Motivo do bloqueio</th>
                                    <th>Motivo da liberação do bloqueio</th>
                                    <th>Orgão responsável pela liberação</th>
                                    <th>Orgão responsável</th>
                                    <th>Prazo da penalidade</th>
                                    <th>Prazo total da penalidade</th>
                                    <th>Recolhimento de CNH</th>
                                    <th>Requisitos de liberação</th>
                                    <th>Tipo de atualização</th>
                                    <th>Tipo de decisão de bloqueio</th>
                                </tr>
                            </thead>

                            <tbody ng-repeat="x in BloqueiosData">
                                <tr>
                                    <td data-title="Descrição">{{x.DESCRICAO || '-'}}</td>
                                    <td data-title="Inicio do bloqueio">{{x.DATA_INI_PENALIDADE_BLOQ || '-'}}</td>
                                    <td data-title="Fim do bloqueio">{{x.DATA_FIM_PENALIDADE_BLOQ || '-'}}</td>
                                    <td data-title="Data do bloqueio">{{x.DATA_BLOQUEIO || '-'}}</td>
                                    <td data-title="Data da liberação do bloqueio">{{x.DATA_LIBERACAO_BLOQUEIO || '-'}}</td>
                                    <td data-title="Doc. gerador da liberação">{{x.DOC_GERADOR_LIBERACAO_BLOQ || '-'}}</td>
                                    <td data-title="Doc. gerador do bloqueio">{{x.DOCUMENTO_GERADOR_BLOQ || '-'}}</td>
                                    <td data-title="Motivo do bloqueio">{{x.MOTIVO_BLOQUEIO || '-'}}</td>
                                    <td data-title="Motivo da liberação do bloqueio">{{x.MOTIVO_LIBERACAO_BLOQUEIO || '-'}}</td>
                                    <td data-title="Orgão responsável pela liberação">{{x.ORGAO_RESP_LIBERACAO_BLOQ || '-'}}</td>
                                    <td data-title="Orgão responsável">{{x.ORGAO_RESPONSAVEL || '-'}}</td>
                                    <td data-title="Prazo da penalidade">{{x.PRAZO_PENALIDADE || '-'}}</td>
                                    <td data-title="Prazo total da penalidade">{{x.PRAZO_PENALIDADE_TOTAL || '-'}}</td>
                                    <td data-title="Recolhimento de CNH">{{x.RECOLHIMENTO_CNH || '-'}}</td>
                                    <td data-title="Requisitos de liberação">{{x.REQUISITOS_LIBERACAO || '-'}}</td>
                                    <td data-title="Tipo de atualização">{{x.TIPO_ATUALIZACAO || '-'}}</td>
                                    <td data-title="Tipo de decisão de bloqueio">{{x.TIPO_DECISAO_BLOQUEIO || '-'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="ShowRecurso" ng-show="ShowRecurso">
        <div id="accordion7" style="margin:3px;">
            <div class="card">
                <div class="card-header" id="headingOne7">
                    <h4 class="mb-0">
                        <button class="btn btn-info btn-block seta-btn" style="text-align:left; font-size:16px; padding:0 10px 10px 10px;" data-toggle="collapse" data-target="#collapse7" aria-expanded="true" aria-controls="collapse">
                            Recursos
                        </button>
                    </h4>
                </div>
                <div id="collapse7" class="collapse in" aria-labelledby="headingOne" data-parent="#accordion7">
                    <div class="card-body">
                        <table class="table">
                            <tbody ng-repeat="x in RecursosData">
                                <!-- Veiculo -->
                                <tr class="info">
                                    <td width="25%" align="center" colspan="4">
                                        <h4><font color="black"><b>Veiculo</b></font></h4>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="25%" align="right"><b>Marca</b> </td>
                                    <td width="20%" align="left">{{x.VEICULO.MARCA_DESC || '-'}}</td>
                                    <td width="20%" align="right"><b>Tipo</b> </td>
                                    <td width="30%" align="left">{{x.VEICULO.TIPO_DESC || '-'}}</td>
                                </tr>
                                <tr>
                                    <td width="25%" align="right"><b>Especie</b> </td>
                                    <td width="20%" align="left">{{x.VEICULO.ESPECIE_DESC || '-'}}</td>
                                    <td width="20%" align="right"><b>Categoria</b> </td>
                                    <td width="30%" align="left">{{x.VEICULO.CATEGORIA_DESC || '-'}}</td>
                                </tr>

                                <!-- Recursos da infação -->
                                <tr class="info">
                                    <td width="25%" align="center" colspan="4">
                                        <h4><font color="black"><b>Recursos da infração</b></font></h4>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="25%" align="right"><b>Orgão autuador</b> </td>
                                    <td width="20%" align="left">{{x.INFRACAO_RECURSO.ORGAO_AUTUADOR || '-'}}</td>
                                    <td width="20%" align="right"><b>Data da infração</b> </td>
                                    <td width="30%" align="left">{{x.INFRACAO_RECURSO.DATA_INFRACAO || '-'}}</td>
                                </tr>
                                <tr>
                                    <td width="25%" align="right"><b>Descrição</b> </td>
                                    <td width="20%" align="left">{{x.INFRACAO_RECURSO.DESCRICAO || '-'}}</td>
                                    <td width="20%" align="right"><b>Enquadramento</b> </td>
                                    <td width="30%" align="left">{{x.INFRACAO_RECURSO.ENQUADRAMENTO || '-'}}</td>
                                </tr>
                                <tr>
                                    <td width="25%" align="right"><b>Responsável pelos pontos</b> </td>
                                    <td width="20%" align="left">{{x.INFRACAO_RECURSO.RESPONSAVEL_PONTOS || '-'}}</td>
                                    <td width="20%" align="right"><b>Situação</b> </td>
                                    <td width="30%" align="left">{{x.INFRACAO_RECURSO.SITUACAO || '-'}}</td>
                                </tr>
                                <tr>
                                    <td width="25%" align="right"><b>Vencimento</b> </td>
                                    <td width="75%" align="left" colspan="4">{{x.INFRACAO_RECURSO.VENCIMENTO || '-'}}</td>
                                </tr>

                                <!-- Dados do processo -->
                                <tr class="info">
                                    <td width="25%" align="center" colspan="4">
                                        <h4><font color="black"><b>Dados do processo</b></font></h4>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="25%" align="right"><b>Número do processo</b> </td>
                                    <td width="20%" align="left">{{x.DADOS_PROCESSO.NUME_ROPROCESSO || '-'}}</td>
                                    <td width="20%" align="right"><b>Data do processo</b> </td>
                                    <td width="30%" align="left">{{x.DADOS_PROCESSO.DATA_PROCESSO || '-'}}</td>
                                </tr>
                                <tr>
                                    <td width="25%" align="right"><b>Situação</b> </td>
                                    <td width="20%" align="left">{{x.DADOS_PROCESSO.SITUACAO || '-'}}</td>
                                    <td width="20%" align="right"><b>Prazo de suspensão</b> </td>
                                    <td width="30%" align="left">{{x.DADOS_PROCESSO.PRAZO_SUSPENSAO || '-'}}</td>
                                </tr>
                                <tr>
                                    <td width="25%" align="right"><b>Total de multas</b> </td>
                                    <td width="20%" align="left">{{x.DADOS_PROCESSO.TOTAL_MULTAS || '-'}}</td>
                                    <td width="20%" align="right"><b>Total de pontos</b> </td>
                                    <td width="30%" align="left">{{x.DADOS_PROCESSO.TOTAL_PONTOS || '-'}}</td>
                                </tr>

                                <tr class="info" colspan="5">
                                    <td width="25%" align="center" colspan="5">
                                        <h4><font color="black"><b>Eventos</b></font></h4>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="5">
                                        <div class="remove-columns">
                                            <table class="table table-bordered  table-condensed cf">
                                                <thead class="cf">
                                                    <tr>
                                                        <th>Data</th>
                                                        <th>Descrição</th>
                                                        <th>Entregue</th>
                                                        <th>Motivo</th>
                                                        <th>Penalidade</th>
                                                        <th>Resultado</th>
                                                    </tr>
                                                </thead>

                                                <tbody ng-repeat="e in x.EVENTOS.EVENTO">
                                                    <tr>
                                                        <td data-title="Data">{{e.DATA || '-'}}</td>
                                                        <td data-title="Descrição">{{e.DESCRICAO || '-'}}</td>
                                                        <td data-title="Entregue">{{e.ENTREGUE || '-'}}</td>
                                                        <td data-title="Motivo">{{e.MOTIVO || '-'}}</td>
                                                        <td data-title="Penalidade">{{e.PENALIDADE || '-'}}</td>
                                                        <td data-title="Resultado">{{e.RESULTADO || '-'}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>