﻿@{
    Layout = null;
}


<head>
    <meta charset="utf-8" />
</head>

<div ng-show="ShowPdfButton" id="invoice">

    <div  ng-show="ConsultaAvancadaData.PesquisaCompleta || ConsultaAvancadaData.DadosVeic">
        <div id="accordion" style="margin:3px;">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h4 class="mb-0">
                        <button class="btn btn-info btn-block seta-btn" style="text-align:left; font-size:16px; padding:0 10px 10px 10px;" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Dados do veículo
                        </button>
                    </h4>
                </div>
                <div id="collapseOne" class="collapse in" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td width="25%" align="right"><b>Placa</b> </td>
                                    <td width="20%" align="left">{{veiculoData.PLACA || '-'}}</td>
                                    <td width="20%" align="right"><b>Estado</b> </td>
                                    <td width="30%" align="left">{{veiculoData.UF || '-'}}</td>
                                </tr>
                                <tr>
                                    <td width="25%" align="right"><b>Chassi</b> </td>
                                    <td width="20%" align="left">{{veiculoData.CHASSI || '-'}} </td>
                                    <td width="20%" align="right"><b>Munícipio</b> </td>
                                    <td width="30%" align="left">{{veiculoData.MUNICIPIODESC || '-'}}</td>
                                </tr>
                                <tr>
                                    <td width="25%" align="right"><b>Procedência</b> </td>
                                    <td width="20%" align="left">{{veiculoData.PROCEDENCIA == "1" ? "NACIONAL" : "IMPORTADO"}}</td>
                                    <td width="20%" align="right"><b>Renavam</b> </td>
                                    <td width="30%" align="left">{{veiculoData.RENAVAM || '-'}} </td>
                                </tr>
                                <tr>
                                    <td width="25%" align="right"><b>Ano modelo</b> </td>
                                    <td width="20%" align="left">{{veiculoData.ANOMODELO || '-'}} </td>
                                    <td width="20%" align="right"><b>Carroceria</b> </td>
                                    <td width="30%" align="left">{{veiculoData.CARROCERIADESC || '-'}}</td>
                                </tr>
                                <tr>
                                    <td width="25%" align="right"><b>Ano de fabricação</b> </td>
                                    <td width="20%" align="left">{{veiculoData.ANOFABRICACAO || '-'}}</td>
                                    <td width="20%" align="right"><b>Nr. carroceria</b> </td>
                                    <td width="30%" align="left">{{veiculoData.NR_CARROCERIA || '-'}}</td>
                                </tr>
                                <tr>
                                    <td width="25%" align="right"><b>Tipo</b> </td>
                                    <td width="20%" align="left">{{veiculoData.TIPODESC || '-'}}</td>
                                    <td width="20%" align="right"><b>Cilindrada</b> </td>
                                    <td width="30%" align="left">{{veiculoData.CILINDRADA || '-'}}</td>
                                </tr>

                                <tr>
                                    <td width="25%" align="right"><b>Cor</b> </td>
                                    <td width="20%" align="left">{{((veiculoData.COR || '') + ' ' + (veiculoData.CORDESC || '')) || '-'}}</td>
                                    <td width="20%" align="right"><b>PBT</b> </td>
                                    <td width="30%" align="left">{{veiculoData.PBT || '-'}}</td>
                                </tr>
                                <tr>
                                    <td width="25%" align="right"><b>Combustível</b> </td>
                                    <td width="20%" align="left">{{((veiculoData.COMBUSTIVEL || '') + ' ' + (veiculoData.COMBUSTIVELDESC || '')) || '-'}} </td>
                                    <td width="20%" align="right"><b>Cap. passageiro</b> </td>
                                    <td width="30%" align="left">{{parseInt(veiculoData.CAPACIDADEPASSAGEIRO) || '-'}} </td>
                                </tr>
                                <tr>
                                    <td width="25%" align="right"><b>Marca</b> </td>
                                    <td width="20%" align="left">{{veiculoData.MARCA +' '+ veiculoData.MARCADESC || '-'}}</td>
                                    <td width="20%" align="right"><b>Potência</b> </td>
                                    <td width="30%" align="left">{{veiculoData.POTENCIA || '-'}} </td>

                                </tr>
                                <tr>
                                    <td width="25%" align="right"><b>Espécie</b> </td>
                                    <td width="20%" align="left">{{((veiculoData.ESPECIE || '') + '' + (veiculoData.ESPECIEDESC || '')) || '-'}}</td>
                                    <td width="20%" align="right"><b>CMT</b> </td>
                                    <td width="30%" align="left">{{veiculoData.CMT || '-'}} </td>
                                </tr>
                                <tr>
                                    <td width="25%" align="right"><b>Cap. carga</b> </td>
                                    <td width="20%" align="left">{{veiculoData.CAPACIDADECARGA || '-'}}</td>
                                    <td width="20%" align="right"><b>Eixos</b> </td>
                                    <td width="30%" align="left">{{veiculoData.EIXOS || '-'}} </td>
                                </tr>
                                <tr>
                                    <td width="25%" align="right"><b>Categoria</b> </td>
                                    <td width="20%" align="left">{{veiculoData.CATEGORIA + veiculoData.CATEGORIADESC || '-'}}</td>
                                    <td width="20%" align="right"><b>Data alteração</b> </td>
                                    <td width="30%" align="left">{{veiculoData.DATAALTERACAO.dateAsString  || '-'}}</td>
                                </tr>
                                <tr>
                                    <td width="25%" align="right"><b>Número do motor</b> </td>
                                    <td width="20%" align="left">{{veiculoData.NUMEROMOTOR || '-'}} </td>
                                    <td width="20%" align="right"><b>Tipo remarcação do chassi</b> </td>
                                    <td width="30%" align="left">{{veiculoData.TIPOREMARCACAOCHASSI || '-'}} </td>
                                </tr>
                                <tr>

                                    <td width="20%" align="right"><b>Situação veículo</b> </td>
                                    <td width="30%" align="left">{{veiculoData.SITUACAOVEICULO || '-'}}</td>
                                </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="ConsultaAvancadaData.PesquisaCompleta || ConsultaAvancadaData.DadosProp">
        <div id="accordion1" style="margin:3px;">
            <div class="card">
                <div class="card-header" id="headingOne1">
                    <h4 class="mb-0">
                        <button class="btn btn-info btn-block seta-btn" style="text-align:left; font-size:16px; padding:0 10px 10px 10px;" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse">
                            Dados do proprietário
                        </button>
                    </h4>
                </div>
                <div id="collapse1" class="collapse in" aria-labelledby="headingOne" data-parent="#accordion1" >
                    <div class="card-body">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td width="25%" align="right"><b>Nome</b> </td>
                                    <td width="100%" colspan="3" align="left">{{proprietarioData.NOMEPROPRIETARIO || '-'}}</td>
                                </tr>
                                <tr>
                                    <td width="25%" align="right"><b>Proprietário anterior</b> </td>
                                    <td width="100%" colspan="3" align="left">{{proprietarioData.NOMEPROPRIETARIOANTERIOR || '-'}}</td>
                                </tr>
                                <tr>
                                    <td width="25%" align="right"><b>CPF/CNPJ</b> </td>
                                    <td width="20%" align="left">{{proprietarioData.CPFPROPRIETARIO || '-'}}</td>
                                    <td width="20%" align="right"><b>RG</b> </td>
                                    <td width="30%" align="left">{{proprietarioData.RG || '-'}} </td>
                                </tr>
                                <tr>
                                    <td width="25%" align="right"><b>Orgão de expedição</b> </td>
                                    <td width="20%" align="left">{{proprietarioData.ORGEXP || '-'}}</td>
                                    <td width="20%" align="right"><b>UF do orgão</b> </td>
                                    <td width="30%" align="left">{{'-'}} </td>
                                </tr>
                                <tr>
                                    <td width="25%" align="right"><b>Endereço do proprietário</b> </td>
                                    <td width="20%" align="left">{{proprietarioData.ENDERECO || '-'}}</td>
                                    <td width="20%" align="right"><b>Número</b> </td>
                                    <td width="30%" align="left">{{proprietarioData.NUMERO || '-'}}</td>
                                </tr>
                                <tr>
                                    <td width="25%" align="right"><b>Complemento</b> </td>
                                    <td width="20%" align="left">{{proprietarioData.COMPLEMENTO || '-'}}</td>
                                    <td width="20%" align="right"><b>Bairro</b> </td>
                                    <td width="30%" align="left">{{proprietarioData.BAIRRO || '-'}} </td>
                                </tr>
                                <tr>
                                    <td width="25%" align="right"><b>Cidade</b> </td>
                                    <td width="20%" align="left">{{proprietarioData.CIDADE || '-'}}</td>
                                    <td width="20%" align="right"><b>Cep</b> </td>
                                    <td width="30%" align="left">{{proprietarioData.CEP || '-'}}</td>
                                </tr>
                                <tr>
                                    <td width="25%" align="right"><b>DDD</b> </td>
                                    <td width="20%" align="left">{{proprietarioData.DDD || '-'}} </td>
                                    <td width="20%" align="right"><b>Telefone</b> </td>
                                    <td width="30%" align="left">{{proprietarioData.TELEFONE || '-'}}</td>
                                </tr>
                                <tr>
                                    <td width="25%" align="right"><b>CPF/CNPJ faturado</b> </td>
                                    <td width="20%" align="left">{{'-'}} </td>
                                    <td width="20%" align="right"><b></b> </td>
                                    <td width="30%" align="left"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="ConsultaAvancadaData.PesquisaCompleta || ConsultaAvancadaData.ArrendarioFinanceira">
        <div id="accordion2" style="margin:3px;">
            <div class="card">
                <div class="card-header" id="headingOne2">
                    <h4 class="mb-0">
                        <button class="btn btn-info btn-block seta-btn" style="text-align:left; font-size:16px; padding:0 10px 10px 10px;" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse">
                            Arrendatário / Financeira
                        </button>
                    </h4>
                </div>
                <div id="collapse2" class="collapse in" aria-labelledby="headingOne" data-parent="#accordion2">
                    <div class="card-body">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td width="25%" align="right"><b>Situação</b> </td>
                                    <td width="20%" align="left">{{gravameData.SITUACAO || '-'}}</td>
                                    <td width="20%" align="right"><b></b> </td>
                                    <td width="30%" align="left"></td>
                                </tr>
                                <tr>
                                    <td width="25%" align="right"><b>Restrição financeira</b> </td>
                                    <td width="20%" align="left">{{gravameData.TIPORESTRICAOFINANCEIRADESC || '-'}} </td>
                                    <td width="20%" align="right"><b>Nº contrato</b> </td>
                                    <td width="30%" align="left">{{gravameData.NUMEROCONTRATO || '-'}}</td>
                                </tr>
                                <tr>
                                    <td width="25%" align="right"><b>Financeira</b> </td>
                                    <td width="20%" align="left">{{gravameData.AGENTEFINANCEIRODESC || '-'}}</td>
                                    <td width="20%" align="right"><b>CNPJ financeira</b> </td>
                                    <td width="30%" align="left">{{gravameData.CNPJFINANCEIRA || '-'}} </td>
                                </tr>
                                <tr>
                                    <td width="25%" align="right"><b>Arrendatário/Financiado</b> </td>
                                    <td width="20%" align="left">{{gravameData.ARRENDATARIOFINANCIADO || '-'}}</td>
                                    <td width="20%" align="right"><b>CNPJ/CPF do financiado</b> </td>
                                    <td width="30%" align="left">{{gravameData.CNPJFINANCIADO || '-'}}</td>
                                </tr>
                                <tr>
                                    <td width="25%" align="right"><b>Data vigência contrato</b> </td>
                                    <td width="20%" align="left">{{(getFormattedDate(gravameData.DATAVIGENCIACONTRATO))|| '-'}}</td>
                                    <td width="20%" align="right"><b>Data do contrato</b> </td>
                                    <td width="30%" align="left">{{(getFormattedDate(gravameData.DATACONTRATO)) || '-'}}</td>
                                </tr>
                                <tr>
                                    <td width="25%" align="right"><b>Nome agente</b> </td>
                                    <td width="20%" align="left">{{'-'}}</td>
                                    <td width="20%" align="right"><b></b> </td>
                                    <td width="30%" align="left"></td>
                                </tr>
                                <tr>
                                    <td width="25%" align="right"><b>Data da inclusão</b> </td>
                                    <td width="20%" align="left">{{(getFormattedDate(gravameData.DATAINCLUSAOFINANCIAMENTO)) || '-'}}</td>
                                    <td width="20%" align="right"><b></b> </td>
                                    <td width="30%" align="left"></td>
                                </tr>
                                <tr>
                                    <td width="25%" align="right"><b>UF gravame</b> </td>
                                    <td width="20%" align="left">{{gravameData.UF_GRAVAME || '-'}}</td>
                                    <td width="20%" align="right"><b>Número restrição</b> </td>
                                    <td width="30%" align="left">{{gravameData.NUMERORESTRICAO || '-'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="ConsultaAvancadaData.PesquisaCompleta || ConsultaAvancadaData.IntencaoGravame">
        <div id="accordion3" style="margin:3px;">
            <div class="card">
                <div class="card-header" id="headingOne2">
                    <h4 class="mb-0">
                        <button class="btn btn-info btn-block seta-btn" style="text-align:left; font-size:16px; padding:0 10px 10px 10px;" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse">
                            Intenção de gravame
                        </button>
                    </h4>
                </div>
                <div id="collapse3" class="collapse in" aria-labelledby="headingOne" data-parent="#accordion3">
                    <div class="card-body">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td width="25%" align="right"><b>Situação</b> </td>
                                    <td width="75%" align="left" colspan="3">{{gravamE_INTENCAOData.SITUACAO || '-'}}</td>
                                </tr>
                                <tr>
                                    <td width="25%" align="right"><b>Tipo de transação</b> </td>
                                    <td width="20%" align="left">{{gravamE_INTENCAOData.TIPOTRANSACAODESC || '-'}} </td>
                                    <td width="20%" align="right"><b>Tipo de restrição financeira</b> </td>
                                    <td width="30%" align="left">{{gravamE_INTENCAOData.TIPORESTRICAOFINANCEIRADESC || '-'}}</td>
                                </tr>
                                <tr>
                                    <td width="25%" align="right"><b>Nome do agente financeiro</b> </td>
                                    <td width="20%" align="left">{{gravamE_INTENCAOData.AGENTEFINANCEIRODESC || '-'}}</td>
                                    <td width="20%" align="right"><b>CNPJ financeira</b> </td>
                                    <td width="30%" align="left">{{gravamE_INTENCAOData.CNPJFINANCEIRA || '-'}} </td>
                                </tr>
                                <tr>
                                    <td width="25%" align="right"><b>Nome do agente financiado</b> </td>
                                    <td width="20%" align="left">{{gravamE_INTENCAOData.NOMEFINANCIADO || '-'}}</td>
                                    <td width="20%" align="right"><b>CNPJ do financiado</b> </td>
                                    <td width="30%" align="left">{{gravamE_INTENCAOData.CNPJFINANCIADO || '-'}}</td>
                                </tr>
                                <tr>
                                    <td width="25%" align="right"><b>Código agente financeira</b> </td>
                                    <td width="20%" align="left">{{gravamE_INTENCAOData.AGENTEFINANCEIRO || '-'}}</td>
                                    <td width="20%" align="right"><b>Número do contrato</b> </td>
                                    <td width="30%" align="left">{{gravamE_INTENCAOData.NUMEROCONTRATOFINANC || '-'}} </td>
                                </tr>
                                <tr>
                                    <td width="25%" align="right"><b>Data vigência contrato</b> </td>
                                    <td width="20%" align="left">{{gravameData.DATAVIGENCIACONTRATO || '-'}}</td>
                                    <td width="20%" align="right"><b></b> </td>
                                    <td width="30%" align="left"></td>
                                </tr>
                                <tr>
                                    <td width="25%" align="right"><b>Data da inclusão <br /> intenção/troca financ.</b> </td>
                                    <td width="20%" align="left">{{(getFormattedDate(gravamE_INTENCAOData.DATAINCLUSAOINTENCAOTROCAFINANC))|| '-'}}</td>
                                    <td width="20%" align="right"><b>Informante do <br /> financiamento</b> </td>
                                    <td width="30%" align="left">{{'-'}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div id="accordionLicen" style="margin:3px;">
                            <div class="card">
                                <div class="card-header" id="headingOne2">
                                    <h4 class="mb-0">
                                        <button class="btn btn-info btn-block seta-btn" style="text-align:left; font-size:16px; padding:0 10px 10px 10px;" data-toggle="collapse" data-target="#collapseLicen" aria-expanded="true" aria-controls="collapse">
                                            Licenciamento
                                        </button>
                                    </h4>
                                </div>
                                <div id="collapseLicen" class="collapse in" aria-labelledby="headingOne" data-parent="#accordionLicen">
                                    <div class="card-body">
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td width="25%" align="right"><b>Exercício licenciamento</b> </td>
                                                    <td width="20%" align="left">{{veiculoData.EXERCICIOLICENCIAMENTO || '-'}}</td>
                                                    <td width="20%" align="right"><b>Data licenciamento</b> </td>
                                                    <td width="30%" align="left">{{(getFormattedDate(veiculoData.DATALICENCIAMENTO)) || '-'}}</td>
                                                </tr>
                                                <tr>
                                                    <td width="25%" align="right"><b>Data de emissão CRV</b> </td>
                                                    <td width="20%" align="left">{{(getFormattedDate(veiculoData.DATAEMISSAOCRV)) || '-'}}</td>
                                                    <td width="20%" align="right"><b>Última atualização <br />despachante </b> </td>
                                                    <td width="30%" align="left">{{'-'}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="ConsultaAvancadaData.PesquisaCompleta || ConsultaAvancadaData.Restricoes">
        <div>
            <div id="accordion4" style="margin:3px;">
                <div class="card">
                    <div class="card-header" id="headingOne2">
                        <h4 class="mb-0">
                            <button class="btn btn-info btn-block seta-btn" style="text-align:left; font-size:16px; padding:0 10px 10px 10px;" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapse">
                                Restrições
                            </button>
                        </h4>
                    </div>
                    <div id="collapse4" class="collapse in" aria-labelledby="headingOne" data-parent="#accordion4">
                        <div class="card-body">

                            <div ng-show="restricoesData.length == 0" style="padding:5px">
                                <span>Nenhuma restrição encontrada</span>
                            </div>

                            <table class="table" ng-show="restricoesData.length > 0">
                                <tbody>
                                    <tr>
                                        <td width="25%" align="right"><b>Restrição 1</b> </td>
                                        <td width="75%" align="left" colspan="3">{{restricoesData[0] || '-'}}</td>
                                    </tr>
                                    <tr>
                                        <td width="25%" align="right"><b>Restrição 2</b> </td>
                                        <td width="75%" align="left" colspan="3">{{restricoesData[1] || '-'}}</td>
                                    </tr>
                                    <tr>
                                        <td width="25%" align="right"><b>Restrição 3</b> </td>
                                        <td width="75%" align="left" colspan="3">{{restricoesData[2] || '-'}}</td>
                                    </tr>
                                    <tr>
                                        <td width="25%" align="right"><b>Restrição 4</b> </td>
                                        <td width="75%" align="left" colspan="3">{{restricoesData[3] || '-'}}</td>
                                    </tr>
                                </tbody>
                            </table>

                            <div id="accordion5" style="margin:3px;">
                                <div class="card">
                                    <div class="card-header" id="headingOne2">
                                        <h4 class="mb-0">
                                            <button class="btn btn-info btn-block seta-btn" style="text-align:left; font-size:16px; padding:0 10px 10px 10px;" data-toggle="collapse" data-target="#collapse5" aria-expanded="true" aria-controls="collapse">
                                                Comunicação de vendas
                                            </button>
                                        </h4>
                                    </div>
                                    <div id="collapse5" class="collapse in" aria-labelledby="headingOne" data-parent="#accordion5">
                                        <div class="card-body">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <td width="25%" align="right"><b>Comunicação de vendas</b> </td>
                                                        <td width="75%" align="left" colspan="3">{{comunicacaoVendaData.COMUNICACAOVENDADESC || '-'}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td width="25%" align="right"><b>Data protocolo Detran</b> </td>
                                                        <td width="20%" align="left">{{(getFormattedDate(comunicacaoVendaData.DATAPROTOCOLODETRAN)) || '-'}}</td>
                                                        <td width="20%" align="right"><b>Data nota fiscal</b> </td>
                                                        <td width="30%" align="left">{{(getFormattedDate(comunicacaoVendaData.DATANOTAFISCAL)) || '-'}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td width="25%" align="right"><b>Data inclusão</b> </td>
                                                        <td width="20%" align="left">{{(getFormattedDate(comunicacaoVendaData.DATAINCLUSAOCOMUNICACAOVENDAS)) || '-'}}</td>
                                                        <td width="20%" align="right"><b>Data venda</b> </td>
                                                        <td width="30%" align="left">{{(getFormattedDate(comunicacaoVendaData.DATAVENDA)) || '-'}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td width="25%" align="right"><b>Tipo documento comprador</b> </td>
                                                        <td width="20%" align="left">{{comunicacaoVendaData.TIPODOCTOCOMPRADOR || '-'}}</td>
                                                        <td width="20%" align="right"><b>CNPJ/CPF comprador</b> </td>
                                                        <td width="30%" align="left">{{comunicacaoVendaData.CNPJCPFCOMPRADOR || '-'}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="ConsultaAvancadaData.PesquisaCompleta || ConsultaAvancadaData.InspecaoVeicular">
        <div id="accordion6" style="margin:3px;">
            <div class="card">
                <div class="card-header" id="headingOne2">
                    <h4 class="mb-0">
                        <button class="btn btn-info btn-block seta-btn" style="text-align:left; font-size:16px; padding:0 10px 10px 10px;" data-toggle="collapse" data-target="#collapse6" aria-expanded="true" aria-controls="collapse">
                            Inspeção veicular
                        </button>
                    </h4>
                </div>
                <div id="collapse6" class="collapse in" aria-labelledby="headingOne" data-parent="#accordion6">
                    <div class="card-body">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td width="25%" align="right"><b>Inspeção veicular</b> </td>
                                    <td width="75%" align="left" colspan="3">{{inspecaoVeicularData.INSPECAOVEICULARDESC || '-'}}</td>
                                </tr>
                                <tr>
                                    <td width="25%" align="right"><b>Data da inspeção veicular</b> </td>
                                    <td width="20%" align="left">{{inspecaoVeicularData.DATAINSPECAOVEICULAR || '-'}} </td>
                                    <td width="20%" align="right"><b>Tipo de restrição financeira</b> </td>
                                    <td width="30%" align="left">{{'-'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="ConsultaAvancadaData.PesquisaCompleta || ConsultaAvancadaData.BloqueiosDetran">
        <div>
            <div id="accordionBlock" style="margin:3px;">
                <div class="card">
                    <div class="card-header" id="headingOne3">
                        <h4 class="mb-0">
                            <button class="btn btn-info btn-block seta-btn" style="text-align:left; font-size:16px; padding:0 10px 10px 10px;" data-toggle="collapse" data-target="#collapseBlock" aria-expanded="true" aria-controls="collapse">
                                Bloqueios Detran
                            </button>
                        </h4>
                    </div>
                    <div id="collapseBlock" class="collapse in" aria-labelledby="headingOne" data-parent="#accordionBlock">
                        <div class="remove-columns">
                            <div ng-show="bloqueiosDetranData.length > 0 || bloqueiosDetranData.BLOQUEIOSDETRAN == null" style="padding:5px">
                                <span>Nenhum bloqueio do Detran encontrado</span>
                            </div>

                            <table class="table table-bordered  table-condensed cf" ng-show="bloqueiosDetranData.length > 0">
                                <thead class="cf">
                                    <tr>
                                        <th>Situação</th>
                                        <th>Data de inclusão</th>
                                        <th>Número protocolo</th>
                                        <th>Ano protocolo</th>
                                        <th>Número processo</th>
                                        <th>Ano do  processo</th>
                                        <th>Número ofício</th>
                                        <th>Ano do ofício</th>
                                        <th>Munícipio do bloqueio</th>
                                        <th>Motivo</th>
                                    </tr>
                                </thead>

                                <tbody ng-repeat="x in bloqueiosDetranData">
                                    <tr>
                                        <td data-title="Situação">{{x.TIPO || '-'}}</td>
                                        <td data-title="Data de inclusão">{{x.DATAINCLUSAO || '-'}}</td>
                                        <td data-title="Número protocolo">{{x.PROTOCOLO_NUMERO || '-'}}</td>
                                        <td data-title="Ano protocolo">{{x.PROTOCOLO_ANO || '-'}}</td>
                                        <td data-title="Número processo">{{x.PROCESSO_NUMERO || '-'}}</td>
                                        <td data-title="Ano do  processo">{{x.PROCESSO_ANO || '-'}}</td>
                                        <td data-title="Número ofício">{{x.OFICIO_NUMERO || '-'}}</td>
                                        <td data-title="Ano do ofício">{{x.OFICIO_ANO || '-'}}</td>
                                        <td data-title="Munícipio do bloqueio">{{x.MUNICIPIO || '-'}}</td>
                                        <td data-title="Motivo">{{x.MOTIVO || '-'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div ng-show="ConsultaAvancadaData.PesquisaCompleta || ConsultaAvancadaData.DetalhamentoDebitos">
        <div id="accordion8" style="margin:3px;">
            <div class="card">
                <div class="card-header" id="headingOne2">
                    <h4 class="mb-0">
                        <button class="btn btn-info btn-block seta-btn" style="text-align:left; font-size:16px; padding:0 10px 10px 10px;" data-toggle="collapse" data-target="#collapse8" aria-expanded="true" aria-controls="collapse">
                            Detalhamento dos débitos
                        </button>
                    </h4>
                </div>
                <div id="collapse8" class="collapse in" aria-labelledby="headingOne" data-parent="#accordion8">
                    <div class="card-body">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td><b>IPVA</b> </td>
                                    <td class="text-center"></td>
                                    <td><b> Total IPVA </b></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td class="text-center"></td>
                                    <td>{{debitosData.IPVA}} </td>
                                </tr>
                                <tr>
                                    <td><b>IPVA divída ativa</b></td>
                                    <td class="text-center"></td>
                                    <td><b>Total IPVA Dívida ativa</b></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td class="text-center"></td>
                                    <td>{{debitosData.IPVA_DIVIDAATIVA}}</td>
                                </tr>
                                <tr>
                                    <td><b>DPVAT</b></td>
                                    <td class="text-center"></td>
                                    <td><b>Total DPVAT</b></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td class="text-center"></td>
                                    <td>{{debitosData.DPVAT}}</td>
                                </tr>
                                <tr>
                                    <td><b>Multas </b>  </td>
                                    <td class="text-center"></td>
                                    <td><b>Total multas</b></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td class="text-center"></td>
                                    <td>{{debitosData.MULTAS}}</td>
                                </tr>
                                <tr>
                                    <td><b>Licenciamento</b>  </td>
                                    <td class="text-center"></td>
                                    <td><b>Total Licenciamento</b></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td class="text-center"></td>
                                    <td>{{debitosData.LICENCIAMENTO}}</td>
                                </tr>
                                <tr class="font-bold font-black">
                                    <td colspan="2" class="text-right" style="color:red">Total geral de débitos</td>
                                    <td colspan="2">{{debitosData.TotalDebitos}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="ConsultaAvancadaData.PesquisaCompleta || ConsultaAvancadaData.DetalhamentoIPVA">
        <div>
            <div id="accordion9" style="margin:3px;">
                <div class="card">
                    <div class="card-header" id="headingOne2">
                        <h4 class="mb-0">
                            <button class="btn btn-info btn-block seta-btn" style="text-align:left; font-size:16px; padding:0 10px 10px 10px;" data-toggle="collapse" data-target="#collapse9" aria-expanded="true" aria-controls="collapse">
                                Detalhamento dos débitos - IPVA
                            </button>
                        </h4>
                    </div>
                    <div id="collapse9" class="collapse in" aria-labelledby="headingOne" data-parent="#accordion9">
                        <div class="card-body">
                            <div class="remove-columns">
                                <div ng-show="debitosIPVAData.length == 0" style="padding:5px">
                                    <span>Não há débitos de IPVA para exibir</span>
                                </div>

                                <table class="table table-bordered  table-condensed cf" ng-show="debitosIPVAData.length > 0">
                                    <thead class="cf">
                                        <tr>
                                            <th>Exercício</th>
                                            <th>Cota</th>
                                            <th>Valor</th>
                                            <th>Data vencimento</th>
                                            <th>Origem</th>
                                        </tr>
                                    </thead>
                                    <tbody ng-repeat="m in debitosIPVAData">
                                        <tr>
                                            <td data-title="Exercício">{{m.ANOREF || '-'}}</td>
                                            <td data-title="Cota">{{m.COTAIPVADES || '-'}}</td>
                                            <td data-title="Valor">{{m.VALIPVA || '-'}}</td>
                                            <td data-title="Data vencimento">{{(getFormattedDate(m.DTVENCTOIPVA)) || '-'}}</td>
                                            <td data-title="Origem">{{m.ORIGEM || '-'}}</td>
                                        </tr>
                                        <tr></tr>
                                    </tbody>
                                </table>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="ConsultaAvancadaData.PesquisaCompleta || ConsultaAvancadaData.DetalhamentoDPVAT">
        <div>
            <div id="accordion10" style="margin:3px;">
                <div class="card">
                    <div class="card-header" id="headingOne2">
                        <h4 class="mb-0">
                            <button class="btn btn-info btn-block seta-btn" style="text-align:left; font-size:16px; padding:0 10px 10px 10px;" data-toggle="collapse" data-target="#collapse10" aria-expanded="true" aria-controls="collapse">
                                Detalhamento dos débitos - DPVAT
                            </button>
                        </h4>
                    </div>
                    <div id="collapse10" class="collapse in" aria-labelledby="headingOne" data-parent="#accordion10">
                        <div class="card-body">

                            <div class="remove-columns">
                                <div ng-show="debitosDPVATData.length == 0" style="padding:5px">
                                    <span>Não há débitos de DPVAT para exibir</span>
                                </div>

                                <table class="table table-bordered  table-condensed cf" ng-show="debitosDPVATData.length > 0">
                                    <thead class="cf">
                                        <tr>
                                            <th>Categoria</th>
                                            <th>Exercício</th>
                                            <th>Nro parcela</th>
                                            <th>Valor</th>
                                            <th>Data vencimento</th>
                                        </tr>
                                    </thead>
                                    <tbody ng-repeat="x in debitosDPVATData">
                                        <tr>
                                            <td data-title="Categoria">{{x.CATEGORIA || '-'}}</td>
                                            <td data-title="Exercício">{{x.ANOREF || '-'}}</td>
                                            <td data-title="Nro parcela">{{x.NUMPARCELA || '-'}}</td>
                                            <td data-title="Valor">{{x.VALDPVAT || '-'}}</td>
                                            <td data-title="Data vencimento">{{(getFormattedDate(x.DTVENCTODPVAT)) || '-'}}</td>
                                        </tr>
                                        <tr></tr>
                                    </tbody>
                                </table>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div >
        <div ng-show="ConsultaAvancadaData.PesquisaCompleta || ConsultaAvancadaData.DetalhamentoMultas"> @*ng-show="multasData.length > 0"*@
            <div id="accordion11" style="margin:3px;">
                <div class="card">
                    <div class="card-header" id="headingOne2">
                        <h4 class="mb-0">
                            <button class="btn btn-info btn-block seta-btn" style="text-align:left; font-size:16px; padding:0 10px 10px 10px;" data-toggle="collapse" data-target="#collapse11" aria-expanded="true" aria-controls="collapse">
                                Detalhamento das multas
                            </button>
                        </h4>
                    </div>
                    <div id="collapse11" class="collapse in" aria-labelledby="headingOne" data-parent="#accordion10">
                        <div class="card-body">
                            <div class="remove-columns">

                                <div ng-show="multasData.length == 0" style="padding:5px">
                                    <span>Nenhuma multa encontrada</span>
                                </div>

                                <table class="table table-bordered  table-condensed cf" ng-show="multasData.length > 0">
                                    <thead class="cf">
                                        <tr>
                                            <th>AIIP</th>
                                            <th>Guia</th>
                                            <th>Dt. Hr. infração</th>
                                            <th>Data vencimento</th>
                                            <th>Valor</th>
                                            <th>Enquadramento</th>
                                            <th>Munícipio</th>
                                            <th>Local</th>
                                            <th>Orgão autuador</th>
                                            <th>Tipo</th>
                                        </tr>
                                    </thead>
                                    <tbody ng-repeat="x in multasData" >
                                        <tr>
                                            <td data-title="AIIP">{{x.NUMAIIP || '-'}}</td>
                                            <td data-title="Guia">{{x.NUMGUIA || '-'}}</td>
                                            <td data-title="Dt. Hr. infração">{{x.DTINFRA}}&nbsp;{{x.HORAINFRA}} </td>
                                            <td data-title="Data vencimento">{{x.DTVENCTOINFRA || '-'}}</td>
                                            <td data-title="Valor">{{x.VALMULTA || '-'}}</td>
                                            <td data-title="Enquadramento">{{x.ENQUADRAMDESC || '-'}}</td>
                                            <td data-title="Munícipio">{{x.MUNINFRADESC || '-'}}</td>
                                            <td data-title="Local">{{x.LOCALINFRA || '-'}}</td>
                                            <td data-title="Orgão autuador">{{x.NOMEENTTRANSITANT || '-'}}</td>
                                            <td data-title="Tipo">{{x.NOTIFICACAO == "1" ? "Notificação" : "Infração"}}</td>
                                        </tr>
                                        <tr></tr>
                                    </tbody>
                                </table>
                               
                            </div>                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
