﻿@{
    Layout = null;
}


<head>
    <meta charset="utf-8" />
</head>


<div id="ShowBloqueio" ng-show="AuditoriaData.length > 0">
    <div id="accordion6" style="margin:3px;">
        <div class="card">
            <div class="card-header" id="headingOne6">
                <h4 class="mb-0">
                    <button class="btn btn-primary btn-block seta-btn" style="text-align:left; font-size:16px; padding:0 10px 10px 10px;" data-toggle="collapse" data-target="#collapse6" aria-expanded="true" aria-controls="collapse">
                        Auditoria
                    </button>
                </h4>
            </div>
            <div id="collapse6" class="collapse in" aria-labelledby="headingOne" data-parent="#accordion6">
                <div class="remove-columns">
                    <table class="table table-bordered table-condensed cf">
                        <thead class="cf">
                            <tr>
                                <th>Data</th>
                                <th>Usuário</th>
                                <th>Descrição</th>
                            </tr>
                        </thead>

                        <tbody ng-repeat="x in AuditoriaData">
                            <tr>
                                <td data-title="Data">{{x.DataHora | date :  "dd.MM.y HH:mm" || '-'}}</td>
                                <td data-title="Usuário">{{x.Usuario || '-'}}</td>
                                <td data-title="Descrição">{{x.Descricao | translate}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>