﻿@using Microsoft.AspNetCore.Identity
@inject UserManager<EntityLayer.Models.ApplicationUser> UserManager

@*@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet*@
<!DOCTYPE html>
<html lang="pt-br" ng-app="myApp">
<head>

    <link rel="stylesheet" type="text/css" href="~/css/Main.css">

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>@ViewData["Title"] - SGDExpress</title>

    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/images/icons/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/images/icons/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/images/icons/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/images/icons/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/assets/images/icons/favicon.png">

    <link rel="stylesheet" type="text/css" href="/assets/bootstrap/css/bootstrap.css">

    <!-- HELPERS -->
    <link rel="stylesheet" type="text/css" href="~/assets/helpers/animate.css">
    <link rel="stylesheet" type="text/css" href="~/assets/helpers/backgrounds.css">
    <link rel="stylesheet" type="text/css" href="~/assets/helpers/boilerplate.css">
    <link rel="stylesheet" type="text/css" href="~/assets/helpers/border-radius.css">
    <link rel="stylesheet" type="text/css" href="~/assets/helpers/grid.css">
    <link rel="stylesheet" type="text/css" href="~/assets/helpers/page-transitions.css">
    <link rel="stylesheet" type="text/css" href="~/assets/helpers/spacing.css">
    <link rel="stylesheet" type="text/css" href="~/assets/helpers/typography.css">
    <link rel="stylesheet" type="text/css" href="~/assets/helpers/utils.css">
    <link rel="stylesheet" type="text/css" href="~/assets/helpers/colors.css">

    <!-- ELEMENTS -->
    <link rel="stylesheet" type="text/css" href="~/assets/elements/badges.css">
    <link rel="stylesheet" type="text/css" href="~/assets/elements/buttons.css">
    <link rel="stylesheet" type="text/css" href="~/assets/elements/content-box.css">
    <link rel="stylesheet" type="text/css" href="~/assets/elements/dashboard-box.css">
    <link rel="stylesheet" type="text/css" href="~/assets/elements/forms.css">
    <link rel="stylesheet" type="text/css" href="~/assets/elements/images.css">
    <link rel="stylesheet" type="text/css" href="~/assets/elements/info-box.css">
    <link rel="stylesheet" type="text/css" href="~/assets/elements/loading-indicators.css">
    <link rel="stylesheet" type="text/css" href="~/assets/elements/menus.css">
    <link rel="stylesheet" type="text/css" href="~/assets/elements/panel-box.css">
    <link rel="stylesheet" type="text/css" href="~/assets/elements/response-messages.css">
    <link rel="stylesheet" type="text/css" href="~/assets/elements/responsive-tables.css">

    <!-- ICONS -->
    <link rel="stylesheet" type="text/css" href="~/assets/icons/fontawesome/fontawesome.css">
    <link rel="stylesheet" type="text/css" href="~/assets/icons/linecons/linecons.css">
    <link rel="stylesheet" type="text/css" href="/assets/icons/spinnericon/spinnericon.css">

    <!-- WIDGETS -->
    <link rel="stylesheet" type="text/css" href="/assets/widgets/accordion-ui/accordion.css">
    <link rel="stylesheet" type="text/css" href="../../assets/widgets/datatable/datatable.css">

    <link rel="stylesheet" type="text/css" href="/assets/widgets/dropdown/dropdown.css">
    <link rel="stylesheet" type="text/css" href="/assets/widgets/jgrowl-notifications/jgrowl.css">
    <link rel="stylesheet" type="text/css" href="/assets/widgets/loading-bar/loadingbar.css">
    <link rel="stylesheet" type="text/css" href="/assets/widgets/markdown/markdown.css">
    <link rel="stylesheet" type="text/css" href="/assets/widgets/modal/modal.css">
    <link rel="stylesheet" type="text/css" href="/assets/widgets/multi-upload/fileupload.css">

    <link rel="stylesheet" type="text/css" href="/assets/widgets/nestable/nestable.css">
    <link rel="stylesheet" type="text/css" href="/assets/widgets/noty-notifications/noty.css">
    <link rel="stylesheet" type="text/css" href="/assets/widgets/popover/popover.css">
    <link rel="stylesheet" type="text/css" href="/assets/widgets/progressbar/progressbar.css">
    <link rel="stylesheet" type="text/css" href="/assets/widgets/slidebars/slidebars.css">
    <link rel="stylesheet" type="text/css" href="/assets/widgets/slider-ui/slider.css">
    <link rel="stylesheet" type="text/css" href="/assets/widgets/summernote-wysiwyg/summernote-wysiwyg.css">
    <link rel="stylesheet" type="text/css" href="/assets/widgets/tabs-ui/tabs.css">
    <link rel="stylesheet" type="text/css" href="/assets/widgets/theme-switcher/themeswitcher.css">
    <link rel="stylesheet" type="text/css" href="/assets/widgets/tocify/tocify.css">
    <link rel="stylesheet" type="text/css" href="/assets/widgets/tooltip/tooltip.css">
    <link rel="stylesheet" type="text/css" href="/assets/widgets/touchspin/touchspin.css">
    <link rel="stylesheet" type="text/css" href="/assets/widgets/uniform/uniform.css">
    <link rel="stylesheet" type="text/css" href="/assets/widgets/wizard/wizard.css">
    
    <link rel="stylesheet" type="text/css" href="/assets/snippets/notification-box.css">
    <link rel="stylesheet" type="text/css" href="/assets/snippets/progress-box.css">
    <link rel="stylesheet" type="text/css" href="/assets/snippets/todo.css">
    <link rel="stylesheet" type="text/css" href="/assets/snippets/user-profile.css">
    <link rel="stylesheet" type="text/css" href="/assets/snippets/mobile-navigation.css">

    <link rel="stylesheet" type="text/css" href="/assets/themes/admin/layout.css">
    <link rel="stylesheet" type="text/css" href="/assets/themes/admin/color-schemes/default.css">
    
    <link rel="stylesheet" type="text/css" href="/assets/themes/components/default.css">
    <link rel="stylesheet" type="text/css" href="/assets/themes/components/border-radius.css">

    <!-- Admin responsive -->
    <link rel="stylesheet" type="text/css" href="/assets/helpers/responsive-elements.css">
    <link rel="stylesheet" type="text/css" href="/assets/helpers/admin-responsive.css">

    <!-- JS Core -->
    <script type="text/javascript" src="/assets/js-core/jquery-core.js"></script>
    <script type="text/javascript" src="/assets/js-core/jquery-ui-core.js"></script>
    <script type="text/javascript" src="/assets/js-core/jquery-ui-widget.js"></script>
    <script type="text/javascript" src="/assets/js-core/jquery-ui-mouse.js"></script>
    <script type="text/javascript" src="/assets/js-core/jquery-ui-position.js"></script>
    <script type="text/javascript" src="/assets/js-core/modernizr.js"></script>
    <script type="text/javascript" src="/assets/js-core/jquery-cookie.js"></script>   
    <link href="/css/font-awesome.css" rel="stylesheet" />

    <script type="text/javascript">
        $(window).load(function () {
            setTimeout(function () {
                $('#loading').fadeOut(400, "linear");

            }, 300);
        });
    </script>
    
    <style>
        i.fa {
            font-size: 13px;
        }

        a.btn.btn-default {
            font-size: 13px;
        }
    </style>
    
</head>
<body ng-controller="HomeCntrl" id="HomeCntrl" ng-init="GetCurrentUserDetails()">
    
    <div id="sb-site" ng-init="test()">
        <div id="loading">
            <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>
        <div id="page-wrapper">
            <div id="page-header" class="bg-gradient-9">
                <div id="mobile-navigation">
                    <button id="nav-toggle" class="collapsed" data-toggle="collapse" data-target="#page-sidebar"><span></span></button>
                    <a href="/Home/Index" class="logo-content-small" title="JConsultas"></a>
                </div>
                <div id="header-logo" class="logo-bg">
                    <a href="/Home/SingleDocumentSearch" class="logo-content-big" title="JConsultas">
                        SGDExpress
                    </a>
                    <a href="/Home/SingleDocumentSearch" class="logo-content-small" title="MonarchUI">
                        SGDExpress
                    </a>
                    <a id="close-sidebar" href="#" title="Close sidebar">
                        <i class="glyph-icon icon-angle-left"></i>
                    </a>
                </div>
                <div id="header-nav-left">
                    <div class="user-account-btn dropdown">
                        <a href="#" title="My Account" class="user-profile clearfix" data-toggle="dropdown">
                            <img width="28" alt="Profile image" id="ProfileImage" onerror="this.src='../../assets/image-resources/noimage.png'">
                            <span style="text-transform:uppercase;font-weight:bold;">{{User.Name}} {{User.LastName}} -{{User.AccountName}} </span>
                            <i class="glyph-icon icon-angle-down"></i>
                        </a>
                        <div class="dropdown-menu float-left" style="border:1px solid #0096D4">
                            <div class="box-sm">
                                <div class="login-box clearfix">
                                    <div class="user-img">
                                        <img alt="" width="150" height="60" id="ProfileImage2" onerror="this.src='../../assets/image-resources/noimage.png'">
                                    </div>
                                    <div class="user-info" style="margin-top: 10px;text-transform:uppercase;font-weight:bold;">
                                        <span>
                                            {{User.Name}} {{User.LastName}} <br />{{User.AccountName}}<i>{{User.AccountName}} </i>
                                        </span>
                                    </div>
                                </div>
                                <div class="pad5A button-pane button-pane-alt text-center" style="border-top: 1px solid #0096D4;">
                                    <div class="col-sm-6 col-xs-6 text-left">
                                        <a href="/Home/EditProfile" title="Edit profile" class="display-block font-normal" style="color:blue">Editar perfil</a>
                                    </div>
                                    <div class="col-sm-6 col-xs-6">
                                        <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
                                            <button type="submit" class="btn display-block font-normal btn-danger btn-xs pull-right"><i class="glyph-icon icon-power-off"></i>&nbsp;Sair</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- #header-nav-left -->
                <div id="header-nav-right">
                    <a href="#" class="hdr-btn" id="fullscreen-btn" title="Fullscreen">
                        <i class="glyph-icon icon-arrows-alt"></i>
                    </a>

                    <script type="text/javascript">
                        $(document).ready(function () {
                            $("#logout-btn").click(function () {
                                $("#LockForm").submit();
                            });
                        });
                    </script>
                </div>
                <!-- #header-nav-right -->
            </div>
            <div id="page-sidebar">
                <div class="scroll-sidebar">
                    <ul id="sidebar-menu">
                        <li class="header"><span>{{'COMPONENTS'| translate}}</span></li>

                        <li ng-show="Profile.UserMaster || Profile.ProfileName=='Admin User'" class="sfHover">
                            <a href="javascript:void(0);" title="Admin geral">
                                @*<i class="glyph-icon icon-linecons-key"></i>*@
                                <span style="margin:5px">Admin geral</span>
                            </a>
                            <div class="sidebar-submenu" style="display: block;">
                                <ul>
                                    <li>
                                        <a href="/Home/AdminUser" title="{{'AdminUser'| translate}}">
                                            <span>{{'AdminUser'| translate}}</span>
                                        </a>
                                    </li>

                                    <li ng-show="Profile.ProfileName=='Admin User'">
                                        <a href="/Home/Account" title="{{'Account_Master'| translate}}">
                                            <span>{{'Account_Master'| translate}}</span>
                                        </a>
                                    </li>

                                    <li ng-show="Profile.UserMaster || Profile.ProfileName=='Admin User'">
                                        <a href="/Home/Profile" title="{{'Profile'| translate}}">
                                            <span>{{'Profile'| translate}}</span>
                                        </a>
                                    </li>
                                    
                                </ul>
                            </div>
                        </li>

                        <li ng-show="Profile.UserMaster || Profile.ProfileName=='Admin User'" class="sfHover">
                            <a href="javascript:void(0);" title="Admin cliente">
                                @*<i class="glyph-icon icon-linecons-key"></i>*@
                                <span style="margin:5px">Admin cliente</span>
                            </a>
                            <div class="sidebar-submenu" style="display: block;">
                                <ul>
                                    <li ng-show="Profile.UserMaster || Profile.ProfileName=='Admin User'">
                                        <a href="/Home/User" title="{{'User_Master'| translate}}">
                                            <span>{{'User_Master'| translate}}</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li ng-show="Profile.BatchSearch || Profile.SingleSearch || Profile.ProfileName=='Admin User'" class="sfHover">
                            <a href="javascript:void(0);" title="Veículos">
                                @*<i class="glyph-icon icon-linecons-diamond"></i>*@
                                <span style="margin:5px">Veículos</span>
                            </a>
                            <div class="sidebar-submenu" style="display: block;">
                                <ul>
                                    <li ng-show="Profile.SingleSearch || Profile.ProfileName=='Admin User'">
                                        <a href="/Home/SingleDocumentSearch" title="{{'SingleDocumentSearch'| translate}}">
                                            <span>{{'SingleDocumentSearch'| translate}}</span>
                                        </a>
                                    </li>

                                    <li ng-show="Profile.SingleSearch || Profile.ProfileName=='Admin User'">
                                        <a href="/Home/ListOfSearchedDocs" title="Histórico de consultas">
                                            <span>Histórico consultas</span>
                                        </a>
                                    </li>

                                    <li ng-show="Profile.BatchSearch || Profile.ProfileName=='Admin User'">
                                        <a href="/Home/MultipleDocSearch" title="{{'MultipleDocSearch'| translate}}">
                                            <span>{{'MultipleDocSearch'| translate}}</span>
                                        </a>
                                    </li>

                                    <li ng-show="Profile.BatchSearch || Profile.ProfileName=='Admin User'">
                                        <a href="/Home/ListOfMultipleSearch" title="{{'ListOfMultipleSearch'| translate}}">
                                            <span>{{'ListOfMultipleSearch'| translate}}</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>


                        <li ng-show="Profile.ConsultaMotoristaLote || Profile.ConsultaMotorista ||  Profile.ProfileName=='Admin User'" class="sfHover">
                            <a href="javascript:void(0);" title="Motorista">
                                @*<i class="glyph-icon icon-linecons-doc"></i>*@
                                <span style="margin:5px">Motorista</span>
                            </a>
                            <div class="sidebar-submenu" style="display: block;">
                                <ul>
                                    <li ng-show="Profile.ConsultaMotorista || Profile.ProfileName=='Admin User'">
                                        <a href="/Home/ConsultaCNH" title="Consulta">
                                            <span>Consulta</span>
                                        </a>
                                    </li>

                                    <li ng-show="Profile.ConsultaMotorista || Profile.ProfileName=='Admin User'">
                                        <a href="/Home/ListaCNHBuscadas" title="Histórico de consultas">
                                            <span>Histórico consultas</span>
                                        </a>
                                    </li>

                                    <li ng-show="Profile.ConsultaMotoristaLote|| Profile.ProfileName=='Admin User'">
                                        <a href="/Home/BuscaEmLoteCNH" title="Consulta em lote">
                                            <span>Consulta em lote</span>
                                        </a>
                                    </li>

                                    <li ng-show="Profile.ConsultaMotoristaLote|| Profile.ProfileName=='Admin User'">
                                        <a href="/Home/ListaBuscaEmLoteCNH" title="Histórico consulta em lote">
                                            <span>Histórico consulta em lote</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="sfHover">
                            <a href="javascript:void(0);" title="Integração">
                                @*<i class="glyph-icon icon-linecons-key"></i>*@
                                <span style="margin:5px">Integração</span>
                            </a>
                            <div class="sidebar-submenu" style="display: block;">
                                <ul>
                                    <li>
                                        <a href="/Home/Help" title="Informações API veículo">
                                            <span>Informações API veículo</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/Home/HelpMotorista" title="Informações API motorista">
                                            <span>Informações API motorista</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="divider">

                        </li>
                        <li>
                            <br />
                        </li>

                        <li style="text-align:center">

                            <span style="font-size: smaller; font-style:italic; ">Versão: 1.1.1</span>
                        </li>
                    </ul>
                    <!-- #sidebar-menu -->     
                </div>
            </div>
            
            <div id="page-content-wrapper">
                <div id="page-content">
                    <div class="container">

                        <div id="page-title">
                            <h2>@ViewData["Title"] </h2>
                            @*<div id="theme-options" class="admin-options">
                                <a href="javascript:void(0);" class="btn btn-primary theme-switcher tooltip-button" data-placement="left" title="">
                                    <i class="glyph-icon icon-linecons-cog icon-spin"></i>
                                </a>
                                <div id="theme-switcher-wrapper">
                                    <div class="scroll-switcher">
                                        <h5 class="header">Layout options</h5>
                                        <ul class="reset-ul">
                                            <li>
                                                <label for="boxed-layout">Boxed layout</label>
                                                <input type="checkbox" data-toggletarget="boxed-layout" id="boxed-layout" class="input-switch-alt">
                                            </li>
                                            <li>
                                                <label for="fixed-header">Fixed header</label>
                                                <input type="checkbox" data-toggletarget="fixed-header" id="fixed-header" class="input-switch-alt">
                                            </li>
                                            <li>
                                                <label for="fixed-sidebar">Fixed sidebar</label>
                                                <input type="checkbox" data-toggletarget="fixed-sidebar" id="fixed-sidebar" class="input-switch-alt">
                                            </li>
                                            <li>
                                                <label for="closed-sidebar">Closed sidebar</label>
                                                <input type="checkbox" data-toggletarget="closed-sidebar" id="closed-sidebar" class="input-switch-alt">
                                            </li>
                                        </ul>
                                        <div class="boxed-bg-wrapper hide">
                                            <h5 class="header">
                                                Boxed Page Background
                                                <a class="set-background-style" data-header-bg="" title="Remove all styles" href="javascript:void(0);">Clear</a>
                                            </h5>
                                            <div class="theme-color-wrapper clearfix">
                                                <h5>Patterns</h5>
                                                <a class="tooltip-button set-background-style pattern-bg-3" data-header-bg="pattern-bg-3" title="Pattern 3" href="javascript:void(0);">Pattern 3</a>
                                                <a class="tooltip-button set-background-style pattern-bg-4" data-header-bg="pattern-bg-4" title="Pattern 4" href="javascript:void(0);">Pattern 4</a>
                                                <a class="tooltip-button set-background-style pattern-bg-5" data-header-bg="pattern-bg-5" title="Pattern 5" href="javascript:void(0);">Pattern 5</a>
                                                <a class="tooltip-button set-background-style pattern-bg-6" data-header-bg="pattern-bg-6" title="Pattern 6" href="javascript:void(0);">Pattern 6</a>
                                                <a class="tooltip-button set-background-style pattern-bg-7" data-header-bg="pattern-bg-7" title="Pattern 7" href="javascript:void(0);">Pattern 7</a>
                                                <a class="tooltip-button set-background-style pattern-bg-8" data-header-bg="pattern-bg-8" title="Pattern 8" href="javascript:void(0);">Pattern 8</a>
                                                <a class="tooltip-button set-background-style pattern-bg-9" data-header-bg="pattern-bg-9" title="Pattern 9" href="javascript:void(0);">Pattern 9</a>
                                                <a class="tooltip-button set-background-style pattern-bg-10" data-header-bg="pattern-bg-10" title="Pattern 10" href="javascript:void(0);">Pattern 10</a>
                                                <div class="clear"></div>
                                                <h5 class="mrg15T">Solids &amp;Images</h5>
                                                <a class="tooltip-button set-background-style bg-black" data-header-bg="bg-black" title="Black" href="javascript:void(0);">Black</a>
                                                <a class="tooltip-button set-background-style bg-gray mrg10R" data-header-bg="bg-gray" title="Gray" href="javascript:void(0);">Gray</a>
                                                <a class="tooltip-button set-background-style full-bg-1" data-header-bg="full-bg-1 fixed-bg" title="Image 1" href="javascript:void(0);">Image 1</a>
                                                <a class="tooltip-button set-background-style full-bg-2" data-header-bg="full-bg-2 fixed-bg" title="Image 2" href="javascript:void(0);">Image 2</a>
                                                <a class="tooltip-button set-background-style full-bg-3" data-header-bg="full-bg-3 fixed-bg" title="Image 3" href="javascript:void(0);">Image 3</a>
                                                <a class="tooltip-button set-background-style full-bg-4" data-header-bg="full-bg-4 fixed-bg" title="Image 4" href="javascript:void(0);">Image 4</a>
                                                <a class="tooltip-button set-background-style full-bg-5" data-header-bg="full-bg-5 fixed-bg" title="Image 5" href="javascript:void(0);">Image 5</a>
                                                <a class="tooltip-button set-background-style full-bg-6" data-header-bg="full-bg-6 fixed-bg" title="Image 6" href="javascript:void(0);">Image 6</a>
                                            </div>
                                        </div>
                                        <h5 class="header">
                                            Header Style
                                            <a class="set-adminheader-style" data-header-bg="bg-gradient-9" title="Remove all styles" href="javascript:void(0);">Clear</a>
                                        </h5>
                                        <div class="theme-color-wrapper clearfix">
                                            <h5>Solids</h5>
                                            <a class="tooltip-button set-adminheader-style bg-primary" data-header-bg="bg-primary font-inverse" title="Primary" href="javascript:void(0);">Primary</a>
                                            <a class="tooltip-button set-adminheader-style bg-green" data-header-bg="bg-green font-inverse" title="Green" href="javascript:void(0);">Green</a>
                                            <a class="tooltip-button set-adminheader-style bg-red" data-header-bg="bg-red font-inverse" title="Red" href="javascript:void(0);">Red</a>
                                            <a class="tooltip-button set-adminheader-style bg-blue" data-header-bg="bg-blue font-inverse" title="Blue" href="javascript:void(0);">Blue</a>
                                            <a class="tooltip-button set-adminheader-style bg-warning" data-header-bg="bg-warning font-inverse" title="Warning" href="javascript:void(0);">Warning</a>
                                            <a class="tooltip-button set-adminheader-style bg-purple" data-header-bg="bg-purple font-inverse" title="Purple" href="javascript:void(0);">Purple</a>
                                            <a class="tooltip-button set-adminheader-style bg-black" data-header-bg="bg-black font-inverse" title="Black" href="javascript:void(0);">Black</a>
                                            <div class="clear"></div>
                                            <h5 class="mrg15T">Gradients</h5>
                                            <a class="tooltip-button set-adminheader-style bg-gradient-1" data-header-bg="bg-gradient-1 font-inverse" title="Gradient 1"
                                               href="javascript:void(0);">Gradient 1</a>
                                            <a class="tooltip-button set-adminheader-style bg-gradient-2" data-header-bg="bg-gradient-2 font-inverse" title="Gradient 2"
                                               href="javascript:void(0);">Gradient 2</a>
                                            <a class="tooltip-button set-adminheader-style bg-gradient-3" data-header-bg="bg-gradient-3 font-inverse" title="Gradient 3"
                                               href="javascript:void(0);">Gradient 3</a>
                                            <a class="tooltip-button set-adminheader-style bg-gradient-4" data-header-bg="bg-gradient-4 font-inverse" title="Gradient 4"
                                               href="javascript:void(0);">Gradient 4</a>
                                            <a class="tooltip-button set-adminheader-style bg-gradient-5" data-header-bg="bg-gradient-5 font-inverse" title="Gradient 5"
                                               href="javascript:void(0);">Gradient 5</a>
                                            <a class="tooltip-button set-adminheader-style bg-gradient-6" data-header-bg="bg-gradient-6 font-inverse" title="Gradient 6"
                                               href="javascript:void(0);">Gradient 6</a>
                                            <a class="tooltip-button set-adminheader-style bg-gradient-7" data-header-bg="bg-gradient-7 font-inverse" title="Gradient 7"
                                               href="javascript:void(0);">Gradient 7</a>
                                            <a class="tooltip-button set-adminheader-style bg-gradient-8" data-header-bg="bg-gradient-8 font-inverse" title="Gradient 8"
                                               href="javascript:void(0);">Gradient 8</a>
                                        </div>
                                        <h5 class="header">
                                            Sidebar Style
                                            <a class="set-sidebar-style" data-header-bg="" title="Remove all styles" href="javascript:void(0);">Clear</a>
                                        </h5>
                                        <div class="theme-color-wrapper clearfix">
                                            <h5>Solids</h5>
                                            <a class="tooltip-button set-sidebar-style bg-primary" data-header-bg="bg-primary font-inverse" title="Primary" href="javascript:void(0);">Primary</a>
                                            <a class="tooltip-button set-sidebar-style bg-green" data-header-bg="bg-green font-inverse" title="Green" href="javascript:void(0);">Green</a>
                                            <a class="tooltip-button set-sidebar-style bg-red" data-header-bg="bg-red font-inverse" title="Red" href="javascript:void(0);">Red</a>
                                            <a class="tooltip-button set-sidebar-style bg-blue" data-header-bg="bg-blue font-inverse" title="Blue" href="javascript:void(0);">Blue</a>
                                            <a class="tooltip-button set-sidebar-style bg-warning" data-header-bg="bg-warning font-inverse" title="Warning" href="javascript:void(0);">Warning</a>
                                            <a class="tooltip-button set-sidebar-style bg-purple" data-header-bg="bg-purple font-inverse" title="Purple" href="javascript:void(0);">Purple</a>
                                            <a class="tooltip-button set-sidebar-style bg-black" data-header-bg="bg-black font-inverse" title="Black" href="javascript:void(0);">Black</a>
                                            <div class="clear"></div>
                                            <h5 class="mrg15T">Gradients</h5>
                                            <a class="tooltip-button set-sidebar-style bg-gradient-1" data-header-bg="bg-gradient-1 font-inverse" title="Gradient 1"
                                               href="javascript:void(0);">Gradient 1</a>
                                            <a class="tooltip-button set-sidebar-style bg-gradient-2" data-header-bg="bg-gradient-2 font-inverse" title="Gradient 2"
                                               href="javascript:void(0);">Gradient 2</a>
                                            <a class="tooltip-button set-sidebar-style bg-gradient-3" data-header-bg="bg-gradient-3 font-inverse" title="Gradient 3"
                                               href="javascript:void(0);">Gradient 3</a>
                                            <a class="tooltip-button set-sidebar-style bg-gradient-4" data-header-bg="bg-gradient-4 font-inverse" title="Gradient 4"
                                               href="javascript:void(0);">Gradient 4</a>
                                            <a class="tooltip-button set-sidebar-style bg-gradient-5" data-header-bg="bg-gradient-5 font-inverse" title="Gradient 5"
                                               href="javascript:void(0);">Gradient 5</a>
                                            <a class="tooltip-button set-sidebar-style bg-gradient-6" data-header-bg="bg-gradient-6 font-inverse" title="Gradient 6"
                                               href="javascript:void(0);">Gradient 6</a>
                                            <a class="tooltip-button set-sidebar-style bg-gradient-7" data-header-bg="bg-gradient-7 font-inverse" title="Gradient 7"
                                               href="javascript:void(0);">Gradient 7</a>
                                            <a class="tooltip-button set-sidebar-style bg-gradient-8" data-header-bg="bg-gradient-8 font-inverse" title="Gradient 8"
                                               href="javascript:void(0);">Gradient 8</a>
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                        </div>

                        @RenderBody()
                       
                    </div>

                </div>
            </div>
        </div>

        <!-- WIDGETS -->
        <script type="text/javascript" src="/assets/bootstrap/js/bootstrap.js"></script>
        <script type="text/javascript" src="/assets/widgets/progressbar/progressbar.js"></script>
        <script type="text/javascript" src="/assets/widgets/superclick/superclick.js"></script>
        <script type="text/javascript" src="/assets/widgets/slimscroll/slimscroll.js"></script>
        <script type="text/javascript" src="/assets/widgets/screenfull/screenfull.js"></script>
        <script type="text/javascript" src="/assets/widgets/content-box/contentbox.js"></script>
        <script type="text/javascript" src="/assets/widgets/overlay/overlay.js"></script>
        <script type="text/javascript" src="/assets/js-init/widgets-init.js"></script>
        <script type="text/javascript" src="/assets/themes/admin/layout.js"></script>
        <script type="text/javascript" src="/assets/widgets/theme-switcher/themeswitcher.js"></script>
        <script type="text/javascript" src="/assets/angular/angular.min.js"></script>
        <script type="text/javascript" src="/assets/angular/ngMask.js"></script>

        <!--Date Range Picker-->
        <script src="~/lib/moment.min.js"></script>
        <script src="~/lib/daterangepicker.min.js"></script>
        <script src="~/lib/angular-daterangepicker.js"></script>
        <!--End Date Range Picker-->

        <script src="/assets/Angular/angular-translate.min.js"></script>
        <script src="/assets/Angular/angular-translate-loader-static-files.js"></script>

        <script type="text/javascript" src="/Angular/Module/app.js"></script>
        <script type="text/javascript" src="/Angular/Controller/HomeCntrl.js"></script>
        <script type="text/javascript" src="/Angular/Controller/AccountCntrl.js"></script>
        <script type="text/javascript" src="/Angular/Controller/BuscaEmLoteCNHCntrl.js"></script>
        <script type="text/javascript" src="/Angular/Controller/UserCntrl.js"></script>
        <script type="text/javascript" src="/Angular/Controller/AdminUserCntrl.js"></script>
        <script type="text/javascript" src="/Angular/Controller/UploadDocumentCntrl.js"></script>
        <script type="text/javascript" src="/Angular/Controller/ProfileCntrl.js"></script>
        <script type="text/javascript" src="/Angular/Controller/SingleSearchCntrl.js"></script>
        <script type="text/javascript" src="/Angular/Controller/ConsultaCNHCntrl.js"></script>
        <script type="text/javascript" src="/Angular/Controller/ListOfSearchedDocsCntrl.js"></script>
        <script type="text/javascript" src="~/Angular/Controller/DocDetailPageCntrl.js"></script>
        <script type="text/javascript" src="~/Angular/Controller/MultipleDocSearchCntrl.js"></script>
        <script type="text/javascript" src="~/Angular/Controller/ListOfMultipleSearchedDocsCntrl.js"></script>
        <script type="text/javascript" src="~/Angular/Controller/ListaBuscaEmLoteCNHCntrl.js"></script>
        <script type="text/javascript" src="~/Angular/Controller/ListaCNHBuscadasCntrl.js"></script>
        <script type="text/javascript" src="~/Angular/Controller/DetalheConsultaMotoristaCntrl.js"></script>     

        <script type="text/javascript" src="/Angular/Service/AccountService.js"></script>
        <script type="text/javascript" src="/Angular/Service/HomeService.js"></script>
        <script type="text/javascript" src="/Angular/Service/UserService.js"></script>
        <script type="text/javascript" src="/Angular/Service/ProfileService.js"></script>
        <script type="text/javascript" src="/Angular/Service/SingleSearchService.js"></script>
        <script type="text/javascript" src="/Angular/Service/ConsultaCNHService.js"></script>
        <script type="text/javascript" src="/Angular/Service/ListOfSearchedDocsService.js"></script>
        <script type="text/javascript" src="/Angular/Service/DocDetailPageService.js"></script>
        <script type="text/javascript" src="~/Angular/Service/MultipleDocSearchService.js"></script>
        <script type="text/javascript" src="~/Angular/Service/BuscaEmLoteCNHService.js"></script>
        <script type="text/javascript" src="~/Angular/Service/ListaBuscaEmLoteCNHService.js"></script>
        <script type="text/javascript" src="~/Angular/Service/ListaCNHBuscadasService.js"></script>
        <script type="text/javascript" src="~/Angular/Service/DetalheConsultaMotoristaService.js"></script>
    </div>
</body>
</html>
