﻿@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<h3>Development Mode</h3>
<p>
    Swapping to <strong>Development</strong> environment will display more detailed information about the error that occurred.
</p>
<p>
    <strong>Development environment should not be enabled in deployed applications</strong>, as it can result in sensitive information from exceptions being displayed to end users. For local debugging, development environment can be enabled by setting the <strong>ASPNETCORE_ENVIRONMENT</strong> environment variable to <strong>Development</strong>, and restarting the application.
</p>



<br />
<div class="row" style="margin-top:-12px;">
    <div class="col-sm-3">
        <div class="alert alert-info" style="padding-top: 5px;padding-bottom: 5px;margin-bottom:5px">
            <p> <strong>AIIP</strong> </p>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="alert alert-info" style="padding-top: 5px;padding-bottom: 5px;margin-bottom:5px">
            <p> <strong>Guia</strong> </p>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="alert alert-info" style="padding-top: 5px;padding-bottom: 5px;margin-bottom:5px">
            <p> <strong>Dt. Hr. infração</strong> </p>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="alert alert-info" style="padding-top: 5px;padding-bottom: 5px;margin-bottom:5px">
            <p> <strong>Data vencimento</strong> </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-3">
        <div class="alert alert-info" style="padding-top: 5px;padding-bottom: 5px;margin-bottom:5px">
            <p> <strong>Valor</strong> </p>
        </div>
    </div>
    <div class="col-sm-9">
        <div class="alert alert-info" style="padding-top: 5px;padding-bottom: 5px;margin-bottom:5px">
            <p> <strong>Enquadramento</strong> </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-3">
        <div class="alert alert-info" style="padding-top: 5px;padding-bottom: 5px;margin-bottom:5px">
            <p> <strong>Munícipio</strong> </p>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="alert alert-info" style="padding-top: 5px;padding-bottom: 5px;margin-bottom:5px">
            <p> <strong>Local</strong> </p>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="alert alert-info" style="padding-top: 5px;padding-bottom: 5px;margin-bottom:5px">
            <p> <strong>Orgão autuador</strong> </p>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="alert alert-info" style="padding-top: 5px;padding-bottom: 5px;margin-bottom:5px">
            <p> <strong>Tipo</strong> </p>
        </div>
    </div>
</div>
