
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en" ng-app="myApp">
<head>

    <style>
        /* Loading Spinner */

        .spinner {
            margin: 0;
            width: 70px;
            height: 18px;
            margin: -35px 0 0 -9px;
            position: absolute;
            top: 50%;
            left: 50%;
            text-align: center
        }

            .spinner > div {
                width: 18px;
                height: 18px;
                background-color: #333;
                border-radius: 100%;
                display: inline-block;
                -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
                animation: bouncedelay 1.4s infinite ease-in-out;
                -webkit-animation-fill-mode: both;
                animation-fill-mode: both
            }

            .spinner .bounce1 {
                -webkit-animation-delay: -.32s;
                animation-delay: -.32s
            }

            .spinner .bounce2 {
                -webkit-animation-delay: -.16s;
                animation-delay: -.16s
            }

        @@-webkit-keyframes bouncedelay {
            0%, 80%, 100% {
                -webkit-transform: scale(0.0)
            }

            40% {
                -webkit-transform: scale(1.0)
            }
        }

        @@keyframes bouncedelay {
            0%, 80%, 100% {
                transform: scale(0.0);
                -webkit-transform: scale(0.0)
            }

            40% {
                transform: scale(1.0);
                -webkit-transform: scale(1.0)
            }
        }
    </style>

    @*<meta name="viewport" content="width=device-width" />*@
    <title> JConsultas </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/images/icons/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/images/icons/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/images/icons/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/images/icons/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/assets/images/icons/favicon.png">
    <link rel="stylesheet" type="text/css" href="/assets/bootstrap/css/bootstrap.css">

    <!-- HELPERS -->
    <link rel="stylesheet" type="text/css" href="/assets/helpers/animate.css">
    <link rel="stylesheet" type="text/css" href="/assets/helpers/backgrounds.css">
    <link rel="stylesheet" type="text/css" href="/assets/helpers/boilerplate.css">
    <link rel="stylesheet" type="text/css" href="/assets/helpers/border-radius.css">
    <link rel="stylesheet" type="text/css" href="/assets/helpers/grid.css">
    <link rel="stylesheet" type="text/css" href="/assets/helpers/page-transitions.css">
    <link rel="stylesheet" type="text/css" href="/assets/helpers/spacing.css">
    <link rel="stylesheet" type="text/css" href="/assets/helpers/typography.css">
    <link rel="stylesheet" type="text/css" href="/assets/helpers/utils.css">
    <link rel="stylesheet" type="text/css" href="/assets/helpers/colors.css">

    <!-- ELEMENTS -->
    <link rel="stylesheet" type="text/css" href="/assets/elements/buttons.css">
    <link rel="stylesheet" type="text/css" href="/assets/elements/content-box.css">
    <link rel="stylesheet" type="text/css" href="/assets/elements/dashboard-box.css">
    <link rel="stylesheet" type="text/css" href="/assets/elements/forms.css">
    <link rel="stylesheet" type="text/css" href="/assets/elements/info-box.css">
    <link rel="stylesheet" type="text/css" href="/assets/elements/loading-indicators.css">
    <link rel="stylesheet" type="text/css" href="/assets/elements/menus.css">
    <link rel="stylesheet" type="text/css" href="/assets/elements/panel-box.css">
    <link rel="stylesheet" type="text/css" href="/assets/elements/response-messages.css">

    <!-- ICONS -->
    <link rel="stylesheet" type="text/css" href="/assets/icons/fontawesome/fontawesome.css">
    <link rel="stylesheet" type="text/css" href="/assets/icons/linecons/linecons.css">
    <link rel="stylesheet" type="text/css" href="/assets/icons/spinnericon/spinnericon.css">

    <!-- SNIPPETS -->
    <link rel="stylesheet" type="text/css" href="/assets/snippets/login-box.css">
    <link rel="stylesheet" type="text/css" href="/assets/snippets/mobile-navigation.css">

    <!-- Admin theme -->
    <link rel="stylesheet" type="text/css" href="/assets/themes/admin/layout.css">
    <link rel="stylesheet" type="text/css" href="/assets/themes/admin/color-schemes/default.css">

    <!-- Components theme -->
    <link rel="stylesheet" type="text/css" href="/assets/themes/components/default.css">
    <link rel="stylesheet" type="text/css" href="/assets/themes/components/border-radius.css">

    <!-- Admin responsive -->
    <link rel="stylesheet" type="text/css" href="/assets/helpers/responsive-elements.css">
    <link rel="stylesheet" type="text/css" href="/assets/helpers/admin-responsive.css">

    <!-- JS Core -->
    <script type="text/javascript" src="/assets/js-core/jquery-core.js"></script>
    <script type="text/javascript" src="/assets/js-core/jquery-ui-core.js"></script>
    <script type="text/javascript" src="/assets/js-core/jquery-ui-widget.js"></script>
    <script type="text/javascript" src="/assets/js-core/jquery-ui-mouse.js"></script>
    <script type="text/javascript" src="/assets/js-core/jquery-ui-position.js"></script>
    <script type="text/javascript" src="/assets/js-core/modernizr.js"></script>
    <script type="text/javascript" src="/assets/js-core/jquery-cookie.js"></script>

    <script type="text/javascript">
        $(window).load(function () {
            setTimeout(function () {
                $('#loading').fadeOut(400, "linear");
            }, 300);
        });
    </script>

</head>
<body>
    <div id="loading">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>

    <style type="text/css">
        html,
        body {
            height: 100%;
        }

        body {
            overflow: hidden;
            background: #fff;
        }
    </style>
    <script type="text/javascript" src="../assets/widgets/wow/wow.js"></script>
    <script type="text/javascript">
        /* WOW animations */

        wow = new WOW({
            animateClass: 'animated',
            offset: 100
        });
        wow.init();

    </script>
    <img src="../assets/image-resources/blurred-bg/blurred-bg-4.jpg" class="login-img wow fadeIn" alt="">

    <div class="center-vertical">
        <div class="center-content row">
            <div class="col-md-6 center-margin">
                <div class="server-message wow bounceInDown inverse">
                    <h1>{{'Error5'| translate}}</h1>
                    <h2>{{'AccessDenied'| translate}}</h2>
                    <p>{{'NotAccess'| translate}}</p>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="~/assets/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="/assets/angular/angular.min.js"></script>
    <script src="/assets/angular/ngMask.min.js"></script>

    <script src="/assets/Angular/angular-translate.min.js"></script>
    <script src="/assets/Angular/angular-translate-loader-static-files.js"></script>
    <script type="text/javascript" src="/Angular/Module/app.js"></script>

</body>
</html>

