
@{
    Layout = null;
}

<html lang="en" ng-app="myApp">
<head>

    <link href="~/css/Pages/ForgetPassword.css" rel="stylesheet" />

    @*<meta name="viewport" content="width=device-width" />*@
    <title> JConsultas </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/images/icons/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/images/icons/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/images/icons/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/images/icons/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/assets/images/icons/favicon.png">
    <link rel="stylesheet" type="text/css" href="/assets/bootstrap/css/bootstrap.css">

    <!-- HELPERS -->
    <link rel="stylesheet" type="text/css" href="/assets/helpers/animate.css">
    <link rel="stylesheet" type="text/css" href="/assets/helpers/backgrounds.css">
    <link rel="stylesheet" type="text/css" href="/assets/helpers/boilerplate.css">
    <link rel="stylesheet" type="text/css" href="/assets/helpers/border-radius.css">
    <link rel="stylesheet" type="text/css" href="/assets/helpers/grid.css">
    <link rel="stylesheet" type="text/css" href="/assets/helpers/page-transitions.css">
    <link rel="stylesheet" type="text/css" href="/assets/helpers/spacing.css">
    <link rel="stylesheet" type="text/css" href="/assets/helpers/typography.css">
    <link rel="stylesheet" type="text/css" href="/assets/helpers/utils.css">
    <link rel="stylesheet" type="text/css" href="/assets/helpers/colors.css">

    <!-- ELEMENTS -->
    <link rel="stylesheet" type="text/css" href="/assets/elements/buttons.css">
    <link rel="stylesheet" type="text/css" href="/assets/elements/content-box.css">
    <link rel="stylesheet" type="text/css" href="/assets/elements/dashboard-box.css">
    <link rel="stylesheet" type="text/css" href="/assets/elements/forms.css">
    <link rel="stylesheet" type="text/css" href="/assets/elements/info-box.css">
    <link rel="stylesheet" type="text/css" href="/assets/elements/loading-indicators.css">
    <link rel="stylesheet" type="text/css" href="/assets/elements/menus.css">
    <link rel="stylesheet" type="text/css" href="/assets/elements/panel-box.css">
    <link rel="stylesheet" type="text/css" href="/assets/elements/response-messages.css">

    <!-- ICONS -->
    <link rel="stylesheet" type="text/css" href="/assets/icons/fontawesome/fontawesome.css">
    <link rel="stylesheet" type="text/css" href="/assets/icons/linecons/linecons.css">
    <link rel="stylesheet" type="text/css" href="/assets/icons/spinnericon/spinnericon.css">

    <!-- SNIPPETS -->
    <link rel="stylesheet" type="text/css" href="/assets/snippets/login-box.css">
    <link rel="stylesheet" type="text/css" href="/assets/snippets/mobile-navigation.css">

    <!-- Admin theme -->
    <link rel="stylesheet" type="text/css" href="/assets/themes/admin/layout.css">
    <link rel="stylesheet" type="text/css" href="/assets/themes/admin/color-schemes/default.css">

    <!-- Components theme -->
    <link rel="stylesheet" type="text/css" href="/assets/themes/components/default.css">
    <link rel="stylesheet" type="text/css" href="/assets/themes/components/border-radius.css">

    <!-- Admin responsive -->
    <link rel="stylesheet" type="text/css" href="/assets/helpers/responsive-elements.css">
    <link rel="stylesheet" type="text/css" href="/assets/helpers/admin-responsive.css">

    <!-- JS Core -->
    <script type="text/javascript" src="/assets/js-core/jquery-core.js"></script>
    <script type="text/javascript" src="/assets/js-core/jquery-ui-core.js"></script>
    <script type="text/javascript" src="/assets/js-core/jquery-ui-widget.js"></script>
    <script type="text/javascript" src="/assets/js-core/jquery-ui-mouse.js"></script>
    <script type="text/javascript" src="/assets/js-core/jquery-ui-position.js"></script>
    <script type="text/javascript" src="/assets/js-core/modernizr.js"></script>
    <script type="text/javascript" src="/assets/js-core/jquery-cookie.js"></script>

    <script type="text/javascript">
        $(window).load(function () {
            setTimeout(function () {
                $('#loading').fadeOut(400, "linear");
            }, 300);
        });
    </script>

</head>
<body ng-controller="LoginCntrl" id="LoginCntrl">
    <div id="loading">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>

    <style type="text/css">
        html,
        body {
            height: 100%;
        }

        body {
            overflow: hidden;
            background: #fff;
        }
    </style>
    <div class="center-vertical">
        <div class="center-content row">
            <div class="col-md-6 center-margin">
                <h3 class="text-center pad15B font-gray text-transform-upr font-size-23">SGDExpress @*<span class="opacity-80">v1.0</span>*@</h3>
                <div class="content-box border-top border-red clearfix">
                    <div class="content-box-wrapper row">
                        <form method="post" class="col-md-12" name="fmChangePassword">

                            <div ng-show="TMsg==true" ng--hide="TMsg==false">
                                <div class="alert alert-success">
                                    <div class="bg-green alert-icon">
                                        <i class="glyph-icon icon-check"></i>
                                    </div>
                                    <div class="alert-content">
                                        <h4 class="alert-title">{{'Success'| translate}}</h4>
                                        <p>{{Msg}}</p>
                                        <a href="http://novo.sgdexpress.com.br" target="_blank" title="" class="ng-binding">Ir para o site</a>
                                    </div>
                                </div>
                            </div>

                            <div ng-show="FMsg==true" ng-hide="FMsg==false">
                                <div class="alert alert-danger">
                                    <div class="bg-red alert-icon">
                                        <i class="glyph-icon icon-times"></i>
                                    </div>
                                    <div class="alert-content">
                                        <h4 class="alert-title">{{'Error'| translate}}</h4>
                                        <p>{{ErrorMsg}}</p>
                                    </div>
                                </div>
                            </div>


                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div id="login-form" ng-hide="TMsg">
                                <div class="pad20A">
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">{{'Password'| translate}}:</label>
                                        <div class="input-group input-group-lg" data-ng-class="{ 'has-error' : fmChangePassword.Password.$invalid && (fmChangePassword.Password.$dirty || changePasswordsubmitted)}">
                                            <span class="input-group-addon addon-inside bg-white font-primary">
                                                <i class="glyph-icon icon-unlock-alt"></i>
                                            </span>
                                            <input type="password" ng-model="objResetPass.Password" class="form-control" id="Password" name="Password" placeholder="{{'Enter_Password'| translate}}" required>
                                            <p ng-show="fmChangePassword.Password.$error.required && (fmChangePassword.Password.$dirty || changePasswordsubmitted)" class="help-block">{{'Enter_Password'| translate}}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">{{'ConfirmPassword'| translate}}:</label>
                                        <div class="input-group input-group-lg" data-ng-class="{ 'has-error' : fmChangePassword.cPassword.$invalid && (fmChangePassword.cPassword.$dirty || changePasswordsubmitted)}">
                                            <span class="input-group-addon addon-inside bg-white font-primary">
                                                <i class="glyph-icon icon-unlock-alt"></i>
                                            </span>
                                            <input type="password" class="form-control" ng-model="objResetPass.cPassword" id="cPassword" name="cPassword" placeholder="{{'Enter_Password'| translate}}" required>
                                            <p ng-show="fmChangePassword.cPassword.$error.required && (fmChangePassword.cPassword.$dirty || changePasswordsubmitted)" class="help-block">{{'Enter_Password'| translate}}</p>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <button type="submit" class="btn btn-block btn-blue-alt" ng-click="ResetPassword(objResetPass)">{{'Submit'| translate}}</button>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/assets/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="~/assets/angular/angular.min.js"></script>
    <script src="/assets/angular/ngMask.js"></script>


    <script src="/assets/Angular/angular-translate.min.js"></script>
    <script src="/assets/Angular/angular-translate-loader-static-files.js"></script>

    <!--Date Range Picker-->
    <script src="~/lib/moment.min.js"></script>
    <script src="~/lib/daterangepicker.min.js"></script>
    <script src="~/lib/angular-daterangepicker.js"></script>
    <!--End Date Range Picker-->

    <script type="text/javascript" src="/Angular/Module/app.js"></script>
    <script type="text/javascript" src="/Angular/Controller/LoginCntrl.js"></script>
    <script type="text/javascript" src="/Angular/Service/LoginService.js"></script>

</body>
</html>

