﻿@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using Microsoft.AspNetCore.Identity;
@model BusinessLogicLayer.LoginViewModel
@inject SignInManager<EntityLayer.Models.ApplicationUser> SignInManager

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en" ng-app="myApp">
<head>

    <link href="~/css/Pages/Login.css" rel="stylesheet" />

    <title> SGDExpress </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/images/icons/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/images/icons/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/images/icons/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/images/icons/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/assets/images/icons/favicon.png">
    <link rel="stylesheet" type="text/css" href="/assets/bootstrap/css/bootstrap.css">

    <!-- HELPERS -->
    <link rel="stylesheet" type="text/css" href="/assets/helpers/animate.css">
    <link rel="stylesheet" type="text/css" href="/assets/helpers/backgrounds.css">
    <link rel="stylesheet" type="text/css" href="/assets/helpers/boilerplate.css">
    <link rel="stylesheet" type="text/css" href="/assets/helpers/border-radius.css">
    <link rel="stylesheet" type="text/css" href="/assets/helpers/grid.css">
    <link rel="stylesheet" type="text/css" href="/assets/helpers/page-transitions.css">
    <link rel="stylesheet" type="text/css" href="/assets/helpers/spacing.css">
    <link rel="stylesheet" type="text/css" href="/assets/helpers/typography.css">
    <link rel="stylesheet" type="text/css" href="/assets/helpers/utils.css">
    <link rel="stylesheet" type="text/css" href="/assets/helpers/colors.css">

    <!-- ELEMENTS -->
    <link rel="stylesheet" type="text/css" href="/assets/elements/buttons.css">
    <link rel="stylesheet" type="text/css" href="/assets/elements/content-box.css">
    <link rel="stylesheet" type="text/css" href="/assets/elements/dashboard-box.css">
    <link rel="stylesheet" type="text/css" href="/assets/elements/forms.css">
    <link rel="stylesheet" type="text/css" href="/assets/elements/info-box.css">
    <link rel="stylesheet" type="text/css" href="/assets/elements/loading-indicators.css">
    <link rel="stylesheet" type="text/css" href="/assets/elements/menus.css">
    <link rel="stylesheet" type="text/css" href="/assets/elements/panel-box.css">
    <link rel="stylesheet" type="text/css" href="/assets/elements/response-messages.css">

    <!-- ICONS -->
    <link rel="stylesheet" type="text/css" href="/assets/icons/fontawesome/fontawesome.css">
    <link rel="stylesheet" type="text/css" href="/assets/icons/linecons/linecons.css">
    <link rel="stylesheet" type="text/css" href="/assets/icons/spinnericon/spinnericon.css">

    <!-- SNIPPETS -->
    <link rel="stylesheet" type="text/css" href="/assets/snippets/login-box.css">
    <link rel="stylesheet" type="text/css" href="/assets/snippets/mobile-navigation.css">

    <!-- Admin theme -->
    <link rel="stylesheet" type="text/css" href="/assets/themes/admin/layout.css">
    <link rel="stylesheet" type="text/css" href="/assets/themes/admin/color-schemes/default.css">

    <!-- Components theme -->
    <link rel="stylesheet" type="text/css" href="/assets/themes/components/default.css">
    <link rel="stylesheet" type="text/css" href="/assets/themes/components/border-radius.css">

    <!-- Admin responsive -->
    <link rel="stylesheet" type="text/css" href="/assets/helpers/responsive-elements.css">
    <link rel="stylesheet" type="text/css" href="/assets/helpers/admin-responsive.css">

    <!-- JS Core -->
    <script type="text/javascript" src="/assets/js-core/jquery-core.js"></script>
    <script type="text/javascript" src="/assets/js-core/jquery-ui-core.js"></script>
    <script type="text/javascript" src="/assets/js-core/jquery-ui-widget.js"></script>
    <script type="text/javascript" src="/assets/js-core/jquery-ui-mouse.js"></script>
    <script type="text/javascript" src="/assets/js-core/jquery-ui-position.js"></script>
    <script type="text/javascript" src="/assets/js-core/modernizr.js"></script>
    <script type="text/javascript" src="/assets/js-core/jquery-cookie.js"></script>
    @*<link href="~/css/PercentageChart.css" rel="stylesheet" />*@

    <script type="text/javascript">
        $(window).load(function () {
            setTimeout(function () {
                $('#loading').fadeOut(400, "linear");
            }, 300);
        });
    </script>

</head>
<body ng-controller="LoginCntrl" id="LoginCntrl">
    <div id="loading">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <style type="text/css">
        html,
        body {
            height: 100%;
            background: #F5F5F5;
        }
    </style>

    <div class="modal fade UserModel" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{'Forgot_Password_Title'| translate}}</h4>
                </div>
                <div class="modal-body">


                    <div ng-show="TMsg==true" ng--hide="TMsg==false">
                        <div class="alert alert-success">
                            <div class="bg-green alert-icon">
                                <i class="glyph-icon icon-check"></i>
                            </div>
                            <div class="alert-content">
                                <h4 class="alert-title">{{'Success'| translate}}</h4>
                                <p> {{'ForgetPasswordEmailSendMSG'| translate}}</p>
                            </div>
                        </div>
                    </div>

                    <div ng-show="FMsg==true" ng-hide="FMsg==false">
                        <div class="alert alert-danger">
                            <div class="bg-red alert-icon">
                                <i class="glyph-icon icon-times"></i>
                            </div>
                            <div class="alert-content">
                                <h4 class="alert-title">{{'Error'| translate}}</h4>
                                <p>{{ErrorMsg}}</p>
                            </div>
                        </div>
                    </div>

                    <div class="row col-md-12" ng-show="ErrorList.length > 0">
                        <div class="example-box-wrapper">
                            <div class="alert alert-close alert-danger">
                                <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" ng-click="ErrorList=[]"></a>
                                <div class="bg-red alert-icon">
                                    <i class="glyph-icon icon-times"></i>
                                </div>
                                <div class="alert-content">
                                    <h4 class="alert-title">{{'Error'| translate}}</h4>
                                    <div ng-repeat="x in ErrorList track by $index">
                                        <p> {{ErrorList[$index]}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <form class="form-horizontal bordered-row" id="demo-form" name="fmForget" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">{{'Email_address'| translate}}</label>
                                    <div class="col-sm-6" data-ng-class="{ 'has-error' : fmForget.EmailID.$invalid && (fmForget.EmailID.$dirty || Emailsubmitted)}">
                                        <input type="email" ng-model="objForget.EmailID" name="EmailID" id="EmailID" placeholder="{{'Email_address'| translate}}" required class="form-control">
                                        <p ng-show="fmForget.EmailID.$error.required && (fmForget.EmailID.$dirty || Emailsubmitted)" class="help-block">{{'EmailRequred'| translate}}</p>
                                        <p ng-show="fmForget.EmailID.$error.email && (fmForget.EmailID.$dirty || Emailsubmitted)" class="help-block">{{'Invalid_email'| translate}}</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{'Close'| translate}}</button>
                    <button type="button" class="btn btn-primary" ng-click="SendEmail(objForget)">{{'SendMail'| translate}}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="center-vertical">
        <div class="center-content row">
            <div class="col-md-5 center-margin">
                <h3 class="text-center pad15B font-gray text-transform-upr font-size-23">SGDExpress @*<span class="opacity-80">v1.0</span>*@</h3>
                <div class="content-box border-top border-red clearfix">
                    <div class="content-box-wrapper row">
                        <form asp-controller="Account" asp-action="Index" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="col-md-12">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div id="login-form">
                                <div class="pad20A">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">{{'Email_address'| translate}}:  </label>
                                        <div class="input-group input-group-lg">
                                            <span class="input-group-addon addon-inside bg-white font-primary">
                                                <i class="glyph-icon icon-envelope-o"></i>
                                            </span>
                                            <input asp-for="Email" type="text" class="form-control" id="Email" placeholder="{{'Enter_email'| translate}}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">{{'Password'| translate}}:</label>
                                        <div class="input-group input-group-lg">
                                            <span class="input-group-addon addon-inside bg-white font-primary">
                                                <i class="glyph-icon icon-unlock-alt"></i>
                                            </span>
                                            <input asp-for="Password" type="password" class="form-control" id="Password" placeholder="{{'Enter_Password'| translate}}">
                                        </div>
                                    </div>
                                    <div class="row mrg15B">
                                        <div class="checkbox-primary col-md-10" style="height: 20px;">
                                            <label>
                                                <input asp-for="RememberMe" type="checkbox" id="RememberMe" class="custom-checkbox">
                                                {{'Remember_me'| translate}}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <a href="" title="Recover password" data-toggle="modal" data-target=".UserModel">{{'Forgot_Password'| translate}}</a>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-block btn-blue-alt" ng-click="UserLogin()">{{'Login'| translate}}</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="col-md-12">
                            @{
                                var loginProviders = SignInManager.GetExternalAuthenticationSchemes().ToList();
                                if (loginProviders.Count > 0)
                                {
                                    <div class="pad20A" style="padding-top:0px !important">
                                        <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                                            <div>
                                                <p>
                                                    @foreach (var provider in loginProviders)
                                                    {
                                                        <div class="mrg10A"></div>
                                                        <button type="submit" class="btn btn-block btn-md bg-google" name="provider" value="@provider.AuthenticationScheme" title="Log in using your @provider.DisplayName account">
                                                            <span class="glyph-icon icon-separator">
                                                                <i class="glyph-icon icon-google-plus"></i>
                                                            </span>
                                                            <span class="button-content">
                                                                {{'Connect_with_Google'| translate}}
                                                            </span>
                                                        </button>
                                                    }
                                                </p>
                                            </div>
                                        </form>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>

                <div style="text-align:center;">
                    <span style="font-size: smaller; text-align:right;">Versão: 1.1.1</span>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="~/assets/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="/assets/angular/angular.min.js"></script>
    <script type="text/javascript" src="/assets/angular/ngMask.js"></script>

    <script src="/assets/Angular/angular-translate.min.js"></script>
    <script src="/assets/Angular/angular-translate-loader-static-files.js"></script>
    <!--Date Range Picker-->
    <script src="~/lib/moment.min.js"></script>
    <script src="~/lib/daterangepicker.min.js"></script>
    <script src="~/lib/angular-daterangepicker.js"></script>
    <!--End Date Range Picker-->
    <script type="text/javascript" src="/Angular/Module/app.js"></script>
    <script type="text/javascript" src="/Angular/Controller/LoginCntrl.js"></script>
    <script type="text/javascript" src="/Angular/Service/LoginService.js"></script>


</body>
</html>
