﻿@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using Microsoft.AspNetCore.Identity;
@model BusinessLogicLayer.VerifyCodeModel
@inject SignInManager<EntityLayer.Models.ApplicationUser> SignInManager

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en" ng-app="myApp">
<head>
    <style>
        /* Loading Spinner */

        .spinner {
            margin: 0;
            width: 70px;
            height: 18px;
            margin: -35px 0 0 -9px;
            position: absolute;
            top: 50%;
            left: 50%;
            text-align: center
        }

            .spinner > div {
                width: 18px;
                height: 18px;
                background-color: #333;
                border-radius: 100%;
                display: inline-block;
                -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
                animation: bouncedelay 1.4s infinite ease-in-out;
                -webkit-animation-fill-mode: both;
                animation-fill-mode: both
            }

            .spinner .bounce1 {
                -webkit-animation-delay: -.32s;
                animation-delay: -.32s
            }

            .spinner .bounce2 {
                -webkit-animation-delay: -.16s;
                animation-delay: -.16s
            }

        @@-webkit-keyframes bouncedelay {
            0%, 80%, 100% {
                -webkit-transform: scale(0.0)
            }

            40% {
                -webkit-transform: scale(1.0)
            }
        }

        @@keyframes bouncedelay {
            0%, 80%, 100% {
                transform: scale(0.0);
                -webkit-transform: scale(0.0)
            }

            40% {
                transform: scale(1.0);
                -webkit-transform: scale(1.0)
            }
        }
    </style>

    @*<meta name="viewport" content="width=device-width" />*@
    <title> JConsultas </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/images/icons/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/images/icons/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/images/icons/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/images/icons/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/assets/images/icons/favicon.png">
    <link rel="stylesheet" type="text/css" href="/assets/bootstrap/css/bootstrap.css">

    <!-- HELPERS -->
    <link rel="stylesheet" type="text/css" href="/assets/helpers/animate.css">
    <link rel="stylesheet" type="text/css" href="/assets/helpers/backgrounds.css">
    <link rel="stylesheet" type="text/css" href="/assets/helpers/boilerplate.css">
    <link rel="stylesheet" type="text/css" href="/assets/helpers/border-radius.css">
    <link rel="stylesheet" type="text/css" href="/assets/helpers/grid.css">
    <link rel="stylesheet" type="text/css" href="/assets/helpers/page-transitions.css">
    <link rel="stylesheet" type="text/css" href="/assets/helpers/spacing.css">
    <link rel="stylesheet" type="text/css" href="/assets/helpers/typography.css">
    <link rel="stylesheet" type="text/css" href="/assets/helpers/utils.css">
    <link rel="stylesheet" type="text/css" href="/assets/helpers/colors.css">

    <!-- ELEMENTS -->
    <link rel="stylesheet" type="text/css" href="/assets/elements/buttons.css">
    <link rel="stylesheet" type="text/css" href="/assets/elements/content-box.css">
    <link rel="stylesheet" type="text/css" href="/assets/elements/dashboard-box.css">
    <link rel="stylesheet" type="text/css" href="/assets/elements/forms.css">
    <link rel="stylesheet" type="text/css" href="/assets/elements/info-box.css">
    <link rel="stylesheet" type="text/css" href="/assets/elements/loading-indicators.css">
    <link rel="stylesheet" type="text/css" href="/assets/elements/menus.css">
    <link rel="stylesheet" type="text/css" href="/assets/elements/panel-box.css">
    <link rel="stylesheet" type="text/css" href="/assets/elements/response-messages.css">

    <!-- ICONS -->
    <link rel="stylesheet" type="text/css" href="/assets/icons/fontawesome/fontawesome.css">
    <link rel="stylesheet" type="text/css" href="/assets/icons/linecons/linecons.css">
    <link rel="stylesheet" type="text/css" href="/assets/icons/spinnericon/spinnericon.css">

    <!-- SNIPPETS -->
    <link rel="stylesheet" type="text/css" href="/assets/snippets/login-box.css">
    <link rel="stylesheet" type="text/css" href="/assets/snippets/mobile-navigation.css">

    <!-- Admin theme -->
    <link rel="stylesheet" type="text/css" href="/assets/themes/admin/layout.css">
    <link rel="stylesheet" type="text/css" href="/assets/themes/admin/color-schemes/default.css">

    <!-- Components theme -->
    <link rel="stylesheet" type="text/css" href="/assets/themes/components/default.css">
    <link rel="stylesheet" type="text/css" href="/assets/themes/components/border-radius.css">

    <!-- Admin responsive -->
    <link rel="stylesheet" type="text/css" href="/assets/helpers/responsive-elements.css">
    <link rel="stylesheet" type="text/css" href="/assets/helpers/admin-responsive.css">

    <!-- JS Core -->
    <script type="text/javascript" src="/assets/js-core/jquery-core.js"></script>
    <script type="text/javascript" src="/assets/js-core/jquery-ui-core.js"></script>
    <script type="text/javascript" src="/assets/js-core/jquery-ui-widget.js"></script>
    <script type="text/javascript" src="/assets/js-core/jquery-ui-mouse.js"></script>
    <script type="text/javascript" src="/assets/js-core/jquery-ui-position.js"></script>
    <script type="text/javascript" src="/assets/js-core/modernizr.js"></script>
    <script type="text/javascript" src="/assets/js-core/jquery-cookie.js"></script>
    @*<link href="~/css/PercentageChart.css" rel="stylesheet" />*@

    <script type="text/javascript">
        $(window).load(function () {
            setTimeout(function () {
                $('#loading').fadeOut(400, "linear");
            }, 300);
        });
    </script>
</head>
<body>
    <div id="loading">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <style type="text/css">
        html,
        body {
            height: 100%;
            background: #F5F5F5;
        }
    </style>

    <div class="center-vertical">
        <div class="center-content row">
            <div class="col-md-5 center-margin">
                <h3 class="text-center pad15B font-gray text-transform-upr font-size-23">JConsultas @*<span class="opacity-80">v1.0</span>*@</h3>
                <div class="content-box border-top border-red clearfix">
                    <div class="content-box-wrapper row">
                        <form asp-controller="Account" asp-action="verifyCode" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="col-md-12">
                            @*<form id="login-validation" class="col-md-7" method="post">*@
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div id="login-form">
                                <div class="pad20A">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">
                                            Você esta tentando logar de um dispositivo diferente, 
                                            por razões de segurança, um código de verificação foi enviado a você
                                            por email ou SMS(depedendo de suas configuracões).
                                            Por favor, insira o códgo de verificação para efetuar o login.
                                        </label>
                                        <div class="input-group input-group-lg">
                                            <span class="input-group-addon addon-inside bg-white font-primary">
                                                <i class="glyphicon glyphicon-barcode"></i>
                                            </span>
                                            <input asp-for="Code" type="text" autocomplete="off" class="form-control" id="Code" placeholder="{{'verifycode'| translate}}">
                                            <input asp-for="ProfileId" type="hidden" class="form-control" id="ProfileId" value="@ViewData["ProfileId"] ">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-block btn-blue-alt">{{'verify'| translate}}</button>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <div class="col-md-12">
                            <div class="form-group">
                                <form asp-controller="Account" asp-action="ReSendCode" asp-route-ProfileId="@ViewData["ProfileId"]" method="post" class="col-md-12">
                                    <button type="submit" class="btn btn-link">{{'resendcode'| translate}}</button>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="~/assets/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="/assets/angular/angular.min.js"></script>
    <script type="text/javascript" src="/assets/angular/ngMask.js"></script>

    <script src="/assets/Angular/angular-translate.min.js"></script>
    <script src="/assets/Angular/angular-translate-loader-static-files.js"></script>
    <!--Date Range Picker-->
    <script src="~/lib/moment.min.js"></script>
    <script src="~/lib/daterangepicker.min.js"></script>
    <script src="~/lib/angular-daterangepicker.js"></script>
    <!--End Date Range Picker-->
    <script type="text/javascript" src="/Angular/Module/app.js"></script>
    <script type="text/javascript" src="/Angular/Controller/LoginCntrl.js"></script>
    <script type="text/javascript" src="/Angular/Service/LoginService.js"></script>
</body>
</html>
