﻿.spinner {
    margin: 0;
    width: 70px;
    height: 18px;
    margin: -35px 0 0 -9px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center
}

    .spinner > div {
        width: 18px;
        height: 18px;
        background-color: #333;
        border-radius: 100%;
        display: inline-block;
        -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
        animation: bouncedelay 1.4s infinite ease-in-out;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both
    }

    .spinner .bounce1 {
        -webkit-animation-delay: -.32s;
        animation-delay: -.32s
    }

    .spinner .bounce2 {
        -webkit-animation-delay: -.16s;
        animation-delay: -.16s
    }

@-webkit-keyframes bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0.0)
    }

    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes bouncedelay {
    0%, 80%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0)
    }

    40% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0)
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}

@media only screen and (max-width: 460px) {
    .mydataTables_filter > label {
        float: right !important;
        margin-right: 20px !important;
        padding-left: 10px !important;
        width: 100% !important;
    }

        .mydataTables_filter > label > input {
            padding-right: 0px !important;
            width: 100% !important;
        }

    .myPagination {
        float: none !important;
        display: block !important;
        margin-left: 10% !important;
    }
}

/*img #ProfileImage {
            width: 50px;
            height: 50px;
        }*/

img#ProfileImage2 {
    width: 50px !important;
    margin-left: 11px;
    border-radius: 0px;
}

form#logoutForm {
    margin-right: 0px;
}

.myEditProfileImage {
    border: 1px #00b19b solid;
    padding: 1px;
}


.html2canvas-container {
    width: 3000px !important;
    height: 3000px !important;
}
