﻿html,
body {
    width: 1050px !important;
}

.hidden {
    display: none;
    visibility: hidden
}

.visible-phone {
    display: none !important
}

.visible-tablet {
    display: none !important
}

.hidden-desktop {
    display: none !important
}

.visible-desktop {
    display: inherit !important
}

/*@page {
    size: auto;
    margin: 30px;
}*/

body {
    background-color: #FFFFFF;
}

@media print {
    .remove-columns table,
    .remove-columns thead,
    .remove-columns tbody,
    .remove-columns .table th,
    .remove-columns .table td,
    .remove-columns .table tr {
        display: block;
        border: 0;
    }

        .remove-columns thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

    .remove-columns .table tr {
        border: 1px solid #dfe8f1;
    }

    .remove-columns .table td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align: left;
    }

        .remove-columns .table td:before {
            position: absolute;
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
            text-align: left;
            font-weight: bold;
        }

        .remove-columns .table td:before {
            content: attr(data-title);
        }
}
