﻿.top-buffer {
    margin-top: 30px;
    margin-bottom: 15px;
}

.My-icon {
    font-size: 22px;
    line-height: 40px;
    width: 40px;
    height: 40px;
    margin: 10px;
    text-align: center;
    color: #92A0B3;
}

.demo-icon {
    margin: 0px;
    margin-right: 5px;
}

i {
    cursor: pointer;
}

.ZipSave {
    margin-top: 5em !important;
}

input.call-checkbox {
    margin-left: 0.8em;
}

.multiselect {
    height: 7em;
    border: #dfe8f1 solid 1px;
    overflow: auto;
    border-radius: 3px;
}

    .multiselect label {
        display: block;
    }

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background: #00ceb4 !important;
    color: white !important;
}

    .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
        background: #00ceb4 !important;
        color: white !important;
    }

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: #00ceb4 !important;
    color: white !important;
}

.savetodrive {
    margin-top: 5px !important;
}
