﻿.demo-icon {
    font-size: 20px;
    line-height: 33px;
    float: left;
    width: 40px;
    height: 33px;
    margin: 0px;
    text-align: center;
    border: 1px solid rgba(220, 233, 255, 0.54);
    border-radius: 3px;
    margin-right: 9px;
}

.saveDrive {
    margin-top: 2em !important;
}

i {
    cursor: pointer;
}


.seta-btn:before {
    display: inline-block;
    font-family: "FontAwesome";
    content: "\f107";
    float: right;
    font-weight: normal;
    font-style: normal;
}

.seta-btn.collapsed:before {
    content: "\f105";
}
