
@{
    ViewData["Title"] = "Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Data tables -->
<link rel="stylesheet" type="text/css" href="../assets/widgets/datatable/datatable.css">
<script type="text/javascript" src="../assets/widgets/datatable/datatable.js"></script>
<script type="text/javascript" src="../assets/widgets/datatable/datatable-bootstrap.js"></script>
<script type="text/javascript" src="../assets/widgets/datatable/datatable-responsive.js"></script>

<div class="panel" ng-controller="AccountCntrl" id="AccountCntrl" ng-init="GetAccountList()">
    <div class="panel-body">

        <div class="modal fade AccountModel" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">{{'Account_Master'| translate}}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="example-box-wrapper">

                            <form class="form-horizontal  bordered-row" id="demo-form" name="fmaccount">
                                <div class="row">
                                    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">{{'AccountName'| translate}}</label>
                                            <div class="col-sm-6" data-ng-class="{ 'has-error' : fmaccount.AccountName.$invalid && (fmaccount.AccountName.$dirty || accountsubmitted)}">
                                                <input type="text" ng-model="objAccount.AccountName" name="AccountName" id="AccountName" placeholder="{{'AccountName'| translate}}" required class="form-control" maxlength="250">
                                                <p ng-show="fmaccount.AccountName.$error.required && (fmaccount.AccountName.$dirty || accountsubmitted)" class="help-block">{{'AccountNameRequred'| translate}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">{{'ApiCode'| translate}}</label>
                                            <div class="col-sm-6" data-ng-class="{ 'has-error' : fmaccount.ApiCode.$invalid && (fmaccount.ApiCode.$dirty || accountsubmitted)}">
                                                <input type="text" ng-model="objAccount.ApiCode" name="ApiCode" id="ApiCode" placeholder="{{'ApiCode'| translate}}" required class="form-control" maxlength="250">
                                                <p ng-show="fmaccount.ApiCode.$error.required && (fmaccount.ApiCode.$dirty || accountsubmitted)" class="help-block">{{'ApiCodeRequired'| translate}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">&nbsp;</label>
                                            <div class="col-sm-6">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" ng-model="objAccount.IsActive" name="IsActive" id="IsActive">
                                                        {{'isActive'| translate}}
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </form>
                            <div>
                                @Html.Partial("_DetalhesAuditoria")
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{{'Close'| translate}}</button>
                        <button type="button" class="btn btn-primary" ng-click="SaveAccount(objAccount)">{{'Savechanges'| translate}}</button>
                    </div>
                </div>
            </div>
        </div>

        <h3 class="title-hero">
            <button class="btn btn-primary" data-toggle="modal" data-target=".AccountModel">
                <i class="glyph-icon icon-plus"></i>
                {{'AddAccount'| translate}}
            </button>
        </h3>
        <div class="example-box-wrapper">

            <div ng-show="TMsg==true" ng--hide="TMsg==false">
                <div class="alert alert-success">
                    <div class="bg-green alert-icon">
                        <i class="glyph-icon icon-check"></i>
                    </div>
                    <div class="alert-content">
                        <h4 class="alert-title">{{'Success'| translate}}</h4>
                        <p>{{successMsg}}</p>
                    </div>
                </div>
            </div>

            <div ng-show="FMsg==true" ng-hide="FMsg==false">
                <div class="alert alert-danger">
                    <div class="bg-red alert-icon">
                        <i class="glyph-icon icon-times"></i>
                    </div>
                    <div class="alert-content">
                        <h4 class="alert-title">{{'Error'| translate}}</h4>
                        <p>{{ ErrorMsg }} </p>
                    </div>
                </div>
            </div>

            <table id="dtAccount" class="table table-striped table-bordered responsive no-wrap" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>{{'AccountName'| translate}}</th>
                        <th>{{'ApiCode'| translate}}</th>
                        <th>{{'Edit'| translate}}</th>
                    </tr>
                </thead>

            </table>
        </div>

    </div>
</div>


<script type="text/javascript">
    function EditAccount(d) {
        var scope = angular.element(document.getElementById("AccountCntrl")).scope();
        scope.EditAccount(d);
    }
</script>