
@{
    ViewData["Title"] = "Usuários administradores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Data tables -->
<link rel="stylesheet" type="text/css" href="../assets/widgets/datatable/datatable.css">
<script type="text/javascript" src="../assets/widgets/datatable/datatable.js"></script>
<script type="text/javascript" src="../assets/widgets/datatable/datatable-bootstrap.js"></script>
<script type="text/javascript" src="../assets/widgets/datatable/datatable-responsive.js"></script>

<div class="panel" ng-controller="AdminUserCntrl" id="AdminUserCntrl" ng-init="GetUserList()">
    <div class="panel-body">

        <div class="modal fade UserModel" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Usuário administrador</h4>
                    </div>
                    <div class="modal-body">

                        <div class="row col-md-12" ng-show="ErrorList.length > 0">
                            <div class="example-box-wrapper">
                                <div class="alert alert-close alert-danger">
                                    <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" ng-click="ErrorList=[]"></a>
                                    <div class="bg-red alert-icon">
                                        <i class="glyph-icon icon-times"></i>
                                    </div>
                                    <div class="alert-content">
                                        <h4 class="alert-title">{{'Error'| translate}}</h4>
                                        <div ng-repeat="x in ErrorList track by $index">
                                            <p> {{ErrorList[$index]}}</p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <form class="form-horizontal bordered-row" id="demo-form" name="fmUser" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">{{'Name'| translate}}</label>
                                        <div class="col-sm-9" data-ng-class="{ 'has-error' : fmUser.Name.$invalid && (fmUser.Name.$dirty || Usersubmitted)}">
                                            <input type="text" ng-model="objUser.Name" name="Name" id="Name" placeholder="{{'Name'| translate}}" required class="form-control" ng-readonly="Type=='View'">
                                            <p ng-show="fmUser.Name.$error.required && (fmUser.Name.$dirty || Usersubmitted)" class="help-block">{{'NameRequred'| translate}}</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">{{'LastName'| translate}}</label>
                                        <div class="col-sm-9" data-ng-class="{ 'has-error' : fmUser.LastName.$invalid && (fmUser.LastName.$dirty || Usersubmitted)}">
                                            <input type="text" ng-model="objUser.LastName" name="LastName" id="LastName" placeholder="{{'LastName'| translate}}" required class="form-control" ng-readonly="Type=='View'">
                                            <p ng-show="fmUser.LastName.$error.required && (fmUser.LastName.$dirty || Usersubmitted)" class="help-block">{{'LastNameRequred'| translate}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @*<label class="col-sm-3 control-label">{{'ApiUser'| translate}}</label>*@
                                        <label class="col-sm-3 control-label">Email</label>
                                        <div class="col-sm-9" data-ng-class="{ 'has-error' : fmUser.ApiUser.$invalid && (fmUser.ApiUser.$dirty || Usersubmitted)}">
                                            <input type="email" ng-model="objUser.ApiUser" name="ApiUser" id="ApiUser" placeholder="{{'ApiUser'| translate}}" required class="form-control" ng-readonly="Type=='View'">
                                            <p ng-show="fmUser.ApiUser.$error.required && (fmUser.ApiUser.$dirty || Usersubmitted)" class="help-block">{{'ApiUserRequred'| translate}}</p>
                                            <p ng-show="fmUser.ApiUser.$error.email && (fmUser.ApiUser.$dirty || Usersubmitted)" class="help-block">{{'Invalid_email'| translate}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" ng-init="GetAccountList()">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">{{'AccountName'| translate}}</label>
                                        <div class="col-sm-9" data-ng-class="{ 'has-error' : fmUser.AccountID.$invalid && (fmUser.AccountID.$dirty || Usersubmitted)}">
                                            <select name="AccountID" id="AccountID" ng-model="objUser.AccountID"
                                                    data-ng-options="a.AccountId as a.AccountName  for a in AccountList"
                                                    data-ng-disabled="true"
                                                    class="form-control form-control-solid placeholder-no-fix" ng-required="true">
                                                <option value=''>{{'Select'| translate}}</option>
                                            </select>
                                            <p ng-show="fmUser.AccountID.$error.required && (fmUser.AccountID.$dirty || Usersubmitted)" class="help-block">{{'AccountNameRequred'| translate}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*<div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">{{'apiUsuario'| translate}}</label>
                                        <div class="col-sm-9" data-ng-class="{ 'has-error' : fmUser.apiUsuario.$invalid && (fmUser.apiUsuario.$dirty || Usersubmitted)}">
                                            <input type="text" ng-model="objUser.apiUsuario" name="apiUsuario" id="apiUsuario" placeholder="{{'apiUsuario'| translate}}" required class="form-control" ng-readonly="Type=='View'">
                                            <p ng-show="fmUser.apiUsuario.$error.required && (fmUser.apiUsuario.$dirty || Usersubmitted)" class="help-block">{{'apiUsuarioRequired'| translate}}</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">{{'apiSenha'| translate}}</label>
                                        <div class="col-sm-9" data-ng-class="{ 'has-error' : fmUser.apiSenha.$invalid && (fmUser.apiSenha.$dirty || Usersubmitted)}">
                                            <input type="password" ng-model="objUser.apiSenha" name="apiSenha" id="apiSenha" placeholder="{{'apiSenha'| translate}}" required class="form-control" ng-readonly="Type=='View'">
                                            <p ng-show="fmUser.apiSenha.$error.required && (fmUser.apiSenha.$dirty || Usersubmitted)" class="help-block">{{'apiSenhaRequred'| translate}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>*@


                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">{{'DoubleVerification'| translate}}</label>
                                        <div class="col-sm-9" data-ng-class="{ 'has-error' : fmUser.UseDoubleVerification.$invalid && (fmUser.UseDoubleVerification.$dirty || Usersubmitted)}">
                                            <select ng-model="objUser.UseDoubleVerification" name="UseDoubleVerification" id="UseDoubleVerification" required class="form-control" ng-disabled="Type=='View'">
                                                <option value="No">Nenhum</option>
                                                <option value="By_email">Por email</option>
                                                <option value="By_SMS">Por SMS</option>
                                            </select>
                                            <p ng-show="fmUser.UseDoubleVerification.$error.required && (fmUser.UseDoubleVerification.$dirty || Usersubmitted)" class="help-block">{{'DoubleVerificationrequired'| translate}}</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">{{'MobileNo'| translate}}</label>
                                        <div class="col-sm-9" data-ng-class="{ 'has-error' : fmUser.MobileNo.$invalid && (fmUser.MobileNo.$dirty || Usersubmitted)}">
                                            <input type="text" mask="(99) 99999-9999" maxlength="20" ng-model="objUser.MobileNo" name="MobileNo" id="MobileNo" class="form-control" ng-required="objUser.UseDoubleVerification=='By_SMS'" ng-readonly="Type=='View'">
                                            <p ng-show="fmUser.MobileNo.$error.required && Usersubmitted" class="help-block">{{'MobileNoRequired'| translate}}</p>
                                            <p ng-show="fmUser.MobileNo.$invalid && !fmUser.MobileNo.$error.required && Usersubmitted" class="help-block">{{'MobileNoNotValid'| translate}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">{{'Picture'| translate}}</label>
                                        <div class="col-sm-9">
                                            <input type="file" ng-model="objUser.Picture" name="Picture" id="Picture" class="file" ng-hide="true">
                                            <div class="input-group col-xs-12">
                                                <input type="text" class="form-control" disabled placeholder="Upload Image" id="upldimg">
                                                <span class="input-group-btn">
                                                    <button class="browse btn btn-primary" type="button"><i class="glyphicon glyphicon-search"></i> Localizar</button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label hidden-xs"></label>
                                        <div class="col-sm-9">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" ng-model="objUser.SendPasswordEmail" name="SendPasswordEmail" id="SendPasswordEmail">
                                                    {{'SendPasswordEmails'| translate}}
                                                </label>
                                            </div>


                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6" style="margin-bottom:0px;" ng-show="objUser.OldFileName != null">
                                    <div class="form-group" style="margin-bottom:0px;">
                                        <label class="col-sm-3 control-label"> &nbsp; </label>
                                        <div class="col-md-3 col-sm-4 col-xs-5">
                                            <div class="thumbnail-box thumbnail-box-inverse myEditProfileImage">
                                                <a class="thumb-link" href="#" title=""></a>
                                                <div class="thumb-content">
                                                    <div class="center-vertical">
                                                        <div class="center-content">
                                                            <h3 class="thumb-heading animated bounceIn">
                                                                Foto do perfil
                                                            </h3>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="thumb-overlay bg-black"></div>
                                                <img src="/ProfilePhoto/{{objUser.OldFileName}}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">{{'AccessToken'| translate}}</label>
                                        <div class="col-sm-9" data-ng-class="{ 'has-error' : fmUser.AccessToken.$invalid && (fmUser.AccessToken.$dirty || Usersubmitted)}">
                                            <input type="text" ng-model="objUser.AccessToken" name="AccessToken" id="AccessToken" placeholder="{{'AccessToken'| translate}}" class="form-control" ng-readonly="Type=='View'">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row" ng-show="Type=='View' && objUser.ProfileID >0  ">
                                <div class="col-md-6" ng-hide="objUser.ModifiedBy==null || objUser.ModifiedAt==null">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">{{'ModifyBy'| translate}}</label>
                                        <div class="col-sm-9">
                                            <input type="text" ng-model="objUser.ModifiedByName" name="ModifiedByName" id="ModifiedByName" class="form-control" ng-readonly="Type=='View'">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" ng-hide="objUser.ModifiedBy==null || objUser.ModifiedAt==null">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">{{'ModifyAt'| translate}}</label>
                                        <div class="col-sm-9">
                                            <input type="text" ng-model="objUser.ModifiedAt" name="ModifiedAt" id="ModifiedAt" class="form-control" ng-readonly="Type=='View'">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row" ng-show="Type=='View'">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">{{'CreatedBy'| translate}}</label>
                                        <div class="col-sm-9">
                                            <input type="text" ng-model="objUser.CreatedByName" name="CreatedByName" id="CreatedByName" class="form-control" ng-readonly="Type=='View'">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">{{'CreatedAt'| translate}}</label>
                                        <div class="col-sm-9">
                                            <input type="text" ng-model="objUser.CreatedAt" name="CreatedAt" id="CreatedAt" class="form-control" ng-readonly="Type=='View'">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row" ng-show="Type=='View'">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">{{'LastLogin'| translate}}</label>
                                        <div class="col-sm-9">
                                            <input type="text" ng-model="objUser.LastLogin" name="LastLogin" id="LastLogin" class="form-control" ng-readonly="Type=='View'">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                </div>
                            </div>

                        </form>
                        <div>
                            @Html.Partial("_DetalhesAuditoria")
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{{'Close'| translate}}</button>
                        <button type="button" class="btn btn-primary" ng-click="SaveUser(objUser)" ng-hide="Type=='View'">{{'Savechanges'| translate}}</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div id="mySecurityModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 style="text-align:center;"> PROCESSO DE VERIFICAÇÃO</h3>
                    </div>
                    <div class="modal-body">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#Email">Email de verificação</a></li>
                            <li ng-hide="objUser.MobileNo == '' || objUser.MobileNo == null"><a data-toggle="tab" href="#Phone">Número telefone para verificação</a></li>
                        </ul>

                        <div class="tab-content">
                            <br />
                            <div id="Email" class="tab-pane fade in active">
                                <div class="row col-md-12" ng-show="CodeErrorList.length > 0">
                                    <div class="example-box-wrapper">
                                        <div class="alert alert-close alert-danger">
                                            <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" ng-click="CodeErrorList=[]"></a>
                                            <div class="bg-red alert-icon">
                                                <i class="glyph-icon icon-times"></i>
                                            </div>
                                            <div class="alert-content">
                                                <h4 class="alert-title">{{'Error'| translate}}</h4>
                                                <div ng-repeat="x in CodeErrorList track by $index">
                                                    <p> {{CodeErrorList[$index]}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row col-md-12" ng-show="CodeSucessList.length > 0">
                                    <div class="example-box-wrapper">
                                        <div class="alert alert-close alert-success">
                                            <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" ng-click="CodeSucessList=[]"></a>
                                            <div class="bg-green alert-icon">
                                                <i class="glyph-icon icon-check"></i>
                                            </div>
                                            <div class="alert-content">
                                                <h4 class="alert-title">{{'Success'| translate}}</h4>
                                                <div ng-repeat="x in CodeSucessList track by $index">
                                                    <p> {{CodeSucessList[$index]}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group text-center col-md-12 col-sm-12">
                                        Seu endereço de email registrado :
                                        <label class="control-label text-danger">{{objUser.ApiUser}} <button class="btn btn-link" ng-click="SendEmailCode()"> Enviar código</button> </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <form class="form-horizontal bordered-row" id="fmEmailVefication" name="fmEmailVefication" enctype="multipart/form-data">
                                        <div class="col-md-2">
                                        </div>
                                        <div class="col-md-5" data-ng-class="{ 'has-error' : fmEmailVefication.EmailVarificationCode.$invalid && (fmEmailVefication.EmailVarificationCode.$dirty || EmailVeficationUsersubmitted)}">
                                            <input type="text" autocomplete="off" ng-model="EmailVarificationCode" name="EmailVarificationCode" id="EmailVarificationCode" placeholder="{{'verifycode'| translate}}" required class="form-control">
                                            <p ng-show="fmEmailVefication.EmailVarificationCode.$error.required && (fmEmailVefication.EmailVarificationCode.$dirty || EmailVeficationUsersubmitted)" class="help-block">{{'EmailVarificationCodeRequred'| translate}}</p>
                                        </div>
                                        <div class="col-md-3">
                                            <button type="button" class="btn btn-default btn-info" ng-click="SendEmailCode()">{{'Resend'| translate}}</button>
                                        </div>
                                    </form>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-2">
                                    </div>
                                    <div class="col-md-4">
                                        <button type="button" class="btn btn-success" ng-click="CheckEmailVerficationCode()">{{'Verify'| translate}}</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">{{'Close'| translate}}</button>
                                    </div>
                                </div>

                            </div>
                            <div id="Phone" class="tab-pane fade">

                                <div class="row col-md-12" ng-show="PhoneCodeErrorList.length > 0">
                                    <div class="example-box-wrapper">
                                        <div class="alert alert-close alert-danger">
                                            <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" ng-click="PhoneCodeErrorList=[]"></a>
                                            <div class="bg-red alert-icon">
                                                <i class="glyph-icon icon-times"></i>
                                            </div>
                                            <div class="alert-content">
                                                <h4 class="alert-title">{{'Error'| translate}}</h4>
                                                <div ng-repeat="x in PhoneCodeErrorList track by $index">
                                                    <p> {{PhoneCodeErrorList[$index]}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row col-md-12" ng-show="PhoneCodeSucessList.length > 0">
                                    <div class="example-box-wrapper">
                                        <div class="alert alert-close alert-success">
                                            <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" ng-click="PhoneCodeSucessList=[]"></a>
                                            <div class="bg-green alert-icon">
                                                <i class="glyph-icon icon-check"></i>
                                            </div>
                                            <div class="alert-content">
                                                <h4 class="alert-title">{{'Success'| translate}}</h4>
                                                <div ng-repeat="x in PhoneCodeSucessList track by $index">
                                                    <p> {{PhoneCodeSucessList[$index]}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group text-center col-md-12 col-sm-12">
                                        Seu número de telefone registrado:
                                        <label class="control-label text-danger">{{objUser.MobileNo}} <button class="btn btn-link" ng-click="SendPhoneCode()"> Enviar código</button> </label>
                                    </div>
                                </div>

                                <div class="row">
                                    <form class="form-horizontal bordered-row" id="fmPhoneVefication" name="fmPhoneVefication" enctype="multipart/form-data">
                                        <div class="col-md-2">
                                        </div>
                                        <div class="col-md-5" data-ng-class="{ 'has-error' : fmPhoneVefication.PhoneVarificationCode.$invalid && (fmPhoneVefication.PhoneVarificationCode.$dirty || PhoneVeficationUsersubmitted)}">
                                            <input type="text" autocomplete="off" ng-model="PhoneVarificationCode" name="PhoneVarificationCode" id="PhoneVarificationCode" placeholder="{{'verifycode'| translate}}" required class="form-control">
                                            <p ng-show="fmPhoneVefication.PhoneVarificationCode.$error.required && (fmPhoneVefication.PhoneVarificationCode.$dirty || PhoneVeficationUsersubmitted)" class="help-block">{{'EmailVarificationCodeRequred'| translate}}</p>
                                        </div>
                                        <div class="col-md-3">
                                            <button type="button" class="btn btn-default btn-info" ng-click="SendPhoneCode()">{{'Resend'| translate}}</button>
                                        </div>
                                    </form>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-2">
                                    </div>
                                    <div class="col-md-4">
                                        <button type="button" class="btn btn-success" ng-click="CheckPhoneVerficationCode()">{{'Verify'| translate}}</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">{{'Close'| translate}}</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>

            </div>
        </div>

        <h3 class="title-hero">
            <button class="btn btn-primary" data-toggle="modal" data-target=".UserModel" ng-click="Type=''">
                <i class="glyph-icon icon-plus"></i>
                {{'AddAdminUser'| translate}}
            </button>
        </h3>
        <div class="example-box-wrapper">
            <div ng-show="TMsg==true" ng--hide="TMsg==false">
                <div class="alert alert-success">
                    <div class="bg-green alert-icon">
                        <i class="glyph-icon icon-check"></i>
                    </div>
                    <div class="alert-content">
                        <h4 class="alert-title">{{'Success'| translate}}</h4>
                        <p>{{successMsg}}</p>
                    </div>
                </div>
            </div>

            <div ng-show="FMsg==true" ng-hide="FMsg==false">
                <div class="alert alert-danger">
                    <div class="bg-red alert-icon">
                        <i class="glyph-icon icon-times"></i>
                    </div>
                    <div class="alert-content">
                        <h4 class="alert-title">{{'Error'| translate}}</h4>
                        <p>{{ ErrorMsg }} </p>
                    </div>
                </div>
            </div>

            <table id="dtUser" class="table table-striped table-bordered responsive no-wrap" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>{{'UserName'| translate}}</th>
                        <th>{{'Name'| translate}}</th>
                        <th>{{'LastName'| translate}}</th>
                        <th>{{'View'| translate}}</th>
                        <th>{{'Edit'| translate}}</th>

                        <th>{{'Action'| translate}}</th>

                    </tr>
                </thead>

            </table>
        </div>

    </div>
</div>


<script type="text/javascript">
    function EditUser(d) {
        var scope = angular.element(document.getElementById("AdminUserCntrl")).scope();
        scope.EditUser(d, 'Edit');
    }

    function ViewUser(d) {
        var scope = angular.element(document.getElementById("AdminUserCntrl")).scope();
        scope.EditUser(d, 'View');
    }

    function SendAuthenticationEmail(d) {
        var scope = angular.element(document.getElementById("AdminUserCntrl")).scope();
        scope.SendAuthenticationEmail(d);
    }

    function Security(d) {
        var scope = angular.element(document.getElementById("AdminUserCntrl")).scope();
        scope.Security(d);
    }


    $(document).on('click', '.browse', function () {
        var file = $(this).parent().parent().parent().find('.file');
        file.trigger('click');
    });
    $(document).on('change', '.file', function () {
        $(this).parent().find('.form-control').val($(this).val().replace(/C:\\fakepath\\/i, ''));
    });

</script>



