﻿
@{
    ViewData["Title"] = "Consulta de motorista em lote";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="../assets/widgets/datatable/datatable.css">
<script type="text/javascript" src="../assets/widgets/datatable/datatable.js"></script>
<script type="text/javascript" src="../assets/widgets/datatable/datatable-bootstrap.js"></script>
<script type="text/javascript" src="../assets/widgets/datatable/datatable-responsive.js"></script>
<link href="~/lib/daterangepicker.css" rel="stylesheet" />

<style>
    .seta-btn:before {
        display: inline-block;
        font-family: "FontAwesome";
        content: "\f107";
        float: right;
        font-weight: normal;
        font-style: normal;
    }

    .seta-btn.collapsed:before {
        content: "\f105";
    }
</style>

<div class="panel" ng-controller="BuscaEmLoteCNHCntrl">
    <div class="panel-body">
        <div class="example-box-wrapper">
            <div ng-show="TMsg">
                <div class="alert alert-success">
                    <div class="bg-green alert-icon">
                        <i class="glyph-icon icon-check"></i>
                    </div>
                    <div class="alert-content">
                        <h4 class="alert-title">{{'Success'| translate}}</h4>
                        <p>{{successMsg}} </p>
                    </div>
                </div>
            </div>

            <div class="alert alert-close alert-danger" ng-show="FMsg">
                <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" ng-click="FMsg=false"></a>
                <div class="bg-red alert-icon">
                    <i class="glyph-icon icon-times"></i>
                </div>
                <div class="alert-content">
                    <h4 class="alert-title">{{'Error'| translate}}</h4>
                    <p> {{ErrorMsg }}</p>

                </div>
            </div>

            <div class="alert alert-warning" ng-show="IMsg">
                <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" ng-click="IMsg=false"></a>
                <div class="bg-orange alert-icon">
                    <i class="glyph-icon icon-warning"></i>
                </div>
                <div class="alert-content">
                    <h4 class="alert-title">{{'Warning'| translate}} </h4>
                    <p> {{InfoMsg }} </p>
                </div>
            </div>


            <div class="example-box-wrapper">
                <h3>Arquivo excel</h3>
                <div class="row col-md-12">
                    <form class="form-horizontal bordered-row ng-pristine ng-valid ng-valid-required" id="fmImportExcel" name="fmImportExcel" enctype="multipart/form-data">
                        <div class="form-group">
                            <label class="col-sm-1 control-label ng-binding">Arquivo</label>
                            <div class="col-sm-5" data-ng-class="{ 'has-error' : fmImportExcel.ExcelFile.$invalid && (fmImportExcel.ExcelFile.$dirty || Excelsubmitted)}">
                                <input type="file" ng-model="objImport.ExcelFile" name="ExcelFile" id="ExcelFile" class="file ng-pristine ng-untouched ng-valid ng-hide" ng-hide="true" ng-required="true">
                                <div class="input-group col-xs-12">
                                    <input type="text" class="form-control" disabled="" placeholder="Selecione um arquivo">
                                    <span class="input-group-btn">
                                        <button class="browse btn btn-primary" type="button"><i class="glyphicon glyphicon-search"></i> Localizar</button>
                                    </span>
                                </div>

                                <p ng-show="fmImportExcel.ExcelFile.$error.required && (fmImportExcel.ExcelFile.$dirty || Excelsubmitted)" class="help-block">{{'FileSelectionRequred'| translate}}</p>

                                <a href="~/Exemplo consulta CNH em lote.xlsx" download>
                                    Clique aqui para baixar o exemplo do arquivo de consulta de CNH em lote
                                </a>
                            </div>
                            <div class="col-sm-6">
                                <button type="button" class="btn btn-primary ng-binding" ng-click="ImportExcelFile(objImport)"> Anexar arquivo </button>
                            </div>
                           
                        </div>
                    </form>
                </div>               
            </div>

            <div id="accordion" style="margin:3px;" ng-show="ImportData == null">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h4 class="mb-0">
                            <button class="btn btn-primary btn-block seta-btn" style="text-align:left; font-size:14px; padding:0 10px 10px 10px;" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Exemplo estrutura arquivo excel
                            </button>
                        </h4>
                    </div>
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body" style="padding:5px;">
                            <img src="~/EstruturaArquivoCSV3.jpg" style="width:100%" />
                        </div>
                    </div>
                </div>
            </div>

            <div id="accordion" style="margin:3px;" ng-show="ImportData == null">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h4 class="mb-0">
                            <button class="btn btn-primary btn-block seta-btn" style="text-align:left; font-size:14px; padding:0 10px 10px 10px;" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapseOne">
                                Campos obrigatórios por UF
                            </button>
                        </h4>
                    </div>
                    <div id="collapse1" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body" style="padding:5px;">
                            <img src="~/ObrigatoriedadeCamposPorUFs.jpg"  />                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="row col-md-12" ng-show="ImportData.length > 0">
                <table id="dtImportData" class="table table-striped table-bordered responsive no-wrap" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>UF</th>
                            <th>Nome</th>
                            <th>CPF</th>
                            <th>Número do registro</th>
                            <th>Número do Renach</th>
                            <th>Validade CNH</th>
                            <th>RG</th>
                            <th>Data de nascimento</th>
                            <th>Data de habilitacao</th>
                            <th>Município de nascimento</th>
                            <th>Número da cédula espelho</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="row col-md-12" ng-show="ImportData.length > 0">
                <button type="button" class="btn btn-primary ng-binding" ng-click="SaveExcelData()"> Processar </button>
            </div>

            <div class="row col-md-12" ng-show="SearchedDocumentList.length > 0">
                <table id="dtDocList" class="table table-striped table-bordered responsive no-wrap" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>{{'DocumentCode'| translate}}</th>
                            <th>{{'CreatedDate'| translate}}</th>
                            <th>{{'Detail'| translate}}</th>
                        </tr>
                    </thead>
                </table>
            </div>

        </div>
    </div>
</div>
<script src="~/js/underscore.js"></script>


<!-- jQueryUI Accordion -->
<script src="~/assets/widgets/accordion-ui/accordion.js"></script>
<script type="text/javascript">
    /* jQuery UI Accordion */

    $(function () {
        "use strict";
        $(".accordion").accordion({
            heightStyle: "content"
        });
    });

    $(function () {
        "use strict";
        $("#accordion-hover")
            .accordion({
                event: 'mouseover',
                heightStyle: 'auto'
            });
    });
</script>


<script type="text/javascript">
    $(document).on('click', '.browse', function () {
        var file = $(this).parent().parent().parent().find('.file');
        file.trigger('click');
    });

</script>