﻿@{
    ViewData["Title"] = "Consulta motorista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    window.___gcfg = {
        parsetags: 'explicit'
    };
</script>

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.min.js"></script>
<link href="~/css/Pages/SingleDocumentSearch.css" rel="stylesheet" />
<script src="https://apis.google.com/js/platform.js" async defer></script>
<head>
    <meta charset="utf-8" />
</head>
<div lang="pt-br" class="panel" ng-controller="ConsultaCNHCntrl">
    <div class="panel-body">
        <div class="example-box-wrapper">
            <div ng-show="TMsg">
                <div class="alert alert-success">
                    <div class="bg-green alert-icon">
                        <i class="glyph-icon icon-check"></i>
                    </div>
                    <div class="alert-content">
                        <h4 class="alert-title">{{'Success'| translate}}</h4>
                        <p>{{successMsg}} </p>
                    </div>
                </div>
            </div>

            <div class="alert alert-close alert-danger" ng-show="FMsg">
                <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" ng-click="ErrorList=[]"></a>
                <div class="bg-red alert-icon">
                    <i class="glyph-icon icon-times"></i>
                </div>
                <div class="alert-content">
                    <h4 class="alert-title">{{'Error'| translate}}</h4>
                    <p> {{ErrorMsg }}</p>
                </div>
            </div>

            <form class="form-horizontal  bordered-row" id="demo-form" name="fmSearch">
                <div class="row col-md-12">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label"> UF </label>
                            <div class="col-md-9" data-ng-class="{ 'has-error' : fmSearch.UF.$invalid && (fmSearch.UF.$dirty || searchsubmitted)}">
                                <select ng-model="objSearch.UF" ng-options="x for x in UFs" name="UF" id="UF" placeholder="UF" required class="form-control" style="width:80px;" maxlength="5" ng-required="true"></select>
                                <p ng-show="fmSearch.UF.$error.required && (fmSearch.UF.$dirty || searchsubmitted)" class="help-block">UF é obrigatório</p>
                            </div>
                        </div>
                        <!--<div class="form-group">
                            <label class="col-md-3 control-label"> Nome </label>
                            <div class="col-md-9" data-ng-class="{ 'has-error' : fmSearch.Nome.$invalid && (fmSearch.Nome.$dirty || searchsubmitted)}">
                                <input type="text" ng-model="objSearch.Nome" name="Nome" id="Nome" placeholder="Nome" required class="form-control" maxlength="150" ng-required="true">
                                <p ng-show="fmSearch.Nome.$error.required && (fmSearch.Nome.$dirty || searchsubmitted)" class="help-block">Nome é obrigatório</p>
                            </div>
                        </div>-->
                        <div class="form-group">
                            <label class="col-md-3 control-label"> CPF </label>
                            <div class="col-md-9" data-ng-class="{ 'has-error' : fmSearch.CPF.$invalid && (fmSearch.CPF.$dirty || searchsubmitted)}">
                                <input type="text" pattern="[0-9]{11,11}" ng-model="objSearch.CPF" name="CPF" id="CPF" placeholder="CPF" required class="form-control" maxlength="11" style="width:170px;" ng-required="true">
                                <p ng-show="fmSearch.CPF.$error.required && (fmSearch.CPF.$dirty || searchsubmitted)" class="help-block">CPF é obrigatório</p>
                                <p ng-show="fmSearch.CPF.$error.pattern && (fmSearch.CPF.$dirty || searchsubmitted)" class="help-block">CPF deve ter apenas números e deve ser composto por 11 caracteres</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label"> Número registro </label>
                            <div class="col-md-9" data-ng-class="{ 'has-error' : fmSearch.NumRegistro.$invalid && (fmSearch.NumRegistro.$dirty || searchsubmitted)}">
                                <input type="text" pattern="[0-9]{9,11}" ng-model="objSearch.NumRegistro" name="NumRegistro" id="NumRegistro" placeholder="Número do registro" required class="form-control" maxlength="11" style="width:170px;" ng-required="true">
                                <p ng-show="fmSearch.NumRegistro.$error.required && (fmSearch.NumRegistro.$dirty || searchsubmitted)" class="help-block">Número do registro é obrigatório</p>
                                <p ng-show="fmSearch.NumRegistro.$error.pattern && (fmSearch.NumRegistro.$dirty || searchsubmitted)" class="help-block">Número do registro deve ter apenas números e deve ser composto de 9 a 11 caracteres</p>
                            </div>
                        </div>
                       
                        <div ng-show="objSearch.UF == 'TO'">
                            <div class="form-group">
                                <label class="col-md-3 control-label"> Número Renach </label>
                                <div class="col-md-9" data-ng-class="{ 'has-error' : fmSearch.NumRenach.$invalid && (fmSearch.NumRenach.$dirty || searchsubmitted)}">
                                    <input type="text" pattern="[0-9]{5,30}" ng-model="objSearch.NumRenach" name="NumRenach" id="NumRenach" placeholder="Número do Renach" required class="form-control" maxlength="30" style="width:170px;" ng-required="objSearch.UF == 'TO'">
                                    <p ng-show="fmSearch.NumRenach.$error.required && (fmSearch.NumRenach.$dirty || searchsubmitted)" class="help-block">Número do Renach é obrigatório</p>
                                    <p ng-show="fmSearch.NumRenach.$error.pattern && (fmSearch.NumRenach.$dirty || searchsubmitted)" class="help-block">Número do Renach deve ter apenas números e deve ser composto de 5 a 30 caracteres</p>
                                </div>
                            </div>
                        </div>
                       
                        <div ng-show="objSearch.UF == 'PR'">
                            <div class="form-group">
                                <label class="col-md-3 control-label"> Validade CNH </label>
                                <div class="col-md-9" data-ng-class="{ 'has-error' : fmSearch.ValidadeCNH.$invalid && (fmSearch.ValidadeCNH.$dirty || searchsubmitted)}">
                                    <input type="date" ng-model="objSearch.ValidadeCNH" name="ValidadeCNH" id="ValidadeCNH" placeholder="Validade CNH" required class="form-control" maxlength="12" style="width:170px;" ng-required="objSearch.UF == 'PR'">
                                    <p ng-show="fmSearch.ValidadeCNH.$error.required && (fmSearch.ValidadeCNH.$dirty || searchsubmitted)" class="help-block">Validade CNH é obrigatório</p>
                                </div>
                            </div>
                        </div>                       
                        <div ng-show="objSearch.UF == 'RO' || objSearch.UF == 'RS'">
                            <div class="form-group">
                                <label class="col-md-3 control-label"> RG </label>
                                <div class="col-md-9" data-ng-class="{ 'has-error' : fmSearch.RG.$invalid && (fmSearch.RG.$dirty || searchsubmitted)}">
                                    <input type="text" pattern="[0-9xX]{9}" ng-model="objSearch.RG" name="RG" id="RG" placeholder="RG" required class="form-control" maxlength="10" style="width:170px;" ng-required="objSearch.UF == 'RO' || objSearch.UF == 'RS'">
                                    <p ng-show="fmSearch.RG.$error.required && (fmSearch.RG.$dirty || searchsubmitted)" class="help-block">RG é obrigatório</p>
                                    <p ng-show="fmSearch.RG.$error.pattern && (fmSearch.RG.$dirty || searchsubmitted)" class="help-block">RG deve ser composto de 9 caracteres e a única letra permitida é X</p>
                                </div>
                            </div>
                        </div>
                        
                        <div ng-show="objSearch.UF == 'AP' || objSearch.UF == 'DF' || objSearch.UF == 'RO' || objSearch.UF == 'RR'">
                            <div class="form-group">
                                <label class="col-md-3 control-label"> Data nascimento </label>
                                <div class="col-md-9" data-ng-class="{ 'has-error' : fmSearch.DataNascimento.$invalid && (fmSearch.DataNascimento.$dirty || searchsubmitted)}">
                                    <input type="date" ng-model="objSearch.DataNascimento" name="DataNascimento" id="DataNascimento" placeholder="Data de nascimento" required class="form-control" maxlength="12" style="width:170px;"
                                            ng-required="objSearch.UF == 'AP' || objSearch.UF == 'DF' || objSearch.UF == 'RO' || objSearch.UF == 'RR'">
                                    <p ng-show="fmSearch.DataNascimento.$error.required && (fmSearch.DataNascimento.$dirty || searchsubmitted)" class="help-block">Data de nascimento é obrigatória</p>
                                </div>
                            </div>
                        </div>                       
                        <div ng-show="objSearch.UF == 'MG'">
                            <div class="form-group">
                                <label class="col-md-3 control-label"> Data 1a habilitação </label>
                                <div class="col-md-9" data-ng-class="{ 'has-error' : fmSearch.DataHabilitacao.$invalid && (fmSearch.DataHabilitacao.$dirty || searchsubmitted)}">
                                    <input type="date" ng-model="objSearch.DataHabilitacao" name="DataHabilitacao" id="DataHabilitacao" placeholder="Data da habilitação" required class="form-control" maxlength="12" style="width:170px;" ng-required="objSearch.UF == 'MG'">
                                    <p ng-show="fmSearch.DataHabilitacao.$error.required && (fmSearch.DataHabilitacao.$dirty || searchsubmitted)" class="help-block">Data da habilitação é obrigatória</p>
                                </div>
                            </div>
                        </div>
                        
                        <div ng-show="objSearch.UF == 'AM'">
                            <div class="form-group">
                                <label class="col-md-3 control-label"> Município nascimento </label>
                                <div class="col-md-9" data-ng-class="{ 'has-error' : fmSearch.MunicipioNascimento.$invalid && (fmSearch.MunicipioNascimento.$dirty || searchsubmitted)}">
                                    <input type="text" ng-model="objSearch.MunicipioNascimento" name="MunicipioNascimento" id="MunicipioNascimento" placeholder="Município de nascimento" required class="form-control" maxlength="150" ng-required="objSearch.UF == 'AM'">
                                    <p ng-show="fmSearch.MunicipioNascimento.$error.required && (fmSearch.MunicipioNascimento.$dirty || searchsubmitted)" class="help-block">Município de nascimento é obrigatório</p>
                                </div>
                            </div>
                        </div>                       
                        <div ng-show="objSearch.UF == 'ES'" class="row">
                            <div class="form-group">
                                <label class="col-md-3 control-label"> Número cédula/espelho </label>
                                <div class="col-md-9" data-ng-class="{ 'has-error' : fmSearch.NumCedulaEspelho.$invalid && (fmSearch.NumCedulaEspelho.$dirty || searchsubmitted)}">
                                    <input type="text"  pattern="[0-9]{5,30}" ng-model="objSearch.NumCedulaEspelho" name="NumCedulaEspelho" id="NumCedulaEspelho" placeholder="Número da cédula/espelho" required class="form-control" style="width:200px;" maxlength="30" ng-required="objSearch.UF == 'ES'">
                                    <p ng-show="fmSearch.NumCedulaEspelho.$error.required && (fmSearch.NumCedulaEspelho.$dirty || searchsubmitted)" class="help-block">Número da cédula/espelho é obrigatório</p>
                                    <p ng-show="fmSearch.NumCedulaEspelho.$error.pattern && (fmSearch.NumCedulaEspelho.$dirty || searchsubmitted)" class="help-block">Número da cédula/espelho deve ter apenas números e deve ser composto de 5 a 30 caracteres</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label"> &nbsp; </label>
                            <div class="col-md-9">
                                <button type="button" class="btn btn-primary" style="float:right;" ng-click="SearchDocument(objSearch)"> {{'Querydocument'| translate}} </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-8" style="margin-left:0px !important; padding-left:0px !important;">
                                    <!-- colocar contudo modulo direito-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-show="ShowPdfButton" id="invoice">
                    <div style="float:right; padding:10px 0;">
                        <i class="glyph-icon tooltip-button demo-icon btn-primary icon-floppy-o" title="" data-original-title="Salvar PDF" ng-show="ShowPdfButton" ng-click="CreatePdf(objSearch,true,false)"></i>
                        @*<i class="glyph-icon tooltip-button demo-icon btn-primary icon-floppy-o" title="" data-original-title="Salvar PDF" ng-show="ShowPdfButton" ng-click="printToCart('invoice')"></i>*@
                        <i class="glyph-icon tooltip-button demo-icon btn-primary icon-file-excel-o" title="" data-original-title="Salvar Excel" ng-show="ShowPdfButton" ng-click="CreateExcel(objSearch,true)"></i>
                        <i class="glyph-icon tooltip-button demo-icon btn-primary icon-cloud-upload" title="" data-original-title="Enviar PDF" ng-show="ShowDriveButton" ng-click="UploadToDrive()"></i>
                        <div ng-show="ShowSaveButton" class="saveDrive" id="savetodrive-divS"></div>
                    </div>
                    @Html.Partial("_DetalhesConsultaCNH")
                </div>

            </form>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Upload documents</h4>
                </div>
                <div class="modal-body">

                    <div ng-show="DTMsg" id="Tmsgbox">
                        <div class="alert alert-success">
                            <div class="bg-green alert-icon">
                                <i class="glyph-icon icon-check"></i>
                            </div>
                            <div class="alert-content">
                                <h4 class="alert-title">{{'Success'| translate}}</h4>
                                <p>{{DsuccessMsg}} </p>
                            </div>
                        </div>
                    </div>

                    <div class="alert alert-close alert-danger" ng-show="DFMsg" id="Fmsgbox">
                        <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" ng-click="ErrorList=[]"></a>
                        <div class="bg-red alert-icon">
                            <i class="glyph-icon icon-times"></i>
                        </div>
                        <div class="alert-content">
                            <h4 class="alert-title">{{'Error'| translate}}</h4>
                            <p> {{DErrorMsg}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <button class="btn btn-primary ng-binding" data-toggle="modal" ng-click="renderSaveZipToDrive('M')">
                                <i class="glyphicon glyphicon-upload"></i>
                                Enviar para Google Drive
                            </button>
                            <div ng-show='ShowSaveButton' id='savetodrive-divM'></div>
                        </div>
                        <div class="col-md-6 text-center">
                            <button class="btn btn-primary ng-binding" data-toggle="modal" ng-click="renderSaveToDroupBox()">
                                <i class="fa fa-dropbox"></i>
                                Enviar para dropbox
                            </button>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">

                </div>
            </div>

        </div>
    </div>
</div>
<script src="~/assets/bootstrap/js/bootbox.min.js"></script>