@{
    ViewData["Title"] = "Detalhes consulta motorista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    window.___gcfg = {
        parsetags: 'explicit'
    };
</script>

<script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>

<link href="~/css/Pages/DocDetailPage.css" rel="stylesheet" />
<script src="https://apis.google.com/js/platform.js" async defer></script>

<div class="panel" ng-controller="DetalheConsultaMotoristaCntrl" id="conteudo">
    <div ng-init="init(qId= '@ViewBag.QId',docId ='@ViewBag.DocId')"  />
    <div class="panel-body">
        <div class="example-box-wrapper">
            <div ng-show="TMsg">
                <div class="alert alert-success">
                    <div class="bg-green alert-icon">
                        <i class="glyph-icon icon-check"></i>
                    </div>
                    <div class="alert-content">
                        <h4 class="alert-title">{{'Success'| translate}}</h4>
                        <p>{{successMsg}} </p>
                    </div>
                </div>
            </div>

            <div class="alert alert-close alert-danger" ng-show="FMsg">
                <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" ng-click="ErrorList=[]"></a>
                <div class="bg-red alert-icon">
                    <i class="glyph-icon icon-times"></i>
                </div>
                <div class="alert-content">
                    <h4 class="alert-title">{{'Error'| translate}}</h4>
                    <p> {{ErrorMsg }}</p>
                </div>
            </div>

            <form class="form-horizontal  bordered-row" id="demo-form" name="fmSearch">
                <div class="row col-md-12">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label"> CPF </label>
                            <div class="col-md-9" data-ng-class="{ 'has-error' : fmSearch.DocumentCode.$invalid && (fmSearch.DocumentCode.$dirty || searchsubmitted)}">
                                <input type="text" ng-model="objSearch.DocumentCode" name="DocumentCode" id="DocumentCode" placeholder="{{'DocumentCode'| translate}}" required class="form-control" ng-readonly="true" maxlength="250">
                                <p ng-show="fmSearch.DocumentCode.$error.required && (fmSearch.DocumentCode.$dirty || searchsubmitted)" class="help-block">{{'DocumentCodeRequired'| translate}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <button type="button" class="btn btn-primary" ng-click="SearchDocument(objSearch)"> {{'Querydocument'| translate}} </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-show="ShowPdfButton" id="invoice">
                    <div style="float:right; padding:10px 0;">
                        @*<i class="glyph-icon tooltip-button demo-icon btn-primary icon-floppy-o" title="" data-original-title="Salvar PDF" ng-show="ShowPdfButton" ng-click="printToCart('invoice')"></i>*@
                        <i class="glyph-icon tooltip-button demo-icon btn-primary icon-floppy-o" title="" data-original-title="Salvar PDF" ng-show="ShowPdfButton"  ng-click="CreatePdf(objSearch,true,false)"></i>
                        <i class="glyph-icon tooltip-button demo-icon btn-primary icon-file-excel-o" title="" data-original-title="Salvar Excel" ng-show="ShowPdfButton" ng-click="CreateExcel(objSearch,true)"></i>
                        <i class="glyph-icon tooltip-button demo-icon btn-primary icon-cloud-upload" title="" data-original-title="Enviar PDF" ng-show="ShowDriveButton" ng-click="UploadToDrive()"></i>
                        <div ng-show="ShowSaveButton" class="saveDrive" id="savetodrive-divS"></div>
                    </div>
                    @Html.Partial("_DetalhesConsultaCNH")
                </div>

            </form>

            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Enviar arquivo</h4>
                        </div>
                        <div class="modal-body">

                            <div ng-show="DTMsg" id="Tmsgbox">
                                <div class="alert alert-success">
                                    <div class="bg-green alert-icon">
                                        <i class="glyph-icon icon-check"></i>
                                    </div>
                                    <div class="alert-content">
                                        <h4 class="alert-title">{{'Success'| translate}}</h4>
                                        <p>{{DsuccessMsg}} </p>
                                    </div>
                                </div>
                            </div>

                            <div class="alert alert-close alert-danger" ng-show="DFMsg" id="Fmsgbox">
                                <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" ng-click="ErrorList=[]"></a>
                                <div class="bg-red alert-icon">
                                    <i class="glyph-icon icon-times"></i>
                                </div>
                                <div class="alert-content">
                                    <h4 class="alert-title">{{'Error'| translate}}</h4>
                                    <p> {{DErrorMsg}}</p>

                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-6 text-center">
                                    <button class="btn btn-primary ng-binding" data-toggle="modal" ng-click="renderSaveZipToDrive('M')">
                                        <i class="glyphicon glyphicon-upload"></i>
                                        Enviar para Google Drive
                                    </button>
                                    <div ng-show='ShowSaveButton' id='savetodrive-divM'></div>
                                </div>
                                <div class="col-md-6 text-center">
                                    <button class="btn btn-primary ng-binding" data-toggle="modal" ng-click="renderSaveToDroupBox()">
                                        <i class="fa fa-dropbox"></i>
                                        Enviar para dropbox
                                    </button>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/assets/bootstrap/js/bootbox.min.js"></script>
