@{
    ViewData["Title"] = "Detalhes consulta veículo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    window.___gcfg = {
        parsetags: 'explicit'
    };
</script>

<link href="~/css/Pages/DocDetailPage.css" rel="stylesheet" />
<script src="https://apis.google.com/js/platform.js" async defer></script>

<div class="panel" ng-controller="DocDetailPageCntrl">

    <div class="modal fade ConsultaAvancadaPesquisa" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Parâmetros dessa consulta</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal bordered-row" id="demo-form" name="fmUser" enctype="multipart/form-data">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label hidden-xs"></label>
                                    <div class="col-sm-9">
                                        <div class="checkbox" ng-readonly="ShowOpcoesDaConsulta">
                                            <label>
                                                <input type="checkbox" disabled="disabled" ng-model="objConsultaAvancadaPesquisa.DadosVeic" name="IsAgregado" id="IsAgregado">
                                                Dados do veículo
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label hidden-xs"></label>
                                    <div class="col-sm-9">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="objConsultaAvancadaPesquisa.DadosProp" name="IsAgregado" id="IsAgregado" disabled="disabled">
                                                Dados do proprietário
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label hidden-xs"></label>
                                    <div class="col-sm-9">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="objConsultaAvancadaPesquisa.ArrendarioFinanceira" name="IsAgregado" id="IsAgregado" disabled="disabled">
                                                Arrendatário / Financeira
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label hidden-xs"></label>
                                    <div class="col-sm-9">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="objConsultaAvancadaPesquisa.IntencaoGravame" name="IsAgregado" id="IsAgregado" disabled="disabled">
                                                Intenção de gravame
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label hidden-xs"></label>
                                    <div class="col-sm-9">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="objConsultaAvancadaPesquisa.Restricoes" name="IsAgregado" id="IsAgregado" disabled="disabled">
                                                Restrições
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label hidden-xs"></label>
                                    <div class="col-sm-9">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="objConsultaAvancadaPesquisa.InspecaoVeicular" name="IsAgregado" id="IsAgregado" disabled="disabled">
                                                Inspeção veicular
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label hidden-xs"></label>
                                    <div class="col-sm-9">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="objConsultaAvancadaPesquisa.BloqueiosDetran" name="IsAgregado" id="IsAgregado" disabled="disabled">
                                                Bloqueios Detran
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label hidden-xs"></label>
                                    <div class="col-sm-9">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="objConsultaAvancadaPesquisa.DetalhamentoDebitos" name="IsAgregado" id="IsAgregado" disabled="disabled">
                                                Detalhamento dos débitos
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label hidden-xs"></label>
                                    <div class="col-sm-9">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="objConsultaAvancadaPesquisa.DetalhamentoIPVA" name="IsAgregado" id="IsAgregado" disabled="disabled">
                                                Detalhamento dos débitos - IPVA
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label hidden-xs"></label>
                                    <div class="col-sm-9">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="objConsultaAvancadaPesquisa.DetalhamentoDPVAT" name="IsAgregado" id="IsAgregado" disabled="disabled">
                                                Detalhamento dos débitos - DPVAT
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label hidden-xs"></label>
                                    <div class="col-sm-9">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="objConsultaAvancadaPesquisa.DetalhamentoMultas" name="IsAgregado" id="IsAgregado" disabled="disabled">
                                                Detalhamento das multas
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{'Close'| translate}}</button>
                </div>
            </div>
        </div>
    </div>

    <div ng-init="init(qId= '@ViewBag.QId',docId ='@ViewBag.DocId')" />
    <div class="panel-body">
        <div class="example-box-wrapper">
            <div ng-show="TMsg">
                <div class="alert alert-success">
                    <div class="bg-green alert-icon">
                        <i class="glyph-icon icon-check"></i>
                    </div>
                    <div class="alert-content">
                        <h4 class="alert-title">{{'Success'| translate}}</h4>
                        <p>{{successMsg}} </p>
                    </div>
                </div>
            </div>

            <div class="alert alert-close alert-danger" ng-show="FMsg">
                <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" ng-click="ErrorList=[]"></a>
                <div class="bg-red alert-icon">
                    <i class="glyph-icon icon-times"></i>
                </div>
                <div class="alert-content">
                    <h4 class="alert-title">{{'Error'| translate}}</h4>
                    <p> {{ErrorMsg }}</p>
                </div>
            </div>

            <form class="form-horizontal  bordered-row" id="demo-form" name="fmSearch">
                <div class="row col-md-12">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label"> {{'DocumentCode'| translate}} </label>
                            <div class="col-md-9" data-ng-class="{ 'has-error' : fmSearch.DocumentCode.$invalid && (fmSearch.DocumentCode.$dirty || searchsubmitted)}">
                                <input type="text" ng-model="objSearch.DocumentCode" name="DocumentCode" id="DocumentCode" placeholder="{{'DocumentCode'| translate}}" required class="form-control" ng-readonly="true" maxlength="250">
                                <p ng-show="fmSearch.DocumentCode.$error.required && (fmSearch.DocumentCode.$dirty || searchsubmitted)" class="help-block">{{'DocumentCodeRequired'| translate}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    @*<button type="button" class="btn btn-primary" ng-click="SearchDocument(objSearch)"> {{'Querydocument'| translate}} </button>*@
                                    @*<button class="btn btn-default btn-sm" data-toggle="modal" data-target=".ConsultaAvancadaPesquisa" ng-show="ShowOpcoesDaConsulta">
                                        <i class="glyphicon glyphicon-cog"></i>
                                    </button>*@
                                </div>
                                <div class="col-md-8" style="margin-left:0px !important; padding-left:0px !important;">
                                    <i class="glyph-icon tooltip-button demo-icon btn-primary icon-floppy-o" title="" data-original-title="Salvar PDF" ng-show="ShowPdfButton" ng-click="CreatePdf(objSearch,true,false)"></i>
                                    <i class="glyph-icon tooltip-button demo-icon btn-primary icon-file-excel-o" title="" data-original-title="Salvar Excel" ng-show="ShowPdfButton" ng-click="CreateExcel(objSearch,true)"></i>
                                    <i class="glyph-icon tooltip-button demo-icon btn-primary icon-cloud-upload" title="" data-original-title="Enviar para GoogleDrive" ng-show="ShowDriveButton" ng-click="UploadToDrive()"></i>
                                    <i class="glyph-icon tooltip-button demo-icon btn-primary icon-info" title="" data-toggle="modal" data-target=".ConsultaAvancadaPesquisa" data-original-title="Parâmetros dessa consulta" ng-show="ShowOpcoesDaConsulta"></i>
                                    <div ng-show="ShowSaveButton" class="saveDrive" id="savetodrive-divS"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                @Html.Partial("_DetalhesConsultaVeiculo")

            </form>

            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Enviar arquivo</h4>
                        </div>
                        <div class="modal-body">

                            <div ng-show="DTMsg" id="Tmsgbox">
                                <div class="alert alert-success">
                                    <div class="bg-green alert-icon">
                                        <i class="glyph-icon icon-check"></i>
                                    </div>
                                    <div class="alert-content">
                                        <h4 class="alert-title">{{'Success'| translate}}</h4>
                                        <p>{{DsuccessMsg}} </p>
                                    </div>
                                </div>
                            </div>

                            <div class="alert alert-close alert-danger" ng-show="DFMsg" id="Fmsgbox">
                                <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" ng-click="ErrorList=[]"></a>
                                <div class="bg-red alert-icon">
                                    <i class="glyph-icon icon-times"></i>
                                </div>
                                <div class="alert-content">
                                    <h4 class="alert-title">{{'Error'| translate}}</h4>
                                    <p> {{DErrorMsg}}</p>

                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-6 text-center">
                                    <button class="btn btn-primary ng-binding" data-toggle="modal" ng-click="renderSaveZipToDrive('M')">
                                        <i class="glyphicon glyphicon-upload"></i>
                                        Enviar para Google Drive
                                    </button>
                                    <div ng-show='ShowSaveButton' id='savetodrive-divM'></div>
                                </div>
                                <div class="col-md-6 text-center">
                                    <button class="btn btn-primary ng-binding" data-toggle="modal" ng-click="renderSaveToDroupBox()">
                                        <i class="fa fa-dropbox"></i>
                                        Enviar para dropbox
                                    </button>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/assets/bootstrap/js/bootbox.min.js"></script>
