
@{
    ViewData["Title"] = "Editar perfil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/Pages/EditProfile.css" rel="stylesheet" />

<div ng-controller="UserCntrl" id="UserCntrl" ng-init="GetCurrentUserdetails()">

    <div class="panel with-nav-tabs panel-primary">
        <div class="panel-heading">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#Edit" data-toggle="tab">Editar perfil</a></li>
                <li><a href="#Security" data-toggle="tab"> Segurança</a></li>
            </ul>
        </div>
        <div class="panel-body">
            <div class="tab-content">
                <div class="tab-pane fade in active" id="Edit">
                    <div class="example-box-wrapper">
                        <div ng-show="msgList.length > 0">
                            <div class="alert alert-success">
                                <div class="bg-green alert-icon">
                                    <i class="glyph-icon icon-check"></i>
                                </div>
                                <div class="alert-content">
                                    <h4 class="alert-title">{{'Success'| translate}}</h4>
                                    <p>{{msgList[0]}} </p>
                                </div>
                            </div>
                        </div>

                        <div class="alert alert-close alert-danger" ng-show="ErrorList.length > 0">
                            <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" ng-click="ErrorList=[]"></a>
                            <div class="bg-red alert-icon">
                                <i class="glyph-icon icon-times"></i>
                            </div>
                            <div class="alert-content">
                                <h4 class="alert-title">{{'Error'| translate}}</h4>
                                <div ng-repeat="x in ErrorList track by $index">
                                    <p> {{ErrorList[$index]}}</p>
                                </div>
                            </div>
                        </div>

                        <form class="form-horizontal bordered-row" id="demo-form" name="fmUser" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-md-6 ">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label pull-left">{{'ApiUser'| translate}}</label>
                                        <div class="col-sm-9">
                                            <input type="text" ng-disabled="true" ng-model="objUser.ApiUser" name="ApiUser" id="ApiUser" placeholder="{{'ApiUser'| translate}}" required class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">{{'Name'| translate}}</label>
                                        <div class="col-sm-9" data-ng-class="{ 'has-error' : fmUser.Name.$invalid && (fmUser.Name.$dirty || Usersubmitted)}">
                                            <input type="text" ng-model="objUser.Name" name="Name" id="Name" placeholder="{{'Name'| translate}}" required class="form-control">
                                            <p ng-show="fmUser.Name.$error.required && (fmUser.Name.$dirty || Usersubmitted)" class="help-block">{{'NameRequred'| translate}}</p>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">{{'LastName'| translate}}</label>
                                        <div class="col-sm-9" data-ng-class="{ 'has-error' : fmUser.LastName.$invalid && (fmUser.LastName.$dirty || Usersubmitted)}">
                                            <input type="text" ng-model="objUser.LastName" name="LastName" id="LastName" placeholder="{{'LastName'| translate}}" required class="form-control">
                                            <p ng-show="fmUser.LastName.$error.required && (fmUser.LastName.$dirty || Usersubmitted)" class="help-block">{{'LastNameRequred'| translate}}</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">{{'AccessToken'| translate}}</label>
                                        <div class="col-sm-9" data-ng-class="{ 'has-error' : fmUser.AccessToken.$invalid && (fmUser.AccessToken.$dirty || Usersubmitted)}">
                                            <input type="text" ng-model="objUser.AccessToken" name="AccessToken" id="AccessToken" placeholder="{{'AccessToken'| translate}}" class="form-control" ng-readonly="Type=='View'">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">{{'DoubleVerification'| translate}}</label>
                                        <div class="col-sm-9" data-ng-class="{ 'has-error' : fmUser.UseDoubleVerification.$invalid && (fmUser.UseDoubleVerification.$dirty || Usersubmitted)}">
                                            <select ng-model="objUser.UseDoubleVerification" name="UseDoubleVerification" id="UseDoubleVerification" required class="form-control" ng-disabled="Type=='View'">
                                                <option value="No">Nenhum</option>
                                                <option value="By_email">Por email</option>
                                                <option value="By_SMS">Por SMS</option>
                                            </select>
                                            <p ng-show="fmUser.UseDoubleVerification.$error.required && (fmUser.UseDoubleVerification.$dirty || Usersubmitted)" class="help-block">{{'DoubleVerificationrequired'| translate}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">{{'MobileNo'| translate}}</label>
                                        <div class="col-sm-9" data-ng-class="{ 'has-error' : fmUser.MobileNo.$invalid && (fmUser.MobileNo.$dirty || Usersubmitted)}">
                                            <input type="text" mask="(99) 99999-9999" maxlength="20" ng-model="objUser.MobileNo" placeholder="{{'MobileNo'| translate}}" name="MobileNo" id="MobileNo" class="form-control" ng-required="objUser.UseDoubleVerification=='By_SMS'" ng-readonly="Type=='View'">
                                            <p ng-show="fmUser.MobileNo.$error.required && Usersubmitted" class="help-block">{{'MobileNoRequired'| translate}}</p>
                                            <p ng-show="fmUser.MobileNo.$invalid && !fmUser.MobileNo.$error.required && Usersubmitted" class="help-block">{{'MobileNoNotValid'| translate}}</p>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">{{'Picture'| translate}}</label>
                                        <div class="col-sm-6">
                                            <input type="file" ng-model="objUser.Picture" name="Picture" id="Picture" class="file" ng-hide="true">
                                            <div class="input-group col-xs-12">
                                                <input type="text" class="form-control" disabled placeholder="Anexar imagem">
                                                <span class="input-group-btn">
                                                    <button class="browse btn btn-primary" type="button"><i class="glyphicon glyphicon-search"></i> Localizar</button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label"> &nbsp; </label>
                                        <div class="col-md-3 col-sm-4 col-xs-5" ng-show="objUser.OldFileName != null">
                                            <div class="thumbnail-box thumbnail-box-inverse myEditProfileImage">
                                                <a class="thumb-link" href="#" title=""></a>
                                                <div class="thumb-content">
                                                    <div class="center-vertical">
                                                        <div class="center-content">
                                                            <h3 class="thumb-heading animated bounceIn">
                                                                Foto do perfil
                                                            </h3>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="thumb-overlay bg-black"></div>
                                                <img src="/ProfilePhoto/{{objUser.OldFileName}}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">&nbsp;</label>
                                        <div class="col-sm-6">
                                            <button type="button" class="btn btn-primary" ng-click="SaveUser(objUser)">{{'Savechanges'| translate}}</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
                <div class="tab-pane fade" id="Security">
                    <div class="row">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#Email">Email de verificação</a></li>
                            <li ng-hide="objUser.MobileNo == '' || objUser.MobileNo == null"><a data-toggle="tab" href="#Phone">Telefone de verificação</a></li>
                        </ul>

                        <div class="tab-content">
                            <br />
                            <div id="Email" class="tab-pane fade in active">

                                <div class="row col-md-12" ng-show="CodeErrorList.length > 0">
                                    <div class="example-box-wrapper">
                                        <div class="alert alert-close alert-danger">
                                            <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" ng-click="CodeErrorList=[]"></a>
                                            <div class="bg-red alert-icon">
                                                <i class="glyph-icon icon-times"></i>
                                            </div>
                                            <div class="alert-content">
                                                <h4 class="alert-title">{{'Error'| translate}}</h4>
                                                <div ng-repeat="x in CodeErrorList track by $index">
                                                    <p> {{CodeErrorList[$index]}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row col-md-12" ng-show="CodeSucessList.length > 0">
                                    <div class="example-box-wrapper">
                                        <div class="alert alert-close alert-success">
                                            <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" ng-click="CodeSucessList=[]"></a>
                                            <div class="bg-green alert-icon">
                                                <i class="glyph-icon icon-check"></i>
                                            </div>
                                            <div class="alert-content">
                                                <h4 class="alert-title">{{'Success'| translate}}</h4>
                                                <div ng-repeat="x in CodeSucessList track by $index">
                                                    <p> {{CodeSucessList[$index]}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row col-md-12" ng-show="objUser.IsEmailVerifeyed==true">
                                    <div class="alert alert-close alert-success">
                                        <div class="alert-content">
                                            <h4 class="alert-title">  Seu email ( {{objUser.ApiUser}} ) já foi verificado.</h4>
                                        </div>
                                    </div>
                                </div>

                                <div ng-show="!objUser.IsEmailVerifeyed==true">
                                    <div class="row">
                                        <div class="col-md-2">
                                        </div>
                                        <div class="col-md-10">
                                            <div class="form-group">
                                                Email :
                                                <label class="control-label text-danger">{{objUser.ApiUser}} <button class="btn btn-link" ng-click="SendEmailCode()"> Enviar código</button> </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <form class="form-horizontal bordered-row" id="fmEmailVefication" name="fmEmailVefication" enctype="multipart/form-data">
                                            <div class="col-md-2">
                                            </div>
                                            <div class="col-md-5" data-ng-class="{ 'has-error' : fmEmailVefication.EmailVarificationCode.$invalid && (fmEmailVefication.EmailVarificationCode.$dirty || EmailVeficationUsersubmitted)}">
                                                <input type="text" autocomplete="off" ng-model="EmailVarificationCode" name="EmailVarificationCode" id="EmailVarificationCode" placeholder="{{'verifycode'| translate}}" required class="form-control">
                                                <p ng-show="fmEmailVefication.EmailVarificationCode.$error.required && (fmEmailVefication.EmailVarificationCode.$dirty || EmailVeficationUsersubmitted)" class="help-block">{{'EmailVarificationCodeRequred'| translate}}</p>
                                            </div>
                                            <div class="col-md-3">
                                                <button type="button" class="btn btn-default btn-info" ng-click="SendEmailCode()">{{'Resend'| translate}}</button>
                                            </div>
                                        </form>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-md-2">
                                        </div>
                                        <div class="col-md-4">
                                            <button type="button" class="btn btn-success" ng-click="CheckEmailVerficationCode()">{{'Verify'| translate}}</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">{{'Close'| translate}}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="Phone" class="tab-pane fade">

                                <div class="row col-md-12" ng-show="PhoneCodeErrorList.length > 0">
                                    <div class="example-box-wrapper">
                                        <div class="alert alert-close alert-danger">
                                            <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" ng-click="PhoneCodeErrorList=[]"></a>
                                            <div class="bg-red alert-icon">
                                                <i class="glyph-icon icon-times"></i>
                                            </div>
                                            <div class="alert-content">
                                                <h4 class="alert-title">{{'Error'| translate}}</h4>
                                                <div ng-repeat="x in PhoneCodeErrorList track by $index">
                                                    <p> {{PhoneCodeErrorList[$index]}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row col-md-12" ng-show="PhoneCodeSucessList.length > 0">
                                    <div class="example-box-wrapper">
                                        <div class="alert alert-close alert-success">
                                            <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" ng-click="PhoneCodeSucessList=[]"></a>
                                            <div class="bg-green alert-icon">
                                                <i class="glyph-icon icon-check"></i>
                                            </div>
                                            <div class="alert-content">
                                                <h4 class="alert-title">{{'Success'| translate}}</h4>
                                                <div ng-repeat="x in PhoneCodeSucessList track by $index">
                                                    <p> {{PhoneCodeSucessList[$index]}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row col-md-12" ng-show="objUser.IsPhonelVerifeyed">
                                    <div class="alert alert-close alert-success">
                                        <div class="alert-content">
                                            <h4 class="alert-title">  Seu número de telefone ( {{objUser.MobileNo}} ) já foi verificado.</h4>
                                        </div>
                                    </div>
                                </div>
                                <div ng-show="!objUser.IsPhonelVerifeyed">
                                    <div class="row">
                                        <div class="col-md-2">
                                        </div>
                                        <div class="col-md-10">
                                            <div class="form-group">
                                                Telefone registrado:
                                                <label class="control-label text-danger">{{objUser.MobileNo}} <button class="btn btn-link" ng-click="SendPhoneCode()"> Enviar código</button> </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <form class="form-horizontal bordered-row" id="fmPhoneVefication" name="fmPhoneVefication" enctype="multipart/form-data">
                                            <div class="col-md-2">
                                            </div>
                                            <div class="col-md-5" data-ng-class="{ 'has-error' : fmPhoneVefication.PhoneVarificationCode.$invalid && (fmPhoneVefication.PhoneVarificationCode.$dirty || PhoneVeficationUsersubmitted)}">
                                                <input type="text" autocomplete="off" ng-model="PhoneVarificationCode" name="PhoneVarificationCode" id="PhoneVarificationCode" placeholder="{{'verifycode'| translate}}" required class="form-control">
                                                <p ng-show="fmPhoneVefication.PhoneVarificationCode.$error.required && (fmPhoneVefication.PhoneVarificationCode.$dirty || PhoneVeficationUsersubmitted)" class="help-block">{{'EmailVarificationCodeRequred'| translate}}</p>
                                            </div>
                                            <div class="col-md-3">
                                                <button type="button" class="btn btn-default btn-info" ng-click="SendPhoneCode()">{{'Resend'| translate}}</button>
                                            </div>
                                        </form>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-md-2">
                                        </div>
                                        <div class="col-md-4">
                                            <button type="button" class="btn btn-success" ng-click="CheckPhoneVerficationCode()">{{'Verify'| translate}}</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">{{'Close'| translate}}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript">

    $(document).on('click', '.browse', function () {
        var file = $(this).parent().parent().parent().find('.file');
        file.trigger('click');
    });
    $(document).on('change', '.file', function () {
        $(this).parent().find('.form-control').val($(this).val().replace(/C:\\fakepath\\/i, ''));
    });

</script>
