﻿
@{
    ViewData["Title"] = "Api Consulta motorista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/Pages/Help.css" rel="stylesheet" />

<div class="col-md-12">

    <style>
        th {
            width: 8em;
        }

        td, th {
            padding: .5em;
            padding-bottom: .8em;
        }

        .caption {
            margin-bottom: 1.1em;
            font-style: italic;
            font-size: 1.0em;
        }
    </style>

    <div class="panel">
        <div class="panel-body">

            <table class="blog-comparison">
                <tbody>
                    <tr>
                        <th valign="top">
                            Título
                        </th>
                        <td>
                            <span class="caption">
                                consulta motorista api
                            </span> <br>
                        </td>
                    </tr>

                    <tr>
                        <th valign="top">
                            URL
                        </th>
                        <td>
                            <span class="caption" style="margin-bottom:2em;"> /api/ConsultaCNH/BuscaCNH</span> <br><br>
                            <b>
                                <code>
                                    /api/ConsultaCNH/BuscaCNH?UF=SP
                                    &CPF=CPF
                                </code>
                                <br />
                                <br />
                                or 
                                <br />
                                <br />
                                <code>
                                    /api/ConsultaCNH/BuscaCNH?UF=SP
                                    <br />
                                    &CPF=CPF
                                    <br />
                                    &NumRegistro=NumRegistro
                                    <br />
                                    &NumRenach=NumRenach
                                    <br />
                                    &ValidadeCNH=ValidadeCNH
                                    <br />
                                    &RG=RG
                                    <br />
                                    &DataNascimento=DataNascimento
                                    <br />
                                    &DataHabilitacao=DataHabilitacao
                                    <br />
                                    &MunicipioNascimento=MunicipioNascimento
                                    <br />
                                    &NumCedulaEspelho=NumCedulaEspelho
                                </code>
                            </b>
                            <p>
                                <br />
                            </p>
                            <ul>
                                <li>Os dados de UF e CPF são obrigatórios para todas as consultas independete do UF selecionado</li>
                                <li>De acordo com o UF selecionado é necessário inserir os dados correspondentes</li>
                            </ul>
                        </td>
                    </tr>

                    <tr>
                        <th valign="top">
                            Method
                        </th>
                        <td>
                            <span class="caption">Tipo de requisição</span>
                            <b><code>GET</code> </b>
                        </td>
                    </tr>

                    <tr>
                        <th valign="top">
                            Parâmetros da URL 
                        </th>
                        <td>
                            <code>UF=[string] CPF=[string] NumRegistro=[string]</code> <br><br>
                            <ul>
                                <li>exemplo: /api/ConsultaCNH/BuscaCNH?UF=SP&CPF=00000000000&NumRegistro=00000000000</li>
                            </ul>

                            <code>Validade =[date]</code> <br><br>
                            <ul>
                                <li>exemplo: /api/ConsultaCNH/BuscaCNH?UF=SP&CPF=00000000000&NumRegistro=00000000000
                                                &ValidadeCNH=27/10/2017
                                </li>
                            </ul>

                            <code>RG = [string]</code> <br><br>
                            <ul>
                                <li>
                                    exemplo: /api/ConsultaCNH/BuscaCNH?UF=SP&CPF=00000000000&NumRegistro=00000000000
                                    &RG=000000000
                                </li>
                            </ul>

                            <code>DataNascimento =[date]</code> <br><br>
                            <ul>
                                <li>
                                    exemplo: /api/ConsultaCNH/BuscaCNH?UF=SP&CPF=00000000000&NumRegistro=00000000000
                                    &DataNascimento=27/10/2017
                                </li>
                            </ul>

                            <code>DataHabilitacao =[date]</code> <br><br>
                            <ul>
                                <li>
                                    exemplo: /api/ConsultaCNH/BuscaCNH?UF=SP&CPF=00000000000&NumRegistro=00000000000
                                    &DataHabilitacao=27/10/2017
                                </li>
                            </ul>

                            <code>MunicipioNascimento =[string]</code> <br><br>
                            <ul>
                                <li>
                                    exemplo: /api/ConsultaCNH/BuscaCNH?UF=SP&CPF=00000000000&NumRegistro=00000000000
                                    &MunicipioNascimento=São Paulo
                                </li>
                            </ul>

                            <code>NumCedulaEspelho =[string]</code> <br><br>
                            <ul>
                                <li>
                                    exemplo: /api/ConsultaCNH/BuscaCNH?UF=SP&CPF=00000000000&NumRegistro=00000000000
                                    &NumCedulaEspelho=000000000000000000000000000000
                                </li>
                            </ul>
                        </td>
                    </tr>

                    <tr>
                        <th valign="top">
                            Headers
                        </th>
                        <td>
                            <b>Obrigatório:</b> <br />
                            <code>Usuario =[string]</code> <br>
                            <p style="margin-top:0.5em;">  Login do sistema </p><br>
                            <code>Senha =[string]</code> <br>
                            <p style="margin-top:0.5em;">  Senha </p><br>
                        </td>
                    </tr>


                    <tr>
                        <th valign="top">
                            Response
                        </th>
                        <td>
                            <span class="caption">Json string </span> <br>
                            <code>status =[bool]</code>  <br>
                            <p style="margin-top:0.5em;">  true = sucesso , false = erro </p><br>
                            <code>Message =[string]</code>  <br>
                            <p style="margin-top:0.5em;"> Mensagem de erro ou sucesso </p><br>
                            <code>xml =[string]</code>  <br>
                            <p style="margin-top:0.5em;"> Resposta com os dados do motorista  </p><br>
                        </td>
                    </tr>
                    <tr>
                        <th valign="top">
                            Exemplo de chamada
                        </th>
                        <td>
                            <span class="caption"></span>
                            <pre id="msg">$.ajax({
                                                    url: '/api/ConsultaCNH/BuscaCNH?UF=SP&CPF=00000000000',
                                                    type: 'GET',
                                                    dataType: 'json',
                                                    headers: {
                                                           'Usuario': '',
                                                           'Senha': ''
                                                    },
                                                    contentType: 'application/json; charset=utf-8',
                                                    success: function (result) {
                                                        console.log(result);
                                                    },
                                                    error: function (error) {
                                                        console.log(error);
                                                    }
                                                });

                            </pre>
                            <button onclick="copyToClipboard('msg')">Copiar para o clipboard</button>
                        </td>
                    </tr>


                </tbody>
            </table>
        </div>
    </div>

</div>

<script>
    function copyToClipboard(elementId) {


        var aux = document.createElement("input");
        aux.setAttribute("value", document.getElementById(elementId).innerHTML);
        document.body.appendChild(aux);
        aux.select();
        document.execCommand("copy");

        document.body.removeChild(aux);

    }
</script>
</html>