
@{
    ViewData["Title"] = "Api Help";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/Pages/Help.css" rel="stylesheet" />
<div class="MyHeaderTitle row col-md-12">
    <p>Building a back-end API layer introduces a whole new layer of coordination between server and client code. While there are many aspects to this delicate dance of communication, one key ingredient to minimizing back-and-forth-confusion-about what-call-does-what, is consistently communicating about your API endpoints.</p>
</div>

<div class="MyHeaderTitle row col-md-12">
    <p>Conveniently when the time comes to publish an API externally, this serves as an invaluable tool for creating public documentation.<br /> You can see  API documents bellows.</p> <br />
</div>

<div class="col-md-12">

    <style>
        th {
            width: 8em;
        }

        td, th {
            padding: .5em;
            padding-bottom: .8em;
        }

        .caption {
            margin-bottom: 1.1em;
            font-style: italic;
            font-size: 1.0em;
        }
    </style>

    <div class="panel">
        <div class="panel-body">

            <table class="blog-comparison">
                <tbody>
                    <tr>
                        <th valign="top">
                            Title
                        </th>
                        <td>
                            <span class="caption">
                                single document search api
                            </span> <br>
                        </td>
                    </tr>

                    <tr>
                        <th valign="top">
                            URL
                        </th>
                        <td>
                            <span class="caption" style="margin-bottom:2em;"> /api/ConsultaVeiculo</span> <br><br>
                            <b>
                                <code>/api/ConsultaVeiculo/:placa</code> or <code>/api/ConsultaVeiculo/:chassi</code>
                            </b>
                            <p>
                                <br />
                            </p>
                            <ul>
                                <li>For 7 character placa search </li>
                                <li>For 17 character chassi search </li>
                            </ul>
                        </td>
                    </tr>

                    <tr>
                        <th valign="top">
                            Method
                        </th>
                        <td>
                            <span class="caption">The request type</span>
                            <b><code>GET</code> </b>
                        </td>
                    </tr>

                    <tr>
                        <th valign="top">
                            URL Params
                        </th>
                        <td>
                            <code>placa =[string]</code> <br><br>
                            <ul>
                                <li>example 1: /api/ConsultaVeiculo/BXM2860 </li>
                                <li>example 2: /api/ConsultaVeiculo/8AP19627MG3333333 </li>
                            </ul>


                        </td>
                    </tr>

                    <tr>
                        <th valign="top">
                            Headers
                        </th>
                        <td>
                            <b>Required:</b> <br />
                            <code>Usuario =[string]</code> <br>
                            <p style="margin-top:0.5em;">  ApiUser name for login </p><br>
                            <code>Senha =[string]</code> <br>
                            <p style="margin-top:0.5em;">  ApiPassword for login </p><br>
                        </td>
                    </tr>


                    <tr>
                        <th valign="top">
                            Response
                        </th>
                        <td>
                            <span class="caption">Json string </span> <br>
                            <code>status =[bool]</code>  <br>
                            <p style="margin-top:0.5em;">  true = successful , false =error </p><br>
                            <code>Message =[string]</code>  <br>
                            <p style="margin-top:0.5em;"> error message </p><br>
                            <code>xml =[string]</code>  <br>
                            <p style="margin-top:0.5em;"> Response of document code  </p><br>
                        </td>
                    </tr>
                    <tr>
                        <th valign="top">
                            Sample Call
                        </th>
                        <td>
                            <span class="caption"></span>
                            <pre id="msg">$.ajax({
    url: '/api/ConsultaVeiculo/BXM2860',
    type: 'GET',
    dataType: 'json',
    headers: {
           'Usuario': '',
           'Senha': ''
    },
    contentType: 'application/json; charset=utf-8',
    success: function (result) {
        console.log(result);
    },
    error: function (error) {
        console.log(error);
    }
});

</pre>
                            <button onclick="copyToClipboard('msg')">Copy to clipboard</button>
                        </td>
                    </tr>


                </tbody>
            </table>
        </div>
    </div>

</div>

<script>
    function copyToClipboard(elementId) {


        var aux = document.createElement("input");
        aux.setAttribute("value", document.getElementById(elementId).innerHTML);
        document.body.appendChild(aux);
        aux.select();
        document.execCommand("copy");

        document.body.removeChild(aux);

    }
</script>
</html>