@{
    ViewData["Title"] = "Histórico consulta veículos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="/assets/widgets/xjquery-datatables/js/jquery.dataTables.js"></script>
<script src="/assets/widgets/datatable/datatable-responsive.js"></script>

<link href="/assets/widgets/xjquery-datatables/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/lib/daterangepicker.css" rel="stylesheet" />

<script>
    window.___gcfg = {
        parsetags: 'explicit'
    };
</script>

<link href="~/css/Pages/ListOfSearchedDocs.css" rel="stylesheet" />
<script src="https://apis.google.com/js/platform.js" async defer></script>
<div class="panel" ng-controller="ListOfSearchedDocsCntrl" id="ListOfSearchedDocsCntrl" ng-init="LoadData() ">
    <div class="panel-body">
        <div class="example-box-wrapper">
            <div ng-show="TMsg" id="Tmsgbox">
                <div class="alert alert-success">
                    <div class="bg-green alert-icon">
                        <i class="glyph-icon icon-check"></i>
                    </div>
                    <div class="alert-content">
                        <h4 class="alert-title">{{'Success'| translate}}</h4>
                        <p>{{successMsg}} </p>
                    </div>
                </div>
            </div>

            <div class="alert alert-close alert-danger" ng-show="FMsg" id="Fmsgbox">
                <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" ng-click="ErrorList=[]"></a>
                <div class="bg-red alert-icon">
                    <i class="glyph-icon icon-times"></i>
                </div>
                <div class="alert-content">
                    <h4 class="alert-title">{{'Error'| translate}}</h4>
                    <p> {{ErrorMsg}}</p>

                </div>
            </div>
            <div class="alert alert-close alert-warning" ng-show="WMsg" id="Wmsgbox">
                <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" ng-click="ErrorList=[]"></a>
                <div class="bg-orange alert-icon">
                    <i class="glyph-icon icon-times"></i>
                </div>
                <div class="alert-content">
                    <h4 class="alert-title">{{'Info'| translate}}</h4>
                    <p> {{WarningMsg}}</p>

                </div>
            </div>

            <div ng-show="IsSingleSearch">
                <form class="form-horizontal  bordered-row" id="demo-form" name="fmSearch">
                    <div class="row col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label"> {{'DocumentCode'| translate}} </label>
                                <div class="col-sm-6" data-ng-class="{ 'has-error' : fmSearch.DocumentCode.$invalid && (fmSearch.DocumentCode.$dirty || searchsubmitted)}">
                                    <input type="text" ng-model="objSearch.DocumentCode" name="DocumentCode" id="DocumentCode" placeholder="{{'DocumentCode'| translate}}" class="form-control" maxlength="250">
                                    <p ng-show="fmSearch.DocumentCode.$error.required && (fmSearch.DocumentCode.$dirty || searchsubmitted)" class="help-block">{{'DocumentCodeRequired'| translate}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label"> {{'User'| translate}} </label>
                                <div class="col-sm-6" data-ng-class="{ 'has-error' : fmSearch.userid.$invalid && (fmSearch.userid.$dirty || searchsubmitted)}">
                                    <select class="form-control" name="userid" id="userid" ng-model="objSearch.Id">
                                        <option value="">{{'AllUsers'| translate}}</option>
                                        <option ng-repeat="u in UserList" value="{{u.Id}}">{{u.Name}}</option>
                                    </select>
                                    <p ng-show="fmSearch.userid.$error.required && (fmSearch.userid.$dirty || searchsubmitted)" class="help-block">{{'UserRequired'| translate}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label"> {{'StartDate'| translate}} </label>
                                <div class="col-sm-6" data-ng-class="{ 'has-error' : fmSearch.daterange1.$invalid && (fmSearch.daterange1.$dirty || searchsubmitted)}">
                                    <input date-range-picker id="daterange1" name="daterange1" options="opts" class="form-control date-picker" type="text" ng-model="startDate" max="endDate" required />
                                    <p ng-show="fmSearch.daterange1.$error.required && (fmSearch.daterange1.$dirty || searchsubmitted)" class="help-block">{{'DateRequired'| translate}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label"> {{'EndDate'| translate}} </label>
                                <div class="col-sm-6" data-ng-class="{ 'has-error' : fmSearch.daterange1.$invalid && (fmSearch.daterange1.$dirty || searchsubmitted)}">
                                    <input date-range-picker id="daterange2" name="daterange2" options="opts" class="form-control date-picker" type="text" ng-model="endDate" max="today" required />
                                    <p ng-show="fmSearch.daterange2.$error.required && (fmSearch.daterange2.$dirty || searchsubmitted)" class="help-block">{{'DateRequired'| translate}}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row col-md-12">
                        <div class="col-md-6" ng-show="Profile.ProfileName=='Admin User'" ng-init="GetAccountList()">
                            <div class="form-group">
                                <label class="col-sm-3 control-label"> {{'AccountName'| translate}} </label>
                                <div class="col-sm-6" data-ng-class="{ 'has-error' : fmSearch.AccountID.$invalid && (fmSearch.AccountID.$dirty || searchsubmitted)}">
                                    <select class="form-control" name="AccountID" id="AccountID" ng-model="objSearch.AccountID" ng-change="AccountChange()">
                                        <option value="">{{'AllAccount'| translate}}</option>
                                        <option ng-repeat="u in AccountList" value="{{u.AccountId}}">{{u.AccountName}}</option>
                                    </select>
                                    <p ng-show="fmSearch.AccountID.$error.required && (fmSearch.AccountID.$dirty || searchsubmitted)" class="help-block">{{'AccountRequired'| translate}}</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label"> Tipo de consulta </label>
                                <div class="col-sm-6">
                                    <select class="form-control" name="ConsultaID" id="ConsultaID" ng-model="objSearch.ConsultaID">
                                        <option value="">Todos</option>
                                        <option ng-repeat="t in TiposConsulta" value="{{t.ConsultaID}}">{{t.ConsultaNome}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label"> &nbsp; </label>
                                <div class="col-sm-6 text-left">
                                    <button type="button" class="btn btn-primary" ng-click="SearchDocument(objSearch)">  {{'Search'| translate}} </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <br />
                <div class="row col-md-12 text-center top-buffer page-title" ng-show="!IsSearch">
                    <div class="divider"></div>
                    <h2 class="info"> <b> 10 últimas recentes </b></h2>
                    <div class="divider"></div>
                </div>
            </div>
            <br />

            <div ng-show="IsMultipleData">
                <div class="row col-md-12">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label" style="margin-top:2em;">{{'DocumentCode'| translate}}:</label>
                            <div class="col-sm-8">
                                <div class="multiselect form-control" id="selectedCode">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row col-md-12">
                    <br />
                </div>
                <div class="row col-md-12">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label"> &nbsp; </label>
                            <div class="col-sm-5">
                                <div class="form-group">
                                    <button type="button" class="btn btn-primary bottom-left" ng-click="SearchMultipleDoc()"> {{'Search'| translate}} </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row col-md-12" ng-show="SearchedDocumentList.length > 0">
            <br />
            <table id="dtDocList" class="table table-striped table-bordered responsive no-wrap" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th><input name="select_all" value="1" id="example-select-all" type="checkbox" /></th>
                        <th>{{'DocumentCode'| translate}}</th>
                        <th>{{'User'| translate}}</th>
                        <th ng-show="Profile.ProfileName=='Admin User'">{{'AccountName'| translate}}</th>
                        <th>{{'CreatedDate'| translate}}</th>
                        <th>Consulta por API</th>
                        <th>{{'Detail'| translate}}</th>
                        <th>{{'Action'| translate}}</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="row col-md-12">
            <div ng-show="IsRecordAvailable">
                <i class="glyph-icon tooltip-button btn-primary demo-icon icon-floppy-o" title="" data-original-title="Salvar" ng-click="MultipleSave(true,false)"></i>
                <i class="glyph-icon tooltip-button demo-icon btn-primary icon-file-excel-o" title="" data-original-title="Salvar Excel" ng-click="MultipleExcelFileSave(true)"></i>
                <i class="glyph-icon tooltip-button btn-primary demo-icon icon-cloud-upload" title="" data-original-title="Enviar para Drive em lote" ng-click="MultipleSave(false,true)"></i>
                <div ng-show='ShowSaveButton' id='savetodrive-divMultiple'></div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Anexar arquivo</h4>
                </div>
                <div class="modal-body">

                    <div ng-show="DTMsg" id="Tmsgbox">
                        <div class="alert alert-success">
                            <div class="bg-green alert-icon">
                                <i class="glyph-icon icon-check"></i>
                            </div>
                            <div class="alert-content">
                                <h4 class="alert-title">{{'Success'| translate}}</h4>
                                <p>{{DsuccessMsg}} </p>
                            </div>
                        </div>
                    </div>

                    <div class="alert alert-close alert-danger" ng-show="DFMsg" id="Fmsgbox">
                        <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" ng-click="ErrorList=[]"></a>
                        <div class="bg-red alert-icon">
                            <i class="glyph-icon icon-times"></i>
                        </div>
                        <div class="alert-content">
                            <h4 class="alert-title">{{'Error'| translate}}</h4>
                            <p> {{DErrorMsg}}</p>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <button class="btn btn-primary ng-binding" data-toggle="modal" ng-click="renderSaveZipToDrive()">
                                <i class="glyphicon glyphicon-upload"></i>
                                Enviar para Google Drive
                            </button>
                            <div ng-show='ShowSaveButton' id='savetodrive-div'></div>
                        </div>
                        <div class="col-md-6 text-center">
                            <button class="btn btn-primary ng-binding" data-toggle="modal" ng-click="renderSaveToDroupBox()">
                                <i class="fa fa-dropbox"></i>
                                Enviar para Dropbox
                            </button>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">

                </div>
            </div>

        </div>
    </div>

</div>

<script src="~/js/underscore.js"></script>
<script type="text/javascript">
    function CreatePdf(d) {
        var scope = angular.element(document.getElementById("ListOfSearchedDocsCntrl")).scope();
        scope.CreatePdf(d, true, false);
    }
    function UploadToDrive(d) {
        var scope = angular.element(document.getElementById("ListOfSearchedDocsCntrl")).scope();
        scope.CreatePdf(d, false, true);
    }

    function CreateExcel(d) {
        var scope = angular.element(document.getElementById("ListOfSearchedDocsCntrl")).scope();
        scope.CreateExcel(d, true);
    }


</script>
