﻿
@{
    ViewData["Title"] = "Histórico consulta em lote veículo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="/assets/widgets/xjquery-datatables/js/jquery.dataTables.js"></script>
<script src="/assets/widgets/datatable/datatable-responsive.js"></script>
<link href="/assets/widgets/xjquery-datatables/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/lib/daterangepicker.css" rel="stylesheet" />
<script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.12/api/fnFindCellRowIndexes.js"></script>


<script>
    window.___gcfg = {
        parsetags: 'explicit'
    };
</script>

<link href="~/css/Pages/ListOfMultipleSearch.css" rel="stylesheet" />
<head>
    <meta charset="utf-8" />
</head>
<div lang="pt-br" class="panel" ng-controller="ListOfMultipleSearchedDocsCntrl" id="ListOfMultipleSearchedDocsCntrl">
    <input type="hidden" value="Profile.ProfileName" id="ProfileName" ng-model="data" />
    <div class="panel-body">
        <div class="example-box-wrapper">
            <div ng-show="TMsg" id="Tmsgbox">
                <div class="alert alert-success">
                    <div class="bg-green alert-icon">
                        <i class="glyph-icon icon-check"></i>
                    </div>
                    <div class="alert-content">
                        <h4 class="alert-title">{{'Success'| translate}}</h4>
                        <p>{{successMsg}} </p>
                    </div>
                </div>
            </div>

            <div class="alert alert-close alert-danger" ng-show="FMsg" id="Fmsgbox">
                <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" ng-click="ErrorList=[]"></a>
                <div class="bg-red alert-icon">
                    <i class="glyph-icon icon-times"></i>
                </div>
                <div class="alert-content">
                    <h4 class="alert-title">{{'Error'| translate}}</h4>
                    <p> {{ErrorMsg}}</p>

                </div>
            </div>
            <div class="alert alert-close alert-warning" ng-show="WMsg" id="Wmsgbox">
                <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" ng-click="ErrorList=[]"></a>
                <div class="bg-orange alert-icon">
                    <i class="glyph-icon icon-times"></i>
                </div>
                <div class="alert-content">
                    <h4 class="alert-title">{{'Info'| translate}}</h4>
                    <p> {{WarningMsg}}</p>

                </div>
            </div>

            <form class="form-horizontal  bordered-row" id="demo-form" name="fmSearch">
                <div class="row col-md-12">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-3 control-label"> {{'Status'| translate}} </label>
                            <div class="col-sm-6">
                                <select class="form-control" name="userid" id="userid" ng-model="objSearch.Status">
                                    <option value="">{{'All'| translate}}</option>
                                    <option value="true">{{'Complete'| translate}}</option>
                                    <option value="false">{{'Pending'| translate}}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-3 control-label"> {{'User'| translate}} </label>
                            <div class="col-sm-6" data-ng-class="{ 'has-error' : fmSearch.userid.$invalid && (fmSearch.userid.$dirty || searchsubmitted)}">
                                <select class="form-control" name="userid" id="userid" ng-model="objSearch.Id">
                                    <option value="">{{'AllUsers'| translate}}</option>
                                    <option ng-repeat="u in UserList" value="{{u.Id}}">{{u.Name}}&nbsp;{{u.LastName}}</option>
                                </select>
                                <p ng-show="fmSearch.userid.$error.required && (fmSearch.userid.$dirty || searchsubmitted)" class="help-block">{{'UserRequired'| translate}}</p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row col-md-12">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-3 control-label"> {{'StartDate'| translate}} </label>
                            <div class="col-sm-6" data-ng-class="{ 'has-error' : fmSearch.daterange1.$invalid && (fmSearch.daterange1.$dirty || searchsubmitted)}">
                                <input date-range-picker id="daterange1" name="daterange1"  options="opts" class="form-control date-picker" type="text" ng-model="startDate" max="endDate" required />
                                <p ng-show="fmSearch.daterange1.$error.required && (fmSearch.daterange1.$dirty || searchsubmitted)" class="help-block">{{'DateRequired'| translate}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-3 control-label"> {{'EndDate'| translate}} </label>
                            <div class="col-sm-6" data-ng-class="{ 'has-error' : fmSearch.daterange1.$invalid && (fmSearch.daterange1.$dirty || searchsubmitted)}">
                                <input date-range-picker id="daterange2" name="daterange2" options="opts" class="form-control date-picker" type="text" ng-model="endDate" max="today" required />
                                <p ng-show="fmSearch.daterange2.$error.required && (fmSearch.daterange2.$dirty || searchsubmitted)" class="help-block">{{'DateRequired'| translate}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row col-md-12">
                    <div class="col-md-6" ng-show="Profile.ProfileName=='Admin User'" ng-init="GetAccountList()">
                        <div class="form-group">
                            <label class="col-sm-3 control-label"> {{'AccountName'| translate}} </label>
                            <div class="col-sm-6" data-ng-class="{ 'has-error' : fmSearch.AccountID.$invalid && (fmSearch.AccountID.$dirty || searchsubmitted)}">
                                <select class="form-control" name="AccountID" id="AccountID" ng-model="objSearch.AccountID" ng-change="AccountChange()">
                                    <option value="">{{'AllAccount'| translate}}</option>
                                    <option ng-repeat="u in AccountList" value="{{u.AccountId}}">{{u.AccountName}}</option>
                                </select>
                                <p ng-show="fmSearch.AccountID.$error.required && (fmSearch.AccountID.$dirty || searchsubmitted)" class="help-block">{{'AccountRequired'| translate}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-3 control-label"> &nbsp; </label>
                            <div class="col-sm-6 text-left">
                                <button type="button" class="btn btn-primary" ng-click="SearchDocument(objSearch)"> {{'Search'| translate}} </button>
                            </div>
                        </div>
                    </div>
                </div>

                <br />

                <div class="row col-md-12" ng-show="SearchedDocumentList.length > 0" ng-init="SearchDocument(objSearch)">
                    <table id="dtDocList" class="table table-striped table-bordered responsive no-wrap" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>{{'FileName'| translate}}</th>
                                <th>{{'Date'| translate}}</th>
                                <th>{{'totalFile'| translate}}</th>
                                <th>{{'totalProceed'| translate}}</th>
                                <th>{{'totlaFailed'| translate}}</th>
                                <th>{{'Status'| translate}}</th>
                                <th>{{'UserName'| translate}}</th>
                                <th ng-show="Profile.ProfileName=='Admin User'">{{'AccountName'| translate}}</th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </form>
        </div>
    </div>

</div>
<script src="~/js/underscore.js"></script>
<script type="text/javascript">
    function View(d, b) {
        var scope = angular.element(document.getElementById("ListOfMultipleSearchedDocsCntrl")).scope();
        scope.view(d, b);
    }

    function Retry(id) {
        var scope = angular.element(document.getElementById("ListOfMultipleSearchedDocsCntrl")).scope();
        scope.Retry(id);
    }

    function ExportExcel(id) {
        var scope = angular.element(document.getElementById("ListOfMultipleSearchedDocsCntrl")).scope();
        scope.ExportExcel(id);
    }

</script>


