@{
    ViewData["Title"] = "Consulta de veículo em lote";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="../assets/widgets/datatable/datatable.css">
<script type="text/javascript" src="../assets/widgets/datatable/datatable.js"></script>
<script type="text/javascript" src="../assets/widgets/datatable/datatable-bootstrap.js"></script>
<script type="text/javascript" src="../assets/widgets/datatable/datatable-responsive.js"></script>
<link href="~/lib/daterangepicker.css" rel="stylesheet" />

<div class="panel" ng-controller="MultipleDocSearchCntrl">

    <div class="modal fade ConsultaAvancada" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Parâmetros da consulta de veículo</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal bordered-row" id="demo-form" name="fmUser" enctype="multipart/form-data">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label hidden-xs"></label>
                                    <div class="col-sm-9">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="objConsultaAvancada.PesquisaCompleta" ng-click="PesquisaCompleta(objConsultaAvancada.PesquisaCompleta)" name="IsAgregado" id="IsAgregado">
                                                Selecionar todos
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label hidden-xs"></label>
                                    <div class="col-sm-9">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="objConsultaAvancada.DadosVeic" ng-click="objConsultaAvancada.PesquisaCompleta = false" name="IsAgregado" id="IsAgregado">
                                                Dados do veículo
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label hidden-xs"></label>
                                    <div class="col-sm-9">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="objConsultaAvancada.DadosProp" ng-click="objConsultaAvancada.PesquisaCompleta = false" name="IsAgregado" id="IsAgregado">
                                                Dados do proprietário
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label hidden-xs"></label>
                                    <div class="col-sm-9">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="objConsultaAvancada.ArrendarioFinanceira" ng-click="objConsultaAvancada.PesquisaCompleta = false" name="IsAgregado" id="IsAgregado">
                                                Arrendatário / Financeira
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label hidden-xs"></label>
                                    <div class="col-sm-9">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="objConsultaAvancada.IntencaoGravame" ng-click="objConsultaAvancada.PesquisaCompleta = false" name="IsAgregado" id="IsAgregado">
                                                Intenção de gravame
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label hidden-xs"></label>
                                    <div class="col-sm-9">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="objConsultaAvancada.Restricoes" ng-click="objConsultaAvancada.PesquisaCompleta = false" name="IsAgregado" id="IsAgregado">
                                                Restrições
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label hidden-xs"></label>
                                    <div class="col-sm-9">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="objConsultaAvancada.InspecaoVeicular" ng-click="objConsultaAvancada.PesquisaCompleta = false" name="IsAgregado" id="IsAgregado">
                                                Inspeção veicular
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label hidden-xs"></label>
                                    <div class="col-sm-9">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="objConsultaAvancada.BloqueiosDetran" ng-click="objConsultaAvancada.PesquisaCompleta = false" name="IsAgregado" id="IsAgregado">
                                                Bloqueios Detran
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label hidden-xs"></label>
                                    <div class="col-sm-9">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="objConsultaAvancada.DetalhamentoDebitos" ng-click="objConsultaAvancada.PesquisaCompleta = false" name="IsAgregado" id="IsAgregado">
                                                Detalhamento dos débitos
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label hidden-xs"></label>
                                    <div class="col-sm-9">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="objConsultaAvancada.DetalhamentoIPVA" ng-click="objConsultaAvancada.PesquisaCompleta = false" name="IsAgregado" id="IsAgregado">
                                                Detalhamento dos débitos - IPVA
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label hidden-xs"></label>
                                    <div class="col-sm-9">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="objConsultaAvancada.DetalhamentoDPVAT" ng-click="objConsultaAvancada.PesquisaCompleta = false" name="IsAgregado" id="IsAgregado">
                                                Detalhamento dos débitos - DPVAT
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label hidden-xs"></label>
                                    <div class="col-sm-9">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="objConsultaAvancada.DetalhamentoMultas" ng-click="objConsultaAvancada.PesquisaCompleta = false" name="IsAgregado" id="IsAgregado">
                                                Detalhamento das multas
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{'Close'| translate}}</button>
                    <button type="button" class="btn btn-primary" ng-click="SalvarParametros(objConsultaAvancada)">{{'Savechanges'| translate}}</button>
                </div>
            </div>
        </div>
    </div>

    <div style="padding:5px 20px 20px 5px; position:relative; z-index:100">
        <button class="btn btn-default btn-sm float-right" title="" data-original-title="Parâmetros da consulta" data-toggle="modal" data-target=".ConsultaAvancada" ng-click="BuscaParametros()">
            <i class="glyph-icon icon-gears" data-toggle="tooltip" data-placement="top" title="Parâmetros da consulta"></i>
        </button>
    </div>

    <div class="panel-body">
        <div class="example-box-wrapper">
            <div ng-show="TMsg">
                <div class="alert alert-success">
                    <div class="bg-green alert-icon">
                        <i class="glyph-icon icon-check"></i>
                    </div>
                    <div class="alert-content">
                        <h4 class="alert-title">{{'Success'| translate}}</h4>
                        <p>{{successMsg}} </p>
                    </div>
                </div>
            </div>

            <div class="alert alert-close alert-danger" ng-show="FMsg">
                <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" ng-click="FMsg=false"></a>
                <div class="bg-red alert-icon">
                    <i class="glyph-icon icon-times"></i>
                </div>
                <div class="alert-content">
                    <h4 class="alert-title">{{'Error'| translate}}</h4>
                    <p> {{ErrorMsg }}</p>

                </div>
            </div>

            <div class="alert alert-warning" ng-show="IMsg">
                <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" ng-click="IMsg=false"></a>
                <div class="bg-orange alert-icon">
                    <i class="glyph-icon icon-warning"></i>
                </div>
                <div class="alert-content">
                    <h4 class="alert-title">{{'Warning'| translate}} </h4>
                    <p> {{InfoMsg }} </p>
                </div>
            </div>


            <div class="example-box-wrapper">
                <div class="accordion">
                    <h3>Insira placas ou chassis separadamente em linhas</h3>
                    <div>
                        <form class="form-horizontal  bordered-row" id="fmSearch" name="fmSearch">
                            <div class="row col-md-12">
                                <div class="col-md-7">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label"> Placas ou chassis </label>
                                        <div class="col-sm-9" data-ng-class="{ 'has-error' : fmSearch.DocumentCodes.$invalid && (fmSearch.DocumentCodes.$dirty || searchsubmitted)}">
                                            <textarea id="DocumentCodes" name="DocumentCodes" ng-model="objSearch.DocumentCodes" rows="4" cols="50" ng-trim="false" ng-list="&#10;" ng-required="true" class="form-control" ></textarea>
                                            <p ng-show="fmSearch.DocumentCodes.$error.required && (fmSearch.DocumentCodes.$dirty || searchsubmitted)" class="help-block">{{'DocumentCodeRequired'| translate}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <div class="col-sm-6">
                                            <button type="button" class="btn btn-primary" ng-click="SearchDocument(objSearch)"> {{'Querydocument'| translate}} </button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <h3>Arquivo excel</h3>
                    <div class="row col-md-12">
                        <form class="form-horizontal bordered-row ng-pristine ng-valid ng-valid-required" id="fmImportExcel" name="fmImportExcel" enctype="multipart/form-data">
                            <div class="form-group">
                                <label class="col-sm-1 control-label ng-binding">Arquivo</label>
                                <div class="col-sm-5" data-ng-class="{ 'has-error' : fmImportExcel.ExcelFile.$invalid && (fmImportExcel.ExcelFile.$dirty || Excelsubmitted)}">
                                    <input type="file" ng-model="objImport.ExcelFile" name="ExcelFile" id="ExcelFile" class="file ng-pristine ng-untouched ng-valid ng-hide" ng-hide="true" ng-required="true">
                                    <div class="input-group col-xs-12">
                                        <input type="text" class="form-control" disabled="" placeholder="Selecione um arquivo">
                                        <span class="input-group-btn">
                                            <button class="browse btn btn-primary" type="button"><i class="glyphicon glyphicon-search"></i> Localizar</button>
                                        </span>
                                    </div>

                                    <p ng-show="fmImportExcel.ExcelFile.$error.required && (fmImportExcel.ExcelFile.$dirty || Excelsubmitted)" class="help-block">{{'FileSelectionRequred'| translate}}</p>
                                </div>
                                <div class="col-sm-6">
                                    <button type="button" class="btn btn-primary ng-binding" ng-click="ImportExcelFile(objImport)"> Anexar arquivo </button>
                                    
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="row col-md-12" ng-show="ImportData.length > 0">
                <table id="dtImportData" class="table table-striped table-bordered responsive no-wrap" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Placa</th>
                            <th>Chassi</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="row col-md-12" ng-show="ImportData.length > 0">
                <button type="button" class="btn btn-primary ng-binding" ng-click="SaveExcelData()"> Processar </button>                
            </div>

            <div class="row col-md-12" ng-show="SearchedDocumentList.length > 0">
                <table id="dtDocList" class="table table-striped table-bordered responsive no-wrap" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>{{'DocumentCode'| translate}}</th>
                            <th>{{'CreatedDate'| translate}}</th>
                            <th>{{'Detail'| translate}}</th>
                        </tr>
                    </thead>
                </table>
            </div>

        </div>
    </div>
</div>
<script src="~/js/underscore.js"></script>


<!-- jQueryUI Accordion -->
<script src="~/assets/widgets/accordion-ui/accordion.js"></script>
<script type="text/javascript">
    /* jQuery UI Accordion */

    $(function () {
        "use strict";
        $(".accordion").accordion({
            heightStyle: "content"
        });
    });

    $(function () {
        "use strict";
        $("#accordion-hover")
            .accordion({
                event: 'mouseover',
                heightStyle: 'auto'
            });
    });
</script>


<script type="text/javascript">
    $(document).on('click', '.browse', function () {
        var file = $(this).parent().parent().parent().find('.file');
        file.trigger('click');
    });
   
</script>