
@{
    ViewData["Title"] = "Perfis";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Data tables -->
<link rel="stylesheet" type="text/css" href="../assets/widgets/datatable/datatable.css">
<script type="text/javascript" src="../assets/widgets/datatable/datatable.js"></script>
<script type="text/javascript" src="../assets/widgets/datatable/datatable-bootstrap.js"></script>
<script type="text/javascript" src="../assets/widgets/datatable/datatable-responsive.js"></script>

<div class="panel" ng-controller="ProfileCntrl" id="ProfileCntrl" ng-init="GetUserProfileList()">
    <div class="panel-body">

        <div class="modal fade ProfileModel" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">{{'Profile_Master'| translate}}</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" id="demo-form" name="fmProfile">
                            <div class="row">

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">{{'ProfileName'| translate}}</label>
                                        <div class="col-sm-6" data-ng-class="{ 'has-error' : fmProfile.ProfileName.$invalid && (fmProfile.ProfileName.$dirty || profilesubmitted )}">
                                            <input type="text" ng-model="objProfile.ProfileName" name="ProfileName" id="ProfileName" placeholder="{{'ProfileName'| translate}}" required class="form-control" maxlength="50" ng-disabled="Profile.ProfileName!='Admin User'">
                                            <p ng-show="fmProfile.ProfileName.$error.required && (fmProfile.ProfileName.$dirty || profilesubmitted )" class="help-block">{{'ProfileNameRequired'| translate}}</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Permissão</label>
                                        <div class="col-sm-6">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" ng-model="objProfile.select" name="select" id="select" ng-change="selectall()" ng-disabled="Profile.ProfileName!='Admin User'">
                                                    Selecionar todos
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label hidden-xs">&nbsp;</label>
                                        <div class="col-sm-6">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" ng-model="objProfile.UserMaster" name="UserMaster" id="UserMaster" ng-disabled="Profile.ProfileName!='Admin User'">
                                                    Usuário
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-12" ng-hide="true">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label hidden-xs">&nbsp;</label>
                                        <div class="col-sm-6">
                                            <div class="checkbox checkbox-primary">
                                                <label>
                                                    <input type="checkbox" ng-model="objProfile.Account" name="Account" id="Account" ng-disabled="Profile.ProfileName!='Admin User'">
                                                    Administrador
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label hidden-xs">&nbsp;</label>
                                        <div class="col-sm-6">
                                            <div class="checkbox checkbox-primary">
                                                <label>
                                                    <input type="checkbox" ng-model="objProfile.SingleSearch" name="SingleSearch" id="SingleSearch" ng-disabled="Profile.ProfileName!='Admin User'">
                                                    Consulta veículo
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label hidden-xs">&nbsp;</label>
                                        <div class="col-sm-6">
                                            <div class="checkbox checkbox-primary">
                                                <label>
                                                    <input type="checkbox" ng-model="objProfile.BatchSearch" name="BatchSearch" id="BatchSearch" ng-disabled="Profile.ProfileName!='Admin User'">
                                                    Consulta veículo em lote
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label hidden-xs">&nbsp;</label>
                                        <div class="col-sm-6">
                                            <div class="checkbox checkbox-primary">
                                                <label>
                                                    <input type="checkbox" ng-model="objProfile.ConsultaMotorista" name="ConsultaMotorista" id="ConsultaMotorista" ng-disabled="Profile.ProfileName!='Admin User'">
                                                    Consulta motorista
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label hidden-xs">&nbsp;</label>
                                        <div class="col-sm-6">
                                            <div class="checkbox checkbox-primary">
                                                <label>
                                                    <input type="checkbox" ng-model="objProfile.ConsultaMotoristaLote" name="ConsultaMotoristaLote" id="ConsultaMotoristaLote" ng-disabled="Profile.ProfileName!='Admin User'">
                                                    Consulta motorista em lote
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </form>
                        <div>
                            @Html.Partial("_DetalhesAuditoria")
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{{'Close'| translate}}</button>
                        <button type="button" class="btn btn-primary" ng-hide="Profile.ProfileName!='Admin User'" ng-click="SaveProfile(objProfile)">{{'Savechanges'| translate}}</button>
                    </div>
                </div>
            </div>
        </div>

        <h3 class="title-hero">
            @*Responsive data tables*@
            <button class="btn btn-primary" data-toggle="modal" data-target=".ProfileModel">
                <i class="glyph-icon icon-plus"></i>
                {{'Add_Profile'| translate}}
            </button>
        </h3>
        <div class="example-box-wrapper">

            <div ng-show="TMsg==true" ng--hide="TMsg==false">
                <div class="alert alert-success">
                    <div class="bg-green alert-icon">
                        <i class="glyph-icon icon-check"></i>
                    </div>
                    <div class="alert-content">
                        <h4 class="alert-title">{{'Success'| translate}}</h4>
                        <p>{{successMsg}}</p>
                    </div>
                </div>
            </div>

            <div ng-show="FMsg==true" ng-hide="FMsg==false">
                <div class="alert alert-danger">
                    <div class="bg-red alert-icon">
                        <i class="glyph-icon icon-times"></i>
                    </div>
                    <div class="alert-content">
                        <h4 class="alert-title">{{'Error'| translate}}</h4>
                        <p>{{ ErrorMsg }} </p>
                    </div>
                </div>
            </div>

            <table id="dtProfile" class="table table-striped table-bordered responsive no-wrap" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Perfil</th>
                        <th>{{'Edit'| translate}}</th>
                    </tr>
                </thead>

            </table>
        </div>

    </div>
</div>


<script type="text/javascript">
    function EditProfile(d) {
        var scope = angular.element(document.getElementById("ProfileCntrl")).scope();
        scope.EditProfile(d);
    }
</script>

