﻿
    @{
        ViewData["Title"] = "Consulta veículo";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

<script>
    window.___gcfg = {
        parsetags: 'explicit'
    };
</script>

<link href="~/css/Pages/SingleDocumentSearch.css" rel="stylesheet" />
<script src="https://apis.google.com/js/platform.js" async defer></script>
<head>
    <meta charset="utf-8" />
</head>
<div lang="pt-br" class="panel" ng-controller="SingleSearchCntrl">
    <div class="modal fade ConsultaAvancada" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Parâmetros da consulta de veículo</h4>
                </div>
                <div class="modal-body">

                    <div class="alert alert-danger" ng-show="ShowErroParam">
                        <div class="bg-red alert-icon">
                            <i class="glyph-icon icon-times"></i>
                        </div>
                        <div class="alert-content">
                            <h4 class="alert-title">{{'Error'| translate}}</h4>
                            <p> {{ErroParam }}</p>
                        </div>
                    </div>

                    <form class="form-horizontal bordered-row" id="demo-form" name="fmUser" enctype="multipart/form-data">
                        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label hidden-xs"></label>
                                    <div class="col-sm-9">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="objConsultaAvancada.PesquisaCompleta" ng-click="PesquisaCompleta(objConsultaAvancada.PesquisaCompleta)" name="IsAgregado" id="IsAgregado">
                                                Selecionar todos
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label hidden-xs"></label>
                                    <div class="col-sm-9">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="objConsultaAvancada.DadosVeic" ng-click="objConsultaAvancada.PesquisaCompleta = false" name="IsAgregado" id="IsAgregado">
                                                Dados do veículo
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label hidden-xs"></label>
                                    <div class="col-sm-9">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="objConsultaAvancada.DadosProp" ng-click="objConsultaAvancada.PesquisaCompleta = false" name="IsAgregado" id="IsAgregado">
                                                Dados do proprietário
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label hidden-xs"></label>
                                    <div class="col-sm-9">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="objConsultaAvancada.ArrendarioFinanceira" ng-click="objConsultaAvancada.PesquisaCompleta = false" name="IsAgregado" id="IsAgregado">
                                                Arrendatário / Financeira
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label hidden-xs"></label>
                                    <div class="col-sm-9">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="objConsultaAvancada.IntencaoGravame" ng-click="objConsultaAvancada.PesquisaCompleta = false" name="IsAgregado" id="IsAgregado">
                                                Intenção de gravame
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label hidden-xs"></label>
                                    <div class="col-sm-9">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="objConsultaAvancada.Restricoes" ng-click="objConsultaAvancada.PesquisaCompleta = false" name="IsAgregado" id="IsAgregado">
                                                Restrições
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label hidden-xs"></label>
                                    <div class="col-sm-9">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="objConsultaAvancada.InspecaoVeicular" ng-click="objConsultaAvancada.PesquisaCompleta = false" name="IsAgregado" id="IsAgregado">
                                                Inspeção veicular
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label hidden-xs"></label>
                                    <div class="col-sm-9">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="objConsultaAvancada.BloqueiosDetran" ng-click="objConsultaAvancada.PesquisaCompleta = false" name="IsAgregado" id="IsAgregado">
                                                Bloqueios Detran
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label hidden-xs"></label>
                                    <div class="col-sm-9">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="objConsultaAvancada.DetalhamentoDebitos" ng-click="objConsultaAvancada.PesquisaCompleta = false" name="IsAgregado" id="IsAgregado">
                                                Detalhamento dos débitos
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label hidden-xs"></label>
                                    <div class="col-sm-9">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="objConsultaAvancada.DetalhamentoIPVA" ng-click="objConsultaAvancada.PesquisaCompleta = false" name="IsAgregado" id="IsAgregado">
                                                Detalhamento dos débitos - IPVA
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label hidden-xs"></label>
                                    <div class="col-sm-9">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="objConsultaAvancada.DetalhamentoDPVAT" ng-click="objConsultaAvancada.PesquisaCompleta = false" name="IsAgregado" id="IsAgregado">
                                                Detalhamento dos débitos - DPVAT
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label hidden-xs"></label>
                                    <div class="col-sm-9">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="objConsultaAvancada.DetalhamentoMultas" ng-click="objConsultaAvancada.PesquisaCompleta = false" name="IsAgregado" id="IsAgregado">
                                                Detalhamento das multas
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                        </div>                       

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{'Close'| translate}}</button>
                    <button type="button" class="btn btn-primary" ng-click="SalvarParametros(objConsultaAvancada)" >{{'Savechanges'| translate}}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade ConsultaAvancadaPesquisa" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Parâmetros dessa consulta</h4>
                </div>
                <div class="modal-body">                  

                    <form class="form-horizontal bordered-row" id="demo-form" name="fmUser" enctype="multipart/form-data">                       

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label hidden-xs"></label>
                                    <div class="col-sm-9">
                                        <div class="checkbox" ng-readonly="ShowOpcoesDaConsulta">
                                            <label>
                                                <input type="checkbox" disabled="disabled" ng-model="objConsultaAvancadaPesquisa.DadosVeic" name="IsAgregado" id="IsAgregado" >
                                                Dados do veículo
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label hidden-xs"></label>
                                    <div class="col-sm-9">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="objConsultaAvancadaPesquisa.DadosProp" name="IsAgregado" id="IsAgregado" disabled="disabled">
                                                Dados do proprietário
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label hidden-xs"></label>
                                    <div class="col-sm-9">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="objConsultaAvancadaPesquisa.ArrendarioFinanceira" name="IsAgregado" id="IsAgregado" disabled="disabled">
                                                Arrendatário / Financeira
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label hidden-xs"></label>
                                    <div class="col-sm-9">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="objConsultaAvancadaPesquisa.IntencaoGravame" name="IsAgregado" id="IsAgregado" disabled="disabled">
                                                Intenção de gravame
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label hidden-xs"></label>
                                    <div class="col-sm-9">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="objConsultaAvancadaPesquisa.Restricoes" name="IsAgregado" id="IsAgregado" disabled="disabled">
                                                Restrições
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label hidden-xs"></label>
                                    <div class="col-sm-9">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="objConsultaAvancadaPesquisa.InspecaoVeicular"  name="IsAgregado" id="IsAgregado" disabled="disabled">
                                                Inspeção veicular
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label hidden-xs"></label>
                                    <div class="col-sm-9">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="objConsultaAvancadaPesquisa.BloqueiosDetran"  name="IsAgregado" id="IsAgregado" disabled="disabled">
                                                Bloqueios Detran
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label hidden-xs"></label>
                                    <div class="col-sm-9">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="objConsultaAvancadaPesquisa.DetalhamentoDebitos" name="IsAgregado" id="IsAgregado" disabled="disabled">
                                                Detalhamento dos débitos
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label hidden-xs"></label>
                                    <div class="col-sm-9">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="objConsultaAvancadaPesquisa.DetalhamentoIPVA" name="IsAgregado" id="IsAgregado" disabled="disabled">
                                                Detalhamento dos débitos - IPVA
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label hidden-xs"></label>
                                    <div class="col-sm-9">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="objConsultaAvancadaPesquisa.DetalhamentoDPVAT"  name="IsAgregado" id="IsAgregado" disabled="disabled">
                                                Detalhamento dos débitos - DPVAT
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label hidden-xs"></label>
                                    <div class="col-sm-9">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="objConsultaAvancadaPesquisa.DetalhamentoMultas" name="IsAgregado" id="IsAgregado" disabled="disabled">
                                                Detalhamento das multas
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{'Close'| translate}}</button>
                </div>
            </div>
        </div>
    </div>


    <div style="padding:5px 5px 0px 5px; position:relative; z-index:100">
        <button class="btn btn-default btn-sm float-right" title="" data-original-title="Parâmetros da consulta" data-toggle="modal" data-target=".ConsultaAvancada" ng-click="BuscaParametros()">
            <i class="glyph-icon icon-gears" data-toggle="tooltip" data-placement="top" title="Parâmetros da consulta"></i>
        </button>
    </div>
    <div class="panel-body">
        <div class="example-box-wrapper">
            <div ng-show="TMsg">
                <div class="alert alert-success">
                    <div class="bg-green alert-icon">
                        <i class="glyph-icon icon-check"></i>
                    </div>
                    <div class="alert-content">
                        <h4 class="alert-title">{{'Success'| translate}}</h4>
                        <p>{{successMsg}} </p>
                    </div>
                </div>
            </div>

            <div class="alert alert-close alert-danger" ng-show="FMsg">
                <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" ng-click="ErrorList=[]"></a>
                <div class="bg-red alert-icon">
                    <i class="glyph-icon icon-times"></i>
                </div>
                <div class="alert-content">
                    <h4 class="alert-title">{{'Error'| translate}}</h4>
                    <p> {{ErrorMsg }}</p>
                </div>
            </div>

            <form class="form-horizontal  bordered-row" id="demo-form" name="fmSearch">
                <div class="row col-md-12">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-3 control-label"> {{'DocumentCode'| translate}} </label>
                            <div class="col-md-9" data-ng-class="{ 'has-error' : fmSearch.DocumentCode.$invalid && (fmSearch.DocumentCode.$dirty || searchsubmitted)}">
                                <input type="text" ng-model="objSearch.DocumentCode" name="DocumentCode" id="DocumentCode" placeholder="{{'DocumentCode'| translate}}" required class="form-control" maxlength="250" ng-required="true">
                                <p ng-show="fmSearch.DocumentCode.$error.required && (fmSearch.DocumentCode.$dirty || searchsubmitted)" class="help-block">{{'DocumentCodeRequired'| translate}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <button type="button" class="btn btn-primary" ng-click="SearchDocument(objSearch)"> {{'Querydocument'| translate}} </button>
                                </div>

                                <div class="col-md-8" style="margin-left:0px !important; padding-left:0px !important;">
                                    <i class="glyph-icon tooltip-button demo-icon btn-primary icon-floppy-o" title="" data-original-title="Salvar PDF" ng-show="ShowPdfButton" ng-click="CreatePdf(objSearch,true,false)"></i>
                                    <i class="glyph-icon tooltip-button demo-icon btn-primary icon-file-excel-o" title="" data-original-title="Salvar Excel" ng-show="ShowPdfButton" ng-click="CreateExcel(objSearch,true)"></i>
                                    <i class="glyph-icon tooltip-button demo-icon btn-primary icon-cloud-upload" title="" data-original-title="Enviar PDF" ng-show="ShowDriveButton" ng-click="UploadToDrive()"></i>
                                    <i class="glyph-icon tooltip-button demo-icon btn-primary icon-info" title="" data-toggle="modal" data-target=".ConsultaAvancadaPesquisa" ng-show="ShowPdfButton" data-original-title="Parâmetros dessa consulta" ng-show="ShowOpcoesDaConsulta"></i>
                                    <div ng-show="ShowSaveButton" class="saveDrive" id="savetodrive-divS"></div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div ng-show="ShowPdfButton" id="invoice">
                    @Html.Partial("_DetalhesConsultaVeiculo")
                </div>

            </form>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Upload documents</h4>
                </div>
                <div class="modal-body">

                    <div ng-show="DTMsg" id="Tmsgbox">
                        <div class="alert alert-success">
                            <div class="bg-green alert-icon">
                                <i class="glyph-icon icon-check"></i>
                            </div>
                            <div class="alert-content">
                                <h4 class="alert-title">{{'Success'| translate}}</h4>
                                <p>{{DsuccessMsg}} </p>
                            </div>
                        </div>
                    </div>

                    <div class="alert alert-close alert-danger" ng-show="DFMsg" id="Fmsgbox">
                        <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" ng-click="ErrorList=[]"></a>
                        <div class="bg-red alert-icon">
                            <i class="glyph-icon icon-times"></i>
                        </div>
                        <div class="alert-content">
                            <h4 class="alert-title">{{'Error'| translate}}</h4>
                            <p> {{DErrorMsg}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <button class="btn btn-primary ng-binding" data-toggle="modal" ng-click="renderSaveZipToDrive('M')">
                                <i class="glyphicon glyphicon-upload"></i>
                                Enviar para Google Drive
                            </button>
                            <div ng-show='ShowSaveButton' id='savetodrive-divM'></div>
                        </div>
                        <div class="col-md-6 text-center">
                            <button class="btn btn-primary ng-binding" data-toggle="modal" ng-click="renderSaveToDroupBox()">
                                <i class="fa fa-dropbox"></i>
                                Enviar para dropbox
                            </button>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                </div>
            </div>

        </div>
    </div>

</div>
<script src="~/assets/bootstrap/js/bootbox.min.js"></script>