
@{
    ViewData["Title"] = "UploadDocuments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel" ng-controller="UploadDocumentCntrl">
    <div class="panel-body">
        <div class="example-box-wrapper">
            <div ng-show="TMsg">
                <div class="alert alert-success">
                    <div class="bg-green alert-icon">
                        <i class="glyph-icon icon-check"></i>
                    </div>
                    <div class="alert-content">
                        <h4 class="alert-title">{{'Success'| translate}}</h4>
                        <p>{{successMsg}} </p>
                    </div>
                </div>
            </div>

            <div class="alert alert-close alert-danger" ng-show="FMsg">
                <a href="#" title="Close" class="glyph-icon alert-close-btn icon-remove" ng-click="ErrorList=[]"></a>
                <div class="bg-red alert-icon">
                    <i class="glyph-icon icon-times"></i>
                </div>
                <div class="alert-content">
                    <h4 class="alert-title">{{'Error'| translate}}</h4>
                    <p> {{ErrorMsg }}</p>

                </div>
            </div>

            <div class="row col-md-12">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-sm-3 control-label"> Imagem </label>
                        <div class="col-sm-6">
                            <input type="file" id="fUpload" required />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">&nbsp;</label>
                        <div class="col-sm-6">
                            <button type="button" class="btn btn-primary" ng-click="UploadToDrive()"> Enviar para Google Drive </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/js/googleapi.js"></script>
<script type="text/javascript" src="~/js/upload.js"></script>

